<form method="post" action="{{ path('app_appoinment_delete', {'id': appointment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.id) }}">
    <button class="btn">Delete</button>
</form>
