{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
    <h1>Edit Appointment</h1>

    {{ include('appoinment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_appoinment_index') }}">back to list</a>

    {{ include('appoinment/_delete_form.html.twig') }}
{% endblock %}
