{% extends 'base.html.twig' %}

{% block title %}Mis citas{% endblock %}

{% block body %}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>

<div class="col-md-19 ">

    {{ render(controller('App\\Controller\\NotificationBarController::index' )) }}

    <div class="content-list">
        <div class="col-23 mx-auto m-t-7">
            <div class="row">
                <div class="row">
                    <div class="txt-header">
                        <h1>Mis citas</h1>
                        <h3>Consulta, modificación y creación de tus citas.</h3>
                    </div>
                    {{ include('appoinment/_head.html.twig') }}
                    <div class="d-flex justify-content-end actions-buttons">
                        {# <a class="btn btn-secondary btn-new btn-operator" href="{{ path('app_appoinment_new') }}">Nueva
                            cita</a> #}
                    </div>
                </div>
            </div>
            <div id='calendar'></div>
        </div>
    </div>
</div>
 <!-- Modal -->
 <div class="modal" id="modalCalendario" tabindex="-1" aria-labelledby="modalCalendario" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h1 class="modal-title fs-5" id="modalCalendarioTitle">Nuevo aspirante con clave</h1>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="$('#modalCalendario').modal('hide');" ></button>
            </div>
            <div class="modal-body">
                <h3>Seleccionar horarios disponibles</h3>
                <hr>
                <h3>Otras opciones</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="$('#modalCalendario').modal('hide');" >Cancelar</button>
                <button type="button" class="btn modal-btn-anadir btn-orange">Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}