{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <h1>Appointment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ appointment.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_appoinment_index') }}">back to list</a>

    <a href="{{ path('app_appoinment_edit', {'id': appointment.id}) }}">edit</a>

    {{ include('appoinment/_delete_form.html.twig') }}
{% endblock %}
