{% extends 'base.html.twig' %}
{% block menu %}{% endblock %}
{% block body %}
    <div class="container-fluid login-wrap">
        <div class="row bg-login">
            <div class="col d-flex align-items-center justify-center">
                <div class="container ">
                    <div class="row container-form">
                        <div class="col-md-14 p-0">
                            <img class="img-fluid img-login" src="{{ asset('build/images/img-login-1.png') }}" alt="">
                        </div>
                        <div class="col-md-10 ">
                            <div class="row h-100 form-login-wrap">

                                <div class="form-login-content col-md-16 mx-auto">
                                    <div class="form-login">
                                        <div class="text text-center login-logo-wrap">
                                            <img class="img-fluid m-auto" src="{{ asset('build/images/template/logo-b.png') }}" alt="">
                                        </div>
                                        <form method="post">
                                            {% if error %}
                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}
                                            {% if app.user %}
                                                <div class="mb-3">
                                                    You are logged in as
                                                    {{ app.user.username }},
                                                    <a href="{{ path('app_logout') }}">Logout</a>
                                                </div>
                                            {% endif %}
                                            <h1 class=" mb-3 font-weight-normal m-t-4 text-center">
                                                ¡Bienvenido!
                                            </h1>
                                            <h3 class="m-b-7 text-center">
                                                Ingresa tus datos para acceder
                                            </h3>

                                            <input placeholder="Correo Electrónico" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>

                                            <div class="password-container m-t-2">
                                                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Contraseña">
                                                <a href="#" id="toggle-password">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </div>
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                            <button class="btn btn-lg btn-primary m-t-5" type="submit">
                                                Entrar
                                            </button>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-24 footer-login">
                                    <a href="{{ path('app_home') }}">AVISO DE PRIVACIDAD</a>
                                    <a href="{{ path('app_home') }}">TÉRMINOS DE USO</a>
                                    <p>©{{ "now"|date('Y')}} Roel Education. Derechos reservados</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block whatsappbutton %}{% endblock %}