<div class="col-md-4 menu-wrap menu-cont">

	<div class="logo text-center">
		<a href="{{ path('app_candidate_index') }}"><img class="img-fluid img-login" src="{{ asset('build/images/template/logo-w.png') }}" alt=""></a>
	</div>
	<div class="user text-center m-t-5 cont-user-ima">
		<img src="{{ (vich_uploader_asset(app.user, 'imageFile') ? vich_uploader_asset(app.user, 'imageFile') | url_encode | imagine_filter('profile_thumbnail') : asset('build/images/template/logo-w.png')) }}" class="img-fluid img-login" alt=""></div>
	<div class="menu m-t-2 roles-menu" data-is-operador="{{ is_granted('ROLE_OPERADOR')}}">
		<ul>
			{% for item in menu %}
				<li class="{{ item.route }}">
					<a href="{{ path(item.route) }}">
						{% include 'svg/'~item.icon~'.html.twig' %}
						<span>{{ item.label }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
		<ul class="nav-helper">
			{% for item in menuHelper %}
				{% set routeLink = item.route is defined ? path(item.route) : item.routePath %}
				<li class="">
					<a href="{{ routeLink }}" class={{ item.css }}>
						{% set assetRoute = 'build/images/ico/'~item.icon~'.svg' %}
						<div class="ico-wrap">
							<img src="{{ asset(assetRoute) }}">
						</div>
						<span>{{ item.label }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
		<ul></div>
		<div class="cont-logout ">
			{% if not is_granted('ROLE_OPERADOR') %}
				<ul class="ww-coontact m-b-5">
					<li class="">
						<a href="https://wa.me/" target="_blank" class="">
							<img class="img-fluid" src="{{ asset('build/images/ww.png') }}" alt="WhatsApp">
							Contactar asesor
						</a>
					</li>
				</ul>
			{% endif %}
			<div class="d-flex justify-content-center">
				<div class=" w-100">
					<a href="{{ path('app_logout') }}" class="d-flex align-items-center justify-center logout m-x-3">
						<img class="img-fluid m-x-1 " src="{{ asset('build/images/ico/out.svg') }}" alt="">
						Cerrar sesión
					</a>
					<hr class="m-t-2 m-b-1">
					<div class="info-user d-flex justify-content-center align-items-center m-x-3 p-x-">
						<p class=" data-user ">
							<span class="fw-bold">{{app.user.name}}
								{{app.user.lastName}}</span>
							<br>
							{{app.user.email}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
