
.main-form-style {
  //width: 99%;
  /*    padding: 2rem;*/
  h3 {
    color: #44B900;
    position: relative;

    &.error {
      color: $red;

      &:after {
        background-color: $red;
      }
    }

    &:after {
      position: absolute;
      content: "";
      width: 1.8rem;
      height: 15%;
      left: -2.5rem;
      background-color: #44B900;
      top: 42.5%;
    }

    button {
      color: #44B900;
      font-size: 1.6rem;
    }
  }

  .border-left {
    border-left: 2px solid #E1E1E1;
  }

  .disabled-section {
    .form-group {
      .form-label {
        color: $gray-200;
      }
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .form-select {
      color: $gray-200;
    }
  }

  .validate-section {
    .form-group {
      .form-label {
        color: #44B900;
      }

    }

    .form-group {
      border: 2px solid #44B900;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .form-select {
      color: #44B900;
    }
  }


  .form-group {
    border: 2px solid $gray-200;
    border-radius: .4rem;
    padding: .6rem;
    margin: 1rem 0;

    label {
      color: #3B741A;
    }

    .required:after {
      content: '*';
      margin-left: 3px;
      color: red;
      font-weight: bold;
    }

    ::placeholder {
      color: #7F8782;
    }

    /*textarea{
        background-color: #F5F5F5;
    }*/

  }

  .form-group.money {
    input {
      padding-left: 25px;
    }

    i {
      position: absolute;
      display: block;
      transform: translate(0, -50%);
      top: 50%;
      pointer-events: none;
      width: 25px;
      text-align: center;
      font-style: normal;
    }

  }

  .btn-primary {
    width: 100%;
    padding: 1.3rem;
    font-size: 1.3rem;

    &.add {
      background-color: #EEFFE4;
      color: $green;
    }

    &.c-exitente {
      background-color: white;
      color: #3B741A;

      .m-x-1 {
        background: #CFEDBE;
      }
    }
  }

  .form-group:focus-within {
    border: 2px solid $green;

    label {
      color: $green;
    }
  }

  .form-select {
    border: none;
  }

  .form-group > label {
    position: absolute;
    top: 0;
    left: 2rem;
    transform: translateY(-50%);
    background-color: white;
    z-index: 2;
    padding: .2rem .5rem;
  }

  .form-group > input,
  .form-group > input:focus,
  .form-group > textarea,
  .form-group > textarea:focus {
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .input-group-text {
    background-color: transparent;
    border: none;
    width: 1.5rem;
    padding-left: .5rem;
    padding-right: 0;
  }

  .select2 {
    &-container {
      &--default {
        .select2-selection--single {
          border: none;
        }

        .select2-results__option--highlighted.select2-results__option--selectable {
          background-color: $primary;
        }

        .select2-search--dropdown {
          .select2-search__field {
            outline: 2px solid $primary;
          }
        }
      }

      &--open {
        .select2-dropdown--below {
          border-top: 1px solid #aaa;
        }
      }
    }
  }

  select[readonly],
  input[readonly],
  textarea[readonly] {
    pointer-events: none;
    cursor: default;
  }
}

.content-wrapper {
  .form-wrap.main-form-style {
    width: 99%;
  }
}

.select2-dropdown--below {
  border: none;
  box-shadow: 5px 5px 15px 5px #E1E1E1;
  padding: 1rem;
}

.select2-selection__arrow {
  b {
    background-image: url('../../images/icons/arrow.svg');
  }
}

.actions-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn.new {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  font-size: 12px;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.btn-export {
  background-color: white;
  color: #333;
  border: 1px solid #7F8782;
  border-radius: 10px;
  margin-right: 1rem;
}

.poliza {
  width: 130px !important;
}

.save {
  background-color: #3B741A;
  border-radius: 10px;
  width: 136px;
  height: 40px;
  color: #FFFFFF;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;

}

.cancel {
  background: #FFFFFF;
  border: 1px solid #F10000;
  border-radius: 10px;
  width: 136px;
  height: 40px;
  color: #F10000;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  margin-right: 1rem;
}

.return {
  background: #FFFFFF;
  border: 1px solid #FF782A;
  border-radius: 10px;
  width: 136px;
  height: 40px;
  color: #FF782A;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  margin-right: 1rem;
}

.subway-item::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #69b6d5;
}

.form-check.form-switch {
  display: flex;
  padding-left: 0;

  .reverse-order.form-check-input {
    float: none;
    margin-left: 1rem;
    order: 1;
  }
}

#policy_loyalty_privacy_policy .form-switch{
  padding-left: 2.5rem;
}
.parsley-error {
  color: #B94A48;
  //background-color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  height: 51px !important;
}

.filepond--credits {
  display: none;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

select[readonly] {
  &.select2-hidden-accessible {
    & + .select2-container {
      pointer-events: none;
      touch-action: none;

      .select2-selection {
        box-shadow: none;
      }

      .select2-selection__arrow,
      .select2-selection__clear {
        display: none;
      }
    }
  }
}
*

  .sub-accordion .form-group{
    border-radius: 0.4rem !important;
  }



