<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Roel Education</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('build/images/icons/favicon-fs.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('build/images/icons/TI-SA.png') }}">
    <link rel="javascritp" href="{{ asset('javascripts/jscolor.min.js') }}">
    <link href="https://fonts.cdnfonts.com/css/sf-ui-display" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
</head>
<body class="movile-app">
<header class="header">
    <div class="logo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-18 mx-auto">
                    <img src="{{ asset('build/images/xs/logo.png') }}" alt="Roel Education Logo" class="img- img-fluid">


                </div>
            </div>
        </div>
    </div>
</header>
<section class="hero">
    <img src="{{ asset('build/images/xs/hero-image.png') }}" alt="Estudiantes" class="hero-image">
    <div class="hero-content">
        <h2>Conecta con Oportunidades Educativas Internacionales</h2>
        <p class="m-t-1 m-b-3">Encuentra la institución perfecta para tus objetivos, gestiona tu proceso de admisión y
            alcanza tus metas educativas con Roel Education.</p>
        <a href="#" class="btn-primary">COMIENZA AHORA</a>
    </div>
</section>


<section class="benefits p-b-0">
    <h3>¿Por qué usar Roel Education?</h3>
    <div class="benefit">
        <img src="{{ asset('build/images/xs/icon-school.png') }}" alt="Escuela">
        <p>
            Encuentra tu escuela ideal:
            Explora opciones que se ajusten a tus metas.</p>
    </div>
    <div class="benefit">
        <img src="{{ asset('build/images/xs/icon-documents.png') }}" alt="Gestión">
        <p>
            Gestión centralizada:
            Desde documentos hasta seguimiento del proceso, todo en un solo lugar.</p>
    </div>
    <div class="benefit">
        <img src="{{ asset('build/images/xs/icon-efficiency.png') }}" alt="Eficiencia">
        <p>
            Proceso eficiente:
            Ahorra tiempo y encuentra toda la información que necesites.</p>
    </div>
</section>


<section class="app p-t-0">
    <img src="{{ asset('build/images/xs/app-preview.png') }}" alt="App Preview" class="app-preview">
    <a href="#" class="btn-primary">DESCARGA LA APP AHORA</a>
    <div class="store-links">
        <a href="#"><img src="{{ asset('build/images/xs/app-store.png') }}" alt="App Store"></a>
        <a href="#"><img src="{{ asset('build/images/xs/google-play.png') }}" alt="Google Play"></a>
    </div>
</section>


<footer class="footer">
    <div class="footer-logo w-75 mx-auto">
        <img src="{{ asset('build/images/xs/logo-footer.png') }}" alt="Roel Education Footer Logo" class="i img-fluid">
    </div>
    <hr>
    <p class="m-t-2">
    <p>©{{ "now"|date('Y') }} Roel Education | Derechos reservados</p></p>
</footer>
</body>
</html>
