<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.7023 12.0912C20.245 12.0912 20.6849 11.6513 20.6849 11.1086C20.6849 10.5659 20.245 10.126 19.7023 10.126C19.1597 10.126 18.7197 10.5659 18.7197 11.1086C18.7197 11.6513 19.1597 12.0912 19.7023 12.0912Z" fill="#4A6B8B"/>
<path d="M21.9625 2.75622H20.6851V1.77362C20.6851 1.23093 20.2452 0.791016 19.7025 0.791016C19.1598 0.791016 18.7199 1.23093 18.7199 1.77362V2.75622H14.249V1.77362C14.249 1.23093 13.8091 0.791016 13.2664 0.791016C12.7237 0.791016 12.2838 1.23093 12.2838 1.77362V2.75622H7.86213V1.77362C7.86213 1.23093 7.42222 0.791016 6.87953 0.791016C6.33684 0.791016 5.89693 1.23093 5.89693 1.77362V2.75622H4.66868C2.50146 2.75622 0.738281 4.51939 0.738281 6.68662V22.0152C0.738281 24.1824 2.50146 25.9456 4.66868 25.9456H12.1856C12.7283 25.9456 13.1682 25.5057 13.1682 24.963C13.1682 24.4203 12.7283 23.9804 12.1856 23.9804H4.66868C3.58507 23.9804 2.70348 23.0988 2.70348 22.0152V6.68662C2.70348 5.60301 3.58507 4.72142 4.66868 4.72142H5.89693V5.70402C5.89693 6.24671 6.33684 6.68662 6.87953 6.68662C7.42222 6.68662 7.86213 6.24671 7.86213 5.70402V4.72142H12.2838V5.70402C12.2838 6.24671 12.7237 6.68662 13.2664 6.68662C13.8091 6.68662 14.249 6.24671 14.249 5.70402V4.72142H18.7199V5.70402C18.7199 6.24671 19.1598 6.68662 19.7025 6.68662C20.2452 6.68662 20.6851 6.24671 20.6851 5.70402V4.72142H21.9625C23.0461 4.72142 23.9277 5.60301 23.9277 6.68662V12.2874C23.9277 12.8301 24.3676 13.27 24.9102 13.27C25.4529 13.27 25.8929 12.8301 25.8929 12.2874V6.68662C25.8929 4.51939 24.1297 2.75622 21.9625 2.75622Z" fill="#4A6B8B" stroke="#4A6B8B" stroke-width="0.4"/>
<path d="M19.9477 14.0566C16.6697 14.0566 14.0029 16.7234 14.0029 20.0014C14.0029 23.2793 16.6697 25.9461 19.9477 25.9461C23.2256 25.9461 25.8924 23.2793 25.8924 20.0014C25.8924 16.7234 23.2256 14.0566 19.9477 14.0566ZM19.9477 23.9809C17.7534 23.9809 15.9681 22.1957 15.9681 20.0014C15.9681 17.807 17.7534 16.0218 19.9477 16.0218C22.142 16.0218 23.9272 17.807 23.9272 20.0014C23.9272 22.1957 22.142 23.9809 19.9477 23.9809Z" fill="#4A6B8B" stroke="#4A6B8B" stroke-width="0.4"/>
<path d="M21.3732 19.0182H20.931V17.9865C20.931 17.4438 20.4911 17.0039 19.9484 17.0039C19.4057 17.0039 18.9658 17.4438 18.9658 17.9865V20.0008C18.9658 20.5435 19.4057 20.9834 19.9484 20.9834H21.3732C21.9159 20.9834 22.3558 20.5435 22.3558 20.0008C22.3558 19.4581 21.9159 19.0182 21.3732 19.0182Z" fill="#4A6B8B" stroke="#4A6B8B" stroke-width="0.4"/>
<path d="M15.4279 12.0912C15.9706 12.0912 16.4105 11.6513 16.4105 11.1086C16.4105 10.5659 15.9706 10.126 15.4279 10.126C14.8852 10.126 14.4453 10.5659 14.4453 11.1086C14.4453 11.6513 14.8852 12.0912 15.4279 12.0912Z" fill="#4A6B8B"/>
<path d="M11.1535 16.3656C11.6962 16.3656 12.1361 15.9257 12.1361 15.383C12.1361 14.8403 11.6962 14.4004 11.1535 14.4004C10.6108 14.4004 10.1709 14.8403 10.1709 15.383C10.1709 15.9257 10.6108 16.3656 11.1535 16.3656Z" fill="#4A6B8B"/>
<path d="M6.87908 12.0912C7.42176 12.0912 7.86169 11.6513 7.86169 11.1086C7.86169 10.5659 7.42176 10.126 6.87908 10.126C6.33641 10.126 5.89648 10.5659 5.89648 11.1086C5.89648 11.6513 6.33641 12.0912 6.87908 12.0912Z" fill="#4A6B8B"/>
<path d="M6.87908 16.3656C7.42176 16.3656 7.86169 15.9257 7.86169 15.383C7.86169 14.8403 7.42176 14.4004 6.87908 14.4004C6.33641 14.4004 5.89648 14.8403 5.89648 15.383C5.89648 15.9257 6.33641 16.3656 6.87908 16.3656Z" fill="#4A6B8B"/>
<path d="M6.87908 20.64C7.42176 20.64 7.86169 20.2001 7.86169 19.6574C7.86169 19.1147 7.42176 18.6748 6.87908 18.6748C6.33641 18.6748 5.89648 19.1147 5.89648 19.6574C5.89648 20.2001 6.33641 20.64 6.87908 20.64Z" fill="#4A6B8B"/>
<path d="M11.1535 20.64C11.6962 20.64 12.1361 20.2001 12.1361 19.6574C12.1361 19.1147 11.6962 18.6748 11.1535 18.6748C10.6108 18.6748 10.1709 19.1147 10.1709 19.6574C10.1709 20.2001 10.6108 20.64 11.1535 20.64Z" fill="#4A6B8B"/>
<path d="M11.1535 12.0912C11.6962 12.0912 12.1361 11.6513 12.1361 11.1086C12.1361 10.5659 11.6962 10.126 11.1535 10.126C10.6108 10.126 10.1709 10.5659 10.1709 11.1086C10.1709 11.6513 10.6108 12.0912 11.1535 12.0912Z" fill="#4A6B8B"/>
</svg>
