<?xml version="1.0" encoding="UTF-8"?>
<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.81 25.47">
  <defs>
    <style>
      .cls-1 {
        fill: #4A6B8B;
        stroke-width: 0px;
      }
    </style>
  </defs>
  <path class="cls-1" d="M4.13,11.05v8.24h-1.03c-.14,0-.27.02-.4.07-.13.05-.24.13-.34.22-.1.1-.17.21-.23.34-.05.13-.08.26-.08.4s.03.27.08.4c.05.13.13.24.23.34.1.1.21.17.34.22.13.05.26.08.4.07h20.6c.14,0,.27-.02.4-.07.13-.05.24-.13.34-.22.1-.1.17-.21.23-.34.05-.13.08-.26.08-.4s-.03-.27-.08-.4c-.05-.13-.13-.24-.23-.34-.1-.1-.21-.17-.34-.22-.13-.05-.26-.08-.4-.07h-1.03v-8.24h-2.06v8.24h-2.06v-8.24h-2.06v8.24h-2.06v-8.24h-2.06v8.24h-2.06v-8.24h-2.06v8.24h-2.06v-8.24h-2.06ZM1.04,23.41c-.14,0-.27.02-.4.07-.13.05-.24.13-.34.22-.1.1-.17.21-.23.34-.05.13-.08.26-.08.4s.03.27.08.4c.05.13.13.24.23.34.1.1.21.17.34.22.13.05.26.08.4.07h24.72c.14,0,.27-.02.4-.07.13-.05.24-.13.34-.22.1-.1.17-.21.23-.34.05-.13.08-.26.08-.4s-.03-.27-.08-.4c-.05-.13-.13-.24-.23-.34-.1-.1-.21-.17-.34-.22-.13-.05-.26-.08-.4-.07H1.04Z"/>
  <path class="cls-1" d="M24.74,9.74H2.08c-.47,0-.92-.19-1.26-.52s-.52-.78-.52-1.26c0-.35.1-.7.3-.99.2-.29.47-.52.8-.66L12.56.21c.52-.28,1.17-.28,1.68,0l11.24,6.14c.26.11.53.33.73.62.2.29.3.63.3.98,0,.48-.19.93-.52,1.26-.34.34-.78.52-1.26.52ZM13.29,1.52h-.02S2.04,7.66,2.04,7.66c-.12.06-.17.09-.2.14-.03.05-.05.1-.05.16,0,.07.03.15.08.2.05.05.12.08.2.08h22.66c.08,0,.15-.03.2-.08.05-.05.08-.12.08-.2,0-.05-.02-.11-.05-.16-.03-.04-.07-.08-.12-.1L13.53,1.53c-.07-.04-.17-.04-.24,0ZM13.41,7.68c-1.27,0-2.29-1.03-2.29-2.29s1.03-2.29,2.29-2.29,2.3,1.03,2.3,2.29-1.03,2.29-2.3,2.29ZM13.41,4.59c-.44,0-.79.36-.79.79s.36.79.79.79.8-.36.8-.79-.36-.79-.8-.79Z"/>
</svg>