<svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.21922 19.4483C5.74695 19.4483 5.3337 19.4483 4.91202 19.4483C2.60967 19.4314 0.830188 17.6519 0.821755 15.3495C0.813321 11.7906 0.813321 8.2232 0.821755 4.64738C0.821755 2.34502 2.60123 0.557106 4.90359 0.557106C11.1866 0.548673 17.4696 0.548673 23.7441 0.557106C26.0212 0.557106 27.8007 2.35345 27.8091 4.63051C27.8175 8.21477 27.8175 11.799 27.8091 15.3748C27.8007 17.6519 26.0128 19.4398 23.7357 19.4483C20.5478 19.4567 17.3599 19.4567 14.1721 19.4483C13.6576 19.4483 13.2275 19.5832 12.8143 19.8952C11.3974 20.9832 9.96372 22.0374 8.53845 23.1084C8.05774 23.4711 7.56016 23.6397 6.97824 23.3445C6.40476 23.0578 6.21079 22.5687 6.21922 21.953C6.22766 21.1434 6.21922 20.3338 6.21922 19.4483ZM8.91796 19.4483C9.75288 18.8242 10.5288 18.2676 11.2709 17.6856C12.1143 17.0278 13.0588 16.7411 14.1299 16.7411C17.3093 16.7579 20.4804 16.7495 23.6598 16.7411C24.5622 16.7411 25.1019 16.2013 25.1104 15.2989C25.1188 11.7737 25.1104 8.2485 25.1104 4.71485C25.1104 3.80402 24.5791 3.25584 23.6767 3.25584C17.4358 3.25584 11.195 3.25584 4.96263 3.25584C4.08554 3.25584 3.53736 3.80402 3.53736 4.67268C3.52892 8.21477 3.52892 11.7569 3.53736 15.2989C3.53736 16.1929 4.08554 16.7327 4.98793 16.7411C5.81441 16.7495 6.64934 16.7411 7.47582 16.7411C8.36135 16.7495 8.91796 17.2977 8.92639 18.1832C8.91796 18.5796 8.91796 18.9675 8.91796 19.4483Z" fill="#4A6B8B"/>
<path d="M14.3153 11.3517C13.5731 11.3517 12.9575 10.7276 12.9659 9.97703C12.9743 9.25175 13.59 8.64453 14.3153 8.64453C15.0574 8.64453 15.6731 9.26861 15.6646 10.0192C15.6562 10.7445 15.0406 11.3517 14.3153 11.3517Z" fill="#4A6B8B"/>
<path d="M19.7295 8.65341C20.4632 8.66184 21.0536 9.26905 21.0536 10.0028C21.0536 10.7534 20.4379 11.369 19.6958 11.3606C18.9705 11.3521 18.3633 10.7449 18.3633 10.0112C18.3633 9.26062 18.9789 8.64497 19.7295 8.65341Z" fill="#4A6B8B"/>
<path d="M8.9266 11.3521C8.17602 11.3521 7.5688 10.7364 7.57724 9.98582C7.58567 9.2521 8.18445 8.65332 8.91817 8.65332C9.66876 8.65332 10.276 9.26897 10.2675 10.0196C10.2591 10.7533 9.65189 11.3521 8.9266 11.3521Z" fill="#4A6B8B"/>
</svg>

