<?xml version="1.0" encoding="UTF-8"?>
<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 13 13">
  <!-- Generator: Adobe Illustrator 29.0.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 192)  -->
  <defs>
    <style>
      .st0 {
        fill: #fff;
      }
    </style>
  </defs>
  <g id="Layer_1-2">
    <g>
      <path class="st0" d="M4,11.6v-5.1s2.3-2.3,2.3-2.3V1.5c.7-.2,1.4.2,2.1,0v1.3s-.1,0-.2,0c-.5,0-.9,0-1.4,0,0,0-.2,0-.2,0v1.4l2.3,2.2v5.2s-1.3,0-1.3,0v-2.2c-.3-1.1-1.9-1.2-2.2,0v2.3h-1.4,0ZM6.3,5.1c-1.4.2-1.3,2.3,0,2.4,1.9.3,1.9-2.6,0-2.4Z"/>
      <path class="st0" d="M0,11.6c0,0-.1-.2,0-.3,0,0,.1,0,.1,0h.7v-4.7H.1c-.1-.4-.1-.6.1-.9.4-.4.9-.7,1.3-1.1h3.8l-1.6,1.6v5.4H0ZM1.8,7.4c0,0,0,0,0,.2,0,.1,0,1,0,1,0,.1.6.1.8.1,0,0,.5,0,.5-.1,0-.3,0-.7,0-1,0,0,0-.1,0-.1h-1.2,0ZM1.9,9.1s-.1,0-.1.1c0,.3,0,.7,0,1,0,0,0,.2.2.2.2,0,.8,0,1,0,0,0,.2-.1.2-.2,0-.2,0-.8,0-1,0,0,0-.1-.1-.1-.1,0-.9,0-1,0h0Z"/>
      <path class="st0" d="M9.3,11.6v-5.3s-1.7-1.7-1.7-1.7h3.8c.3.4,1.3.9,1.5,1.4.2.7-.3.6-.8.6v4.7h.7c0,0,.1.3,0,.3h-3.7,0ZM11.2,8.6s0,0,0-.1c0-.2,0-.7,0-.9,0-.1,0-.1-.2-.1-.2,0-.8,0-1,0-.1,0-.1.1-.1.2,0,.2,0,.7,0,.9,0,.2.2.2.4.2s.8,0,.9-.1h0ZM10.1,9.1c0,0-.1,0-.1.2,0,.1,0,.8,0,1,0,0,0,.2.1.2s.9,0,1,0c0,0,.2,0,.2-.1,0,0,0-.9,0-1,0,0,0-.2-.1-.2-.3,0-.7,0-1,0h0Z"/>
      <path class="st0" d="M6.3,5.5c1.2-.2,1.3,1.6.2,1.7-1.1,0-1.2-1.5-.2-1.7ZM6.6,6.2c0,0,0-.6-.2-.5-.1.1-.1.5,0,.7.2,0,.5,0,.7,0,0,0,0,0,0-.1-.1,0-.3,0-.4,0h0Z"/>
    </g>
  </g>
</svg>