<svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.3158 1.38867C7.48501 1.38867 1.11426 7.75943 1.11426 15.5902C1.11426 23.4209 7.48501 29.7917 15.3158 29.7917C23.1465 29.7917 29.5172 23.4209 29.5172 15.5902C29.5172 7.75943 23.1465 1.38867 15.3158 1.38867ZM15.3158 28.1274C8.40268 28.1274 2.7785 22.5032 2.7785 15.5902C2.7785 8.67709 8.40268 3.05291 15.3158 3.05291C22.2288 3.05291 27.853 8.67709 27.853 15.5902C27.853 22.5032 22.2288 28.1274 15.3158 28.1274Z" fill="#4A6B8B" stroke="#4A6B8B" stroke-width="0.8"/>
<path d="M15.316 16.3665C18.5279 16.3665 21.1409 13.7534 21.1409 10.5416C21.1409 7.32982 18.5279 4.7168 15.316 4.7168C12.1042 4.7168 9.49121 7.32982 9.49121 10.5416C9.49121 13.7534 12.1042 16.3665 15.316 16.3665ZM15.316 6.38103C17.6102 6.38103 19.4766 8.24748 19.4766 10.5416C19.4766 12.8358 17.6102 14.7022 15.316 14.7022C13.0219 14.7022 11.1554 12.8358 11.1554 10.5416C11.1554 8.24748 13.0219 6.38103 15.316 6.38103Z" fill="#4A6B8B" stroke="#4A6B8B" stroke-width="0.8"/>
<path d="M24.6713 19.9974C23.5655 18.7479 21.9753 18.0312 20.3083 18.0312H10.3229C8.65592 18.0312 7.06563 18.7479 5.95985 19.9974L5.56543 20.4432L5.85978 20.9605C7.79124 24.3548 11.4145 26.4634 15.3156 26.4634C19.2167 26.4634 22.8399 24.3548 24.7715 20.9604L25.0658 20.4431L24.6713 19.9974ZM15.3156 24.7991C12.2237 24.7991 9.33759 23.2349 7.63885 20.6777C8.38509 20.0479 9.33521 19.6955 10.3229 19.6955H20.3083C21.296 19.6955 22.2461 20.0479 22.9923 20.6777C21.2936 23.2349 18.4075 24.7991 15.3156 24.7991Z" fill="#4A6B8B" stroke="#4A6B8B" stroke-width="0.8"/>
</svg>

