<?xml version="1.0" encoding="UTF-8"?>
<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 13 13">
  <!-- Generator: Adobe Illustrator 29.0.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 192)  -->
  <defs>
    <style>
      .st0, .st1 {
        fill: #fff;
      }

      .st1 {
        fill-rule: evenodd;
      }
    </style>
  </defs>
  <path class="st0" d="M8.9,5.7c0,1.3-1.1,2.4-2.4,2.4s-2.4-1.1-2.4-2.4,1.1-2.4,2.4-2.4,2.4,1.1,2.4,2.4"/>
  <path class="st1" d="M13,6.5c0,3.6-2.9,6.5-6.5,6.5S0,10.1,0,6.5,2.9,0,6.5,0s6.5,2.9,6.5,6.5M3.2,11.2c.1-.2,1.4-2.2,3.2-2.2s3.1,2,3.2,2.2c1.5-1.1,2.4-2.8,2.4-4.7,0-3.1-2.5-5.7-5.7-5.7S.8,3.4.8,6.5s1,3.6,2.4,4.7"/>
</svg>