<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 40.6 25.1">
    <defs>
        <style>
            .st0 {
                fill: none;
            }

            .st1 {
                fill: #fff;
            }

            .st2 {
                clip-path: url(#clippath);
            }
        </style>
        <clipPath id="clippath">
            <rect class="st0" width="40.6" height="25.1"/>
        </clipPath>
    </defs>
    <g class="st2">
        <path class="st1" d="M30.2,3.6L20.5,0h-.1s-.1,0-.1,0l-9.7,3.6L.6,7.3l2.1.8,2.4.9c-.5,1-1,2.9-.4,6.2-.5.2-.9.7-.9,1.3s.2.8.5,1c-.3,3.6-2.7,4.1-3.5,4.2-.3,0-.5.2-.5.4-.3,1,2.6,2.1,4.2,2.6.7.2,1.5-.1,1.9-.8,1.3-2.7.4-5.3-.1-6.5.2-.2.3-.6.3-.9,0-.6-.4-1.1-.9-1.3-.2-1.3-.4-4.2.6-5.8l2.7,1c.4-1.5,3.1-2.1,4-2.3,2-.4,4.7-.7,7.7-.7s5.6.2,7.6.6c.9.2,3.5.7,4,2.2l6-2.2,2.1-.8-10-3.7Z"/>
    </g>
    <path class="st1" d="M9.7,10.8v6.3c3.1-2.1,6.8-3.3,10.8-3.3s7.7,1.2,10.8,3.3v-6.3c0-3.4-21.7-3.3-21.7,0Z"/>
</svg>
