{% if pictures|length > 0 %}

	<div class="responsive-three-columns gallery-wrap">
		{% for index, foto in pictures %}
			<div class="img-wrap">
				<a href="{{ vich_uploader_asset(foto, 'imageFile') }}" data-fancybox="gallery-pictures" data-caption="Foto {{ index }}">
					<img class="img-fluid" src="{{ vich_uploader_asset(foto, 'imageFile') }}" alt="Foto {{ index }}">
				</a>
			</div>
		{% endfor %}
	</div>

{% endif %}
