{% extends '@Turbo/stream.html.twig' %}

{% block turbo_stream %}
    <turbo-stream action="replace" target="stagesContainer">
        <template>
            {% include 'school/tab/stage_school_2.html.twig' %}
        </template>
    </turbo-stream>
{% endblock %}
