{% if videos|length > 0 %}

	<div class="responsive-three-columns gallery-wrap">
		{% for index, video in videos %}
			<div class="img-wrap">
				<a href="https://www.youtube.com/embed/{{ video.url }}" data-fancybox="gallery-videos" data-caption="Video {{ index }}" data-type="iframe">
					{% if video.file %}
						<img class="img-fluid" src="{{ vich_uploader_asset(video, 'imageFile') }}" alt="Video {{ index }}">
					{% else %}
						<img class="img-fluid" src="{{ asset('build/images/rectangle.jpg') }}" alt="Video por defecto">
					{% endif %}
					<div class="icon-video">
						<img class="img-fluid" src="{{ asset('build/images/template/icon-video.svg') }}" alt="">
					</div>
				</a>
			</div>
		{% endfor %}
	</div>

{% endif %}
