{% import _self as formMacros %}
{% macro printContact(contactForm) %}
	<div class="row">
		<div class="collection-item-wrap content-contact">
			
			<div class="col-md-24">
				{{ form_row(contactForm.name) }}
			</div>

			<div class="row">
				<div class="col-md-12">
					{{ form_row(contactForm.position) }}
				</div>

				<div class="col-md-12">
					{{ form_row(contactForm.email) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ form_row(contactForm.phoneNumber) }}
				</div>
				<div class="col-md-12">
					{{ form_row(contactForm.mobilePhoneNumber) }}
				</div>
			</div>

		</div>
	</div>
{% endmacro %}

<div class="tab-content" id="ex1-content">
	<div class="tab-pane fade" id="tab-caracteristicas" role="tabpanel" aria-labelledby="btn-tab-caracteristicas" tabindex="0">
		<div class="row">
			<div class="col-md-12 p-x-1 basic-information-wrap">
				<h3 class="m-b-3 m-t-2">DETALLES Y RECONOCIMIENTOS</h3>
				<div class="row">
					<div class="col-md-24">
						{{ form_row(form.activities) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-24">
						{{ form_row(form.sports) }}
					</div>
				</div>
				{# <div class="row">
				                    <div class="col-md-24">
				                        {{ form_row(form.skill) }}
				                    </div>
				                </div> #}

				{%  include 'school/_form_descriptions.html.twig' %}
			</div>
			<div class="col-md-12 p-x-1 basic-information-wrap contact">
				<h3 class="m-b-3 m-t-2">CONTACTOS</h3>
				<div class="default" data-entry-add-label="Agregar otro contacto"    data-index=" {{ form.contacts|length > 0 ? form.contacts|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printContact(form.contacts.vars.prototype)|e('html_attr') }}">
					{% for contac in form.contacts %}
						{{ formMacros.printContact(contac) }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
