{% import _self as formMacros %}
{% macro printGallery(galleryForm) %}
	<div class="collection-item-wrap">
		<div
			class="row">
			<div class="col-md-8">
				{{ form_row(galleryForm.name) }}
			</div>
			<div class="col-md-6">
				{{ form_row(galleryForm.type) }}
			</div>
			<div class="col-md-10">
				{{ form_row(galleryForm.url) }}
			</div>
			<div class="col-md-12">
			<div class="cont-files">
					<div class=" d-none input-file">
						{{ form_row(galleryForm.imageFile) }}
					</div>
					<div class="js-select-file file-form">
						{% if galleryForm.imageFile.vars.image_uri is defined and  galleryForm.imageFile.vars.image_uri is not null %}
							<img class="img-fluid img-user m-r-1" src="{{ asset(galleryForm.imageFile.vars.image_uri) }}"/>
						{% else %}
							<svg class="m-r-1" xmlns="http://www.w3.org/2000/svg" width="27" height="18" viewbox="0 0 27 18" fill="none">
								<path d="M15.1254 13.0281V13.0299V13.0422V13.0545V13.0668V13.0791V13.0913V13.1036V13.1159V13.1282V13.1405V13.1528V13.1651V13.1774V13.1897V13.202V13.2142V13.2265V13.2388V13.2511V13.2634V13.2756V13.2879V13.3002V13.3125V13.3248V13.337V13.3493V13.3616V13.3738V13.3861V13.3984V13.4107V13.4229V13.4352V13.4475V13.4597V13.472V13.4843V13.4965V13.5088V13.521V13.5333V13.5456V13.5578V13.5701V13.5823V13.5946V13.6068V13.6191V13.6314V13.6436V13.6559V13.6681V13.6804V13.6926V13.7049V13.7171V13.7294V13.7416V13.7538V13.7661V13.7783V13.7906V13.8028V13.8151V13.8273V13.8395V13.8518V13.864V13.8763V13.8885V13.9007V13.913V13.9252V13.9374V13.9497V13.9619V13.9741V13.9864V13.9986V14.0108V14.0231V14.0353V14.0475V14.0597V14.072V14.0842V14.0964V14.1086V14.1209V14.1331V14.1453V14.1575V14.1697V14.182V14.1942V14.2064V14.2186V14.2308V14.243V14.2553V14.2675V14.2797V14.2919V14.3041V14.3163V14.3285V14.3407V14.353V14.3652V14.3774V14.3896V14.4018V14.414V14.4262V14.4384V14.4506V14.4628V14.475V14.4872V14.4994V14.5116V14.5238V14.536V14.5482V14.5604V14.5726V14.5848V14.597V14.6092V14.6214V14.6336V14.6458V14.658V14.6702V14.6824V14.6946V14.7068V14.719V14.7312V14.7434V14.7556V14.7677V14.7799V14.7921V14.8043V14.8165V14.8287V14.8409V14.8531V14.8653V14.8774V14.8896V14.9018V14.914V14.9262V14.9384V14.9505V14.9627V14.9749V14.9871V14.9993V15.0115V15.0236V15.0358V15.048V15.0602V15.0724V15.0845V15.0967V15.1089V15.1211V15.1332V15.1454V15.1576V15.1698V15.1819V15.1941V15.2063V15.2185V15.2306V15.2428V15.255V15.2672V15.2793V15.2915V15.3037V15.3158V15.328V15.3402V15.3523V15.3645V15.3767V15.3889V15.401V15.4132V15.4254V15.4375V15.4497V15.4619V15.474V15.4862V15.4984V15.5105V15.5227V15.5348V15.547V15.5592V15.5713V15.5835V15.5957V15.6078V15.62V15.6322V15.6443V15.6565V15.6686V15.6808V15.693V15.7051V15.7173V15.7294V15.7416V15.7538V15.7659V15.7781V15.7902V15.8024V15.8146V15.8267V15.8389V15.851V15.8632V15.8754V15.8875V15.8997V15.9118V15.924V15.9361V15.9483V15.9604V15.9726V15.9848V15.9969V16.0091V16.0212V16.0334V16.0455V16.0577V16.0698V16.082V16.0942V16.1063V16.1185V16.1306V16.1428V16.1549V16.1671V16.1792V16.1914V16.2035V16.2157V16.2278V16.24V16.2522V16.2643V16.2765V16.2886V16.3008V16.3129V16.3251V16.3372V16.3494V16.3615V16.3737V16.3858V16.398V16.4101V16.4223V16.4344V16.4466V16.4587V16.4709V16.483V16.4952V16.5074V16.5195V16.5317V16.5438V16.556V16.5681V16.5803V16.5924V16.6046V16.6167V16.6289V16.641V16.6532V16.6653V16.6775V16.6896V16.7018V16.7139V16.7261V16.7382V16.7504V16.7625V16.763C15.576 16.7631 16.0236 16.7653 16.4693 16.7674C17.9098 16.7744 19.3295 16.7813 20.7575 16.7186L20.7904 17.4679L20.7575 16.7186C23.3634 16.6042 25.5697 14.3274 25.682 11.6864L25.682 11.6864C25.811 8.65503 23.5854 6.19403 20.5608 6.01305L20.5605 6.01303C20.3345 5.99941 20.146 5.90933 20.0238 5.83242C19.8982 5.75333 19.7508 5.63037 19.6439 5.45904L19.6436 5.45865C18.7611 4.043 17.7087 3.03458 16.4954 2.41149C15.284 1.78934 13.866 1.52755 12.2121 1.67656L12.2121 1.67657C8.99117 1.9666 6.33537 4.3723 5.64892 7.55748L5.64872 7.55843C5.60964 7.73862 5.52629 7.96755 5.32201 8.15559C5.13069 8.33171 4.91262 8.39629 4.77953 8.42811L4.77879 8.42829C2.22759 9.03563 0.82377 11.8558 1.88632 14.1851C2.29173 15.0736 2.83324 15.7024 3.48397 16.1151C4.13612 16.5288 4.94433 16.7548 5.92794 16.7625L5.92809 16.7625C7.48458 16.775 9.03928 16.7719 10.5982 16.7687C11.0973 16.7677 11.5967 16.7667 12.0968 16.7662V16.7562V16.7439V16.7317V16.7195V16.7073V16.6951V16.6829V16.6706V16.6584V16.6462V16.634V16.6218V16.6095V16.5973V16.5851V16.5729V16.5607V16.5485V16.5362V16.524V16.5118V16.4996V16.4874V16.4752V16.463V16.4507V16.4385V16.4263V16.4141V16.4019V16.3897V16.3775V16.3652V16.353V16.3408V16.3286V16.3164V16.3042V16.292V16.2798V16.2675V16.2553V16.2431V16.2309V16.2187V16.2065V16.1943V16.1821V16.1698V16.1576V16.1454V16.1332V16.121V16.1088V16.0966V16.0844V16.0722V16.0599V16.0477V16.0355V16.0233V16.0111V15.9989V15.9867V15.9745V15.9623V15.95V15.9378V15.9256V15.9134V15.9012V15.889V15.8768V15.8646V15.8524V15.8402V15.8279V15.8157V15.8035V15.7913V15.7791V15.7669V15.7547V15.7425V15.7303V15.718V15.7058V15.6936V15.6814V15.6692V15.657V15.6448V15.6326V15.6204V15.6081V15.5959V15.5837V15.5715V15.5593V15.5471V15.5349V15.5227V15.5105V15.4982V15.486V15.4738V15.4616V15.4494V15.4372V15.425V15.4128V15.4005V15.3883V15.3761V15.3639V15.3517V15.3395V15.3273V15.315V15.3028V15.2906V15.2784V15.2662V15.254V15.2418V15.2295V15.2173V15.2051V15.1929V15.1807V15.1685V15.1562V15.144V15.1318V15.1196V15.1074V15.0952V15.0829V15.0707V15.0585V15.0463V15.0341V15.0218V15.0096V14.9974V14.9852V14.973V14.9607V14.9485V14.9363V14.9241V14.9119V14.8996V14.8874V14.8752V14.863V14.8508V14.8385V14.8263V14.8141V14.8019V14.7896V14.7774V14.7652V14.753V14.7407V14.7285V14.7163V14.7041V14.6918V14.6796V14.6674V14.6551V14.6429V14.6307V14.6185V14.6062V14.594V14.5818V14.5695V14.5573V14.5451V14.5328V14.5206V14.5084V14.4962V14.4839V14.4717V14.4595V14.4472V14.435V14.4227V14.4105V14.3983V14.386V14.3738V14.3616V14.3493V14.3371V14.3249V14.3126V14.3004V14.2881V14.2759V14.2637V14.2514V14.2392V14.2269V14.2147V14.2024V14.1902V14.178V14.1657V14.1535V14.1412V14.129V14.1167V14.1045V14.0922V14.08V14.0677V14.0555V14.0432V14.031V14.0187V14.0065V13.9942V13.982V13.9697V13.9575V13.9452V13.933V13.9207V13.9085V13.8962V13.8839V13.8717V13.8594V13.8472V13.8349V13.8226V13.8104V13.7981V13.7859V13.7736V13.7613V13.7491V13.7368V13.7245V13.7123V13.7V13.6877V13.6755V13.6632V13.6509V13.6387V13.6264V13.6141V13.6019V13.5896V13.5773V13.565V13.5528V13.5405V13.5282V13.516V13.5037V13.4914V13.4791V13.4668V13.4546V13.4423V13.43V13.4177V13.4054V13.3932V13.3809V13.3686V13.3563V13.344V13.3317V13.3194V13.3072V13.2949V13.2826V13.2703V13.258V13.2457V13.2334V13.2211V13.2088V13.1965V13.1842V13.1719V13.1596V13.1474V13.1351V13.1228V13.1105V13.0982V13.0859V13.0736V13.0612V13.0489V13.0366V13.0352C12.0052 13.1264 11.9137 13.2172 11.822 13.3077C11.2556 13.8671 10.3338 13.9403 9.72411 13.3686C9.72394 13.3685 9.72378 13.3683 9.72361 13.3681L10.2369 12.8213C9.92907 12.5329 9.90447 12.0615 10.2151 11.7463L15.1254 13.0281ZM15.1254 13.0281C15.2293 13.1336 15.3401 13.2449 15.4456 13.344M15.1254 13.0281L15.4456 13.344M12.5824 8.3195C11.6086 9.279 10.6408 10.2456 9.68093 11.2199L13.1088 8.85375M12.5824 8.3195L13.1088 8.85375M12.5824 8.3195C12.5823 8.31958 12.5823 8.31966 12.5822 8.31974L13.1088 8.85375M12.5824 8.3195C13.1603 7.7499 14.0591 7.74063 14.6435 8.31577L14.6437 8.31594C15.6245 9.28182 16.5994 10.2556 17.565 11.2384L17.5653 11.2388C18.1827 11.868 18.0841 12.8152 17.5147 13.3597M13.1088 8.85375C13.3983 8.56827 13.8285 8.56598 14.1174 8.85032C15.0957 9.81373 16.0677 10.7846 17.03 11.764C17.3269 12.0667 17.2931 12.5341 16.9962 12.8178M17.5147 13.3597L16.9962 12.8178M17.5147 13.3597C16.9265 13.9225 16.0143 13.878 15.4456 13.344M17.5147 13.3597C17.5146 13.3598 17.5145 13.3599 17.5144 13.36L16.9962 12.8178M16.9962 12.8178L15.4456 13.344" stroke="#CE9F54" stroke-width="1.5"/>
							</svg>
						{% endif %}
						Seleccionar archivo
					</div>
				</div>


			</div>
		</div>
	</div>
{% endmacro %}
<div class="tab-content" id="ex1-content">
	<div class="tab-pane fade" id="tab-galeria" role="tabpanel" aria-labelledby="btn-tab-galeria" tabindex="0">
		<div class="col-md-12 p-x-1 basic-information-wrap">
			<h3 class="m-b-3 m-t-2">FOTOGRAFÍAS</h3>
			<div class="row">
				<div class="col-md-24 default" data-index="{{ form.gallery|length > 0 ? form.gallery|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printGallery(form.gallery.vars.prototype)|e('html_attr') }}">
					{% for gallery in form.gallery %}
						{{ formMacros.printGallery(gallery) }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
