<div class="tab-content" id="ex1-content">
	<div class="tab-pane fade tab-procesos m-t-1 form-stages" id="tab-procesos" role="tabpanel" aria-labelledby="btn-tab-procesos" tabindex="0">

		<div class="accordion" id="accordionStages">
			{% for stage in school.stages %}
				{% if stage.template %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingStage{{ loop.index }}">
							<button class="accordion-button {% if not loop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStage{{ loop.index }}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" aria-controls="collapseStage{{ loop.index }}">
								etapa-
								{{ stage.name }}
							</button>
						</h2>
						<div {{ stimulus_controller('sliding-panel') }}>
							<button class="btn btn-primary edit-stage" data-action="sliding-panel#slideIn" data-frame-src="{{ path('app_school_edit_stage', {'id': stage.id}) }}" data-frame-id="mainSlidingPanel">
								Editar etapa
							</button>
						</div>

						<div id="collapseStage{{ loop.index }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" aria-labelledby="headingStage{{ loop.index }}" data-bs-parent="#accordionStages">
							<div class="accordion-body"></div>
						</div>
						<div id="collapseStage{{ loop.index }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" aria-labelledby="headingStage{{ loop.index }}" data-bs-parent="#accordionStages">
							<div class="accordion-body">
								<div class="accordion" id="accordionProcesses{{ loop.index }}">
									{% for processe in stage.processes %}
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingProcess{{ loop.parent.loop.index }}{{ loop.index }}">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProcess{{ loop.parent.loop.index }}{{ loop.index }}" aria-expanded="false" aria-controls="collapseProcess{{ loop.parent.loop.index }}{{ loop.index }}">
													proceso-{{ processe.name }}
												</button>
												<div {{ stimulus_controller('sliding-panel') }}>
													<button class="btn btn-primary edit-stage" data-action="sliding-panel#slideIn" data-frame-src="{{ path('app_school_edit_processe', {'id': processe.id}) }}" data-frame-id="mainSlidingPanel">
														Editar proceso
													</button>
												</div>
											</h2>
											<div id="collapseProcess{{ loop.parent.loop.index }}{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="headingProcess{{ loop.parent.loop.index }}{{ loop.index }}" data-bs-parent="#accordionProcesses{{ loop.parent.loop.index }}">
												<div class="accordion-body">
													<div class="accordion" id="accordionSubProcesses{{ loop.parent.loop.index }}{{ loop.index }}">
														{% for subProcesse in processe.children %}
															<div class="accordion-item">
																<h2 class="accordion-header" id="headingSubProcess{{ loop.parent.loop.parent.loop.index }}{{ loop.parent.loop.index }}{{ loop.index }}">
																	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubProcess{{ loop.parent.loop.parent.loop.index }}{{ loop.parent.loop.index }}{{ loop.index }}" aria-expanded="false" aria-controls="collapseSubProcess{{ loop.parent.loop.parent.loop.index }}{{ loop.parent.loop.index }}{{ loop.index }}">
																		sub-proceso-{{ subProcesse.name }}
																	</button>
																	<div {{ stimulus_controller('sliding-panel') }}>
																		<button class="btn btn-primary edit-stage" data-action="sliding-panel#slideIn" data-frame-src="{{ path('app_school_edit_subprocess', {'id': subProcesse.id}) }}" data-frame-id="mainSlidingPanel">
																			Editar sub-proceso
																		</button>
																	</div>
																</h2>
																<div id="collapseSubProcess{{ loop.parent.loop.parent.loop.index }}{{ loop.parent.loop.index }}{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="headingSubProcess{{ loop.parent.loop.parent.loop.index }}{{ loop.parent.loop.index }}{{ loop.index }}" data-bs-parent="#accordionSubProcesses{{ loop.parent.loop.index }}">
																	<div class="accordion-body">
																		<h5>Fields:</h5>
																		<ul>
																			{% for field in subProcesse.fields %}
																				<li>{{ field.name }}</li>
																			{% else %}
																				<li>-</li>
																			{% endfor %}
																		</ul>
																		<h5>Documents:</h5>
																		<ul>
																			{% for document in subProcesse.documents %}
																				<li>{{ document.name }}</li>
																			{% else %}
																				<li>-</li>
																			{% endfor %}
																		</ul>
																	</div>
																</div>
															</div>
														{% else %}
															<p>-</p>
														{% endfor %}
														<div {{ stimulus_controller('sliding-panel') }}>
															<button class="btn btn-success new w-auto mb-0" data-action="sliding-panel#slideIn" data-frame-src="{{ path('app_school_add_subprocess', {'processId': processe.id}) }}" data-frame-id="mainSlidingPanel">
																<span>+</span>
																Agregar sub-proceso
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									{% else %}
										<p>-</p>
									{% endfor %}
									<div {{ stimulus_controller('sliding-panel') }}>
										<button class="btn btn-success new w-auto mb-0" data-action="sliding-panel#slideIn" data-frame-src="{{ path('app_school_add_processe', {'stageId': stage.id}) }}" data-frame-id="mainSlidingPanel">
											<span>+</span>
											Agregar proceso
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% else %}
				<p>-</p>
			{% endfor %}
		</div>


		<div {{ stimulus_controller('sliding-panel') }}>
			<button class="btn btn-success new w-auto mb-0" data-action="sliding-panel#slideIn" data-frame-src="{{ path('app_school_add_stage',{'id': school.id}) }}" data-frame-id="mainSlidingPanel">
				<span>+</span>
				Agregar etapa
			</button>
		</div>

	</div>
</div>
