{% import _self as formMacros %}

{% macro printStageRow(stageForm, index) %}
	<div class=" stage-row ">
		<div class="row collection-item-wrap js-genus-scientist-item">
			<div class="row">
				<div class="col-md-17">
					{{ form_row(stageForm.name, { attr: {required: 'true'} }) }}
				</div>
				<div class="col-md-6">
					{{ form_row(stageForm.color) }}
				</div>
				<div class="col-md-1">
					<a href="#" class="js-element-fields">
						<img class="icon js-remove-element" src="{{ asset('build/images/icons/delete_field.png') }}"/>
					</a>
				</div>
			</div>
			<div class="row stage-row">
				<div class="col-md-24 processes-cont js-pross" data-index="{{ stageForm.processes|length > 0 ? stageForm.processes|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printProcesosRow(stageForm.processes.vars.prototype)|e('html_attr') }}">
					{% for process in stageForm.processes %}
						<div class="row item-list d-noe content-process each-hiden" data-id="{{process.vars.id}}">
							{{ formMacros.printProcesosRow(process) }}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endmacro %}

{% macro printProcesosRow(procesoRow) %}
	<div class="row collection-item-wrap ">
		{{ form_errors(procesoRow) }}
		<div class="col-md-23">
			{{ form_row(procesoRow.name, { attr: {required: 'true'} }) }}			
		</div>
		<div class="col-md-1">
			
		</div>
		<div class="col-md-24 ">
			<div class="card">
				<div class="card-header btn-link" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#sub{{procesoRow.vars.id}}" aria-expanded="false" aria-controls="collapseOne">
							Subprocesos
						</button>
					</h5>
				</div>
				<div id="accordion">
					<div id="docs{{procesoRow.vars.id}}" class="collapse">
						<div class="card-body">
							<div class="col-md-24 js-genus-scientist-wrapper" data-index="{{ procesoRow.children|length > 0 ? procesoRow.children|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printSubProcesosRow(procesoRow.children.vars.prototype)|e('html_attr') }}">
								{% for proceso in procesoRow.children %}
									{{ formMacros.printSubProcesosRow(proceso, loop.index) }}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}


{% macro printDocumentsRow(documentRow) %}
	<div class="collection-item-wrap document-row offset-2">
		<div class="row js-genus-scientist-item">
			{{ form_errors(documentRow) }}
			<div class="col-md-23">
				{{ form_row(documentRow.name,{ attr: {required: 'true'} }) }}
			</div>
			<div class="col-md-1">
				
			</div>
			<div class="col-md-23">
				{{ form_row(documentRow.description) }}
			</div>
		</div>
	</div>
{% endmacro %}

{% macro printFieldesRow(fieldRow) %}
	<div class="collection-item-wrap field-row offset-2" data-entity='fields'>
		<div class="row js-genus-scientist-item">
			{{ form_errors(fieldRow) }}
			<div class="col-md-15">
				{{ form_row(fieldRow.name, { attr: {required: 'true'} }) }}
			</div>
			<div class="col-md-8">
				{{ form_row(fieldRow.type, { attr: {required: 'true'} }) }}
			</div>
			<div class="col-md-1">
				
			</div>
			<div class="col-md-23">
				{{ form_row(fieldRow.description, { attr: {required: 'true'} }) }}
			</div>
		</div>
	</div>
{% endmacro %}

{% macro printSubProcesosRow(procesoRow, index) %}
	<div class="collection-item-wrap offset-2 sub-process-row m-t-1" data-index="{{ index }}">
		<div class="row js-genus-scientist-item">
			{{ form_errors(procesoRow) }}
			<div class="col-md-23">
				{{ form_row(procesoRow.name, { attr: {required: 'true'} }) }}
			</div>
			<div class="col-md-1">
				
			</div>
			<div class="col-md-24 offset-1">
				<div class="row">
					<div class="card">
						<div class="card-header btn-link" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#docs{{procesoRow.vars.id}}" aria-expanded="false" aria-controls="collapseOne">
									Documentos
								</button>
							</h5>
						</div>
						<div id="accordion">
							<div id="docs{{procesoRow.vars.id}}" class="collapse">
								<div class="card-body">
									<div class="col-md-24 js-genus-scientist-wrapper"  data-index="{{ procesoRow.documents|length > 0 ? procesoRow.documents|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printDocumentsRow(procesoRow.documents.vars.prototype)|e('html_attr') }}">
										{% for document in procesoRow.documents %}
											{{ formMacros.printDocumentsRow(document) }}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header btn-link" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#fields{{procesoRow.vars.id}}" aria-expanded="false" aria-controls="collapseOne">
									Campos
								</button>
							</h5>
						</div>
						<div id="accordion">
							<div id="fields{{procesoRow.vars.id}}" class="collapse">
								<div class="card-body">
									<div class="col-md-24 js-genus-scientist-wrapper" data-index=" {{ procesoRow.fields|length > 0 ? procesoRow.fields|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printFieldesRow(procesoRow.fields.vars.prototype)|e('html_attr') }}">
										{% for field in procesoRow.fields %}
											{{ formMacros.printFieldesRow(field) }}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}


<div class="tab-content" id="ex1-content">
	<div class="tab-pane fade tab-procesos m-t-1" id="tab-procesos" role="tabpanel" aria-labelledby="btn-tab-procesos" tabindex="0">
		<div class="col-md-24 p-x-1 basic-information-wrap">
			<div class="row">
				<div class="col-md-24">
					<div class="content-list">
						<div class="col-md-24 " data-index="{{ form.stages|length > 0 ? form.stages|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printStageRow(form.stages.vars.prototype)|e('html_attr') }}">
							<div id="accordion">
								{% for stage in form.stages %}
									<div class="card">
										<div class="card-header btn-link" id="headingOne">
											<h5 class="mb-0">
												<button class="btn btn-link" data-toggle="collapse" data-target="#{{stage.vars["value"].id}}" aria-expanded="true" aria-controls="collapseOne">
													{{ stage.vars["value"].name }}
												</button>
											</h5>
										</div>

										<div id="{{stage.vars["value"].id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
											<div class="card-body">
												{{ formMacros.printStageRow(stage) }}
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
