/*GENERAL*/
* {
  position: relative;
}
html,body{
  height: 100%;
}
html {
  font-family: $font-family-sans-serif;
}

body {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  outline-offset: initial;
}

//FONTS
p {
  font-size: $font-size-base * 1.2;
}

small {
  font-size: $small-font-size;
}

.ff-serif {
  font-family: $font-family-serif;
}

/*GENERAL*/
/*FORMS*/
.form-control::-moz-placeholder {
  color: $gray-700;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: $gray-700;
}

.form-control::-webkit-input-placeholder {
  color: $gray-700;
}

textarea {
  resize: none;
}

/*FORMS*/
/*LISTS*/
.list-unstyled {
  margin-bottom: 0;
}

/*LISTS*/
/*MARGINS*/
.row-margin {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

$spacers-zetter: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers-zetter: map-merge(
                (
                        0: 0,
                        1: ($spacer * 1),
                        2: ($spacer * 2),
                        3: ($spacer * 3),
                        4: ($spacer * 4),
                        5: ($spacer * 5),
                        6: ($spacer * 6),
                        7: ($spacer * 7),
                        8: ($spacer * 8),
                        9: ($spacer * 9),
                        10: ($spacer * 10),
                        15: ($spacer * 15),
                ),
                $spacers-zetter
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers-zetter {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
        .#{$abbrev}#{$infix}-t-#{$size},
        .#{$abbrev}#{$infix}-y-#{$size} {
          #{$prop}-top: $length !important;
        }
        .#{$abbrev}#{$infix}-r-#{$size},
        .#{$abbrev}#{$infix}-x-#{$size} {
          #{$prop}-right: $length !important;
        }
        .#{$abbrev}#{$infix}-b-#{$size},
        .#{$abbrev}#{$infix}-y-#{$size} {
          #{$prop}-bottom: $length !important;
        }
        .#{$abbrev}#{$infix}-l-#{$size},
        .#{$abbrev}#{$infix}-x-#{$size} {
          #{$prop}-left: $length !important;
        }
      }
    }
  }
}

/*MARGINS*/

/*LAYOUT*/
.h-100vh {
  min-height: 100vh;
}

/*LAYOUT*/


@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .break-line#{$infix}:before {
      content: "\A";
      white-space: pre;
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-only($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .break-line-only#{$infix}:before {
      content: "\A";
      white-space: pre;
    }
  }
}

//REFACTOR TO LOOP
.fw-thin {
  font-weight: $font-weight-thin;
}

.fw-extra-light {
  font-weight: $font-weight-extra-light;
}

.fw-light {
  font-weight: $font-weight-light;
}

.fw-regular {
  font-weight: $font-weight-regular;
}

.fw-medium {
  font-weight: $font-weight-medium;
}

.fw-semi-bold {
  font-weight: $font-weight-semi-bold;
}

.fw-bold {
  font-weight: $font-weight-bold;
}

.fw-extra-bold {
  font-weight: $font-weight-extra-bold;
}

.fw-black {
  font-weight: $font-weight-black;
}
