/*@import "includes/forms";*/
@import "./zetter/variables";

body {
  background: #f9f9f9;
  backdrop-filter: blur(20px);
  font-size: 16px;
  font-family: $font-family-sans-serif;
}

.content-wrapper {
  overflow-y: scroll;
  width: 79%;

  form {
    display: contents;
  }

  h1 {
    font-family: $font-family-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }

  .subtitle {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #BEC2CE;
    margin-bottom: 2rem;
  }
}

.btn-orange {
  background-color: #CE9F54;
}

.btn-return {
  // font-family: $font-family-sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
  color: #6387AB;
}

.form-login-wrap {
  align-content: space-between;
  flex-direction: column;

  .form-login-content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.login-wrap {
  .bg-login {
    background-image: url("../images/bg-login.jpg");
    height: 100vh;
    background-size: cover;

    .container-form {
      background-color: #fff;
      border-radius: 3rem;

      .login-logo-wrap {
        max-width: 300px;
        margin: auto;
      }

      .img-login {
        border-radius: 1rem 0 0 1rem;
      }

      h1 {
        font-family: $font-family-sans-serif;
        color: $blue;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: $font-weight-semi-bold;
        line-height: 3.5rem
      }

      h3 {
        color: $blue;
        font-family: $font-family-sans-serif;
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      label {
        color: #6387AB;
        font-family: $font-family-sans-serif;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.09375rem;
        margin-bottom: 1.2rem;
      }

      input {
        border: none;
        border-bottom: 1px solid #D8D8D8;
        border-radius: 0;
        font-size: 1.6rem;
        font-family: $font-family-sans-serif;
        font-weight: 300;

        &:active,
        &:focus {
          border-bottom: 2px solid $yellow;
        }

        &::placeholder {
          color: #BEC2CE;
          font-family: $font-family-sans-serif;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }

      .btn-primary {
        font-family: $font-family-sans-serif;
        border-radius: 2.5rem;
        background: $yellow;
        border: none;
        padding: 1.4rem 5rem;
        margin: auto;
        font-weight: 500;
        font-size: 1.8rem;
        display: block;
      }

      .footer-login {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2.5rem 2.5rem 2.5rem;
        gap: 1rem;

        a,
        p {
          font-family: $font-family-sans-serif;
          font-size: 1rem;
          font-style: normal;
          font-weight: $font-weight-semi-bold;
          line-height: normal;
          margin: 0;
        }

        a {
          color: $grey;

          &:hover {
            color: $yellow;
          }
        }

        p {
          color: $grey;
        }
      }
    }
  }

  .password-container {
    position: relative;
  }

  #toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.menu-wrap {
  padding: 7rem 0 0;
  background-color: $blue;

  .logo {
    max-width: 80%;
    margin: auto;
  }

  .user {
    color: #90C9FF;
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
  }

  h3 {
    color: #FFF;
    text-align: center;
    font-family: $font-family-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
  }

  .menu {
    ul {
      list-style: none;
      padding-left: 3rem;
      justify-content: end;
      display: grid;

      li {
        color: #94B4D2;
        font-family: $font-family-sans-serif;
        font-size: .9vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: 0.0375rem;
        margin-top: 0.5rem;
        padding: 2.2rem;
        padding-right: 2vw;
        border-radius: 20% 0 0 20%;
        display: flex;
        align-items: center;
        padding-left: 1.2rem;

        a {
          display: flex;
          justify-content: start;
          align-items: center;
        }

        svg {
          width: 12%;

          path {
            fill: #94B4D2;
            ;
          }
        }

        &.active {
          position: relative;
          border-radius: 3.5rem 0rem 0rem 3.5rem;
          background: $yellow;
          box-shadow: 0px 8px 10px 0px rgba(0, 27, 52, 0.25);

          span {
            color: #fff;
          }

          path {
            fill: #fff;
          }

          a {
            svg {
              path {
                fill: #fff;
              }
            }
          }
        }

        a {
          width: 100%;
        }

        span {
          padding-left: .8rem;
        }
      }
    }
  }
}

.notification-wrap {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem 3rem;
  box-shadow: 0px 10px 25px 0px rgba(152, 181, 203, 0.10);

  .user {
    .line-deco {
      position: relative;

      &:before {
        height: 90%;
        width: 1px;
        position: absolute;
        right: 0;
        content: "";
        border-right: 1px solid #CE9F54;
        top: 5%;
      }
    }

    .name {
      color: #1D3247;
      font-family: $font-family-serif;
      font-size: 1.7vw;
      font-style: normal;
      font-weight: 700;
      margin-right: 2rem;
    }

    h3 {
      color: #BEC2CE;
      font-family: $font-family-sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 0.875rem;
    }

    h4 {
      color: #7592AE;
      font-family: $font-family-sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  .search {
    height: 80%;
    margin: auto;

    input {
      border-radius: 5rem;
      background: #F4F7FA;
      border: none;
      padding: 1rem 5rem;
      font-size: 1.6rem;
      width: 100%;
      height: 100%;
      position: relative;
      width: 100%;
    }
  }

  .notification {
    color: #00CAA5;
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2rem;
    letter-spacing: 0.08rem;
  }

  p {
    margin: 0;
  }

  .input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form-wrap {
  .form-control {
    font-size: 1.4rem;
    color: #778DA4;
    font-family: "SF UI Display";
  }

  h3 {
    color: #AE7C2B;
    text-transform: uppercase;
    border-bottom: 1px solid #A7B0D1;
    font-weight: 300;
    padding-bottom: 1rem;
  }

  label {
    margin-bottom: 1rem;
  }

  label,
  legend {
    font-weight: 500;
    font-size: 1.7rem;
    color: #778DA4;
    margin-bottom: .2rem;
  }
}

.btn-save {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  padding: 17px, 42px, 17px, 42px;
  border-radius: 40px;
  gap: 10px;
  background-color: #CE9F54;
  padding: 1rem 2.7rem;
}

.content-list {
  border-radius: 1.25rem;
  background: #FFF;
  padding: 2rem 3rem;
  box-shadow: 0px 10px 25px 0px rgba(152, 181, 203, 0.10);
  height: 81vh;
  margin-top: 3vh;
  overflow-x: hidden;
  overflow-y: scroll;

  .txt-header {
    width: 80%;
  }

  .btn-cont {
    width: 20%;
  }

  h1 {
    font-family: $font-family-sans-serif;
    font-size: 2.5rem;
    font-weight: $font-weight-semi-bold;
    color: $blue;
  }

  h3 {
    color: #BEC2CE;
    font-family: $font-family-sans-serif;
    font-size: 1.7rem;
    line-height: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .actions-buttons {
    .dropdown-menu {
      background-color: transparent;
      border: 0px;
    }

    .btn-new {
      height: 45px;
      background-color: #CE9F54;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 40px;
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
      border-radius: 40px;
      border: none;
    }

    .btn-operator:hover {
      background-color: #A87422;
    }

    a,
    button {
      margin-top: 0.5rem;
      width: 190px;
      height: 45px;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 40px;
      font-weight: 700;
      font-size: 16px;
      border-radius: 40px;
    }

    .btn-information {
      background-color: #FFFFFF;
      color: #778DA4;
    }

    .btn-cvl-user {
      background-color: #19344E;
      color: #FFFFFF;
    }
  }

  .header-list {
    background-color: $blue;
    border-radius: 1rem;
    color: $white;
    font-family: $font-family-sans-serif;
    line-height: 1.3rem;
    font-weight: $font-weight-semi-bold;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    text-align: center;
  }

  .item-list {
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 10px 25px 0px rgba(152, 181, 203, 0.10);
    border-radius: 0.3125rem;
    border: 1px solid #E0E0E0;
    padding: 1.7rem 1rem;
    margin-bottom: 1rem;
    font-family: $font-family-sans-serif;
    font-size: 1.4rem;
    font-weight: 300;

    .item-primary {
      color: #1D3247;
      text-align: center;
    }

    .item-secondary {
      color: #778DA4;
    }

    .item-mail {
      color: #0079FF;
      text-decoration-line: underline;
    }

    .item-proces {
      color: #CE9F54;
    }

    .l-start {
      border-left: 1px solid #E0E0E0;
    }

    .l-end {
      border-right: 1px solid #E0E0E0;
    }

    .l-start:hover {
      border-left: 1px solid rgba(206, 159, 84, 0.5);
    }

    .l-end:hover {
      border-right: 1px solid rgba(206, 159, 84, 0.5);
    }

    .table-menu {
      background-color: transparent;
      border: 0px solid white;
    }

    &:hover {
      border: 1px solid rgba(206, 159, 84, 0.50);

      .btn-group {
        svg {
          fill: #CE9F54;
        }
      }
    }

    .btn-group {
      svg {
        fill: #C4C4C4;
      }
    }

    & .dropdown:hover {
      circle {
        fill: #CE9F54;
      }
    }

    .user-img {
      border-radius: 50%;
      max-width: 3.5rem;
    }

    .dropdown {
      padding: .5re .8rem;

      hr {
        width: 90%;
        margin: 1rem auto;
      }
    }
  }

  .estado {
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.07rem;
    border-radius: 1.875rem;
    padding: .5rem 2.5rem;
  }

  .activo {
    color: #00CAA5;
    background: #EDFFF8;
  }

  .pausado {
    color: #ADB6BC;
    background: #EEF2F5;
  }

  .suspendido {
    color: #FF3B34;
    background: #FFF5F4;
  }
}

.modal {
  .modal-btn-anadir {
    width: 100px;
    height: 35px;
    border-radius: 40px;
    font-family: $font-family-sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
  }
}

.tab-content>.active {
  // display: flex;
}

.filepond--drop-label.filepond--drop-label label {
  border-radius: 0.625rem;
  border: 1px solid #E0E0E0;
  background: #FFF;
  font-size: 1.3rem;
  width: 100%;
}

.filepond--root .filepond--drop-label {
  background: #FFF;
  padding-bottom: 2rem;
}

.filepond--root {
  height: auto
}

legend+* {
  background-color: transparent;
}

.filepond--hopper {
  height: auto !important;
}

.vich-image {
  a {
    width: 40%;
  }
}

.dropdown-item {
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.4rem 1.5rem;

  img {
    width: 2.2rem;
    height: auto;
    margin-left: .2rem;
  }
}

#modalClave {
  .modal-content {
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 10px 25px 0px rgba(152, 181, 203, 0.10);
    padding: 1rem 2rem;

    h1 {
      color: #1D3247;
      font-family: $font-family-serif;
      font-size: 2.1rem;
      font-style: normal;
      font-weight: 700;
    }

    h6 {
      color: #BEC2CE;
      font-family: $font-family-sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 200;
    }

    p {
      color: #AE7C2B;
      font-family: $font-family-sans-serif;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 200;
      margin-top: 2rem;
      margin-bottom: 0rem;
      letter-spacing: 0.0625rem;
    }

    lavel {
      color: #1D3247;
      font-family: $font-family-sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .cont-acction {
      input {
        border-radius: 0.625rem;
        border: 2px solid #CE9F54;
        width: 46%;
      }

      button {
        font-size: 1.3rem;
      }
    }
  }
}

.form-control:focus {
  border-radius: 0.625rem;
  border: 2px solid #CE9F54;
  box-shadow: none !important;
}

.nav-tabs {
  border: none;
  margin-bottom: 2rem;

  .nav-link {
    border: none;
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    color: $hiGrey;
    font-weight: $font-weight-semi-bold;

    &.active,
    &.show & {
      color: $yellow;
    }
  }
}

.file-form {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 1.7rem;
  border-radius: 10px;

  legend {
    display: none;
  }

  .form-check {
    display: none;
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #19344E;
  color: #fff;
  padding: .5rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 2.5rem;
}

.img-user {
  max-width: 2.5rem;
  height: auto;
  border-radius: 50%;
}

.select2-container {
  width: 100% !important;
}

.icon {
  max-width: 2rem;
  margin-right: .5rem;
}

.user {
  img {
    width: 100%;
    max-width: 10rem;
    height: auto;
    border-radius: 50%;
  }
}

.cont-gallery {
  .vich-image {
    img {
      max-width: 15rem;
      height: auto;
    }
  }
}

.process-cont {
  .card-user- {
    top: -7rem;
    z-index: 8;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 10px 25px 0px rgba(152, 181, 203, 0.10);
    height: 70vh;

    .edit-user {
      position: absolute;
      right: 5%;
      bottom: -20%;
    }

    .card {
      overflow-y: auto;
      height: 70%;
      border: none;
    }

    h1 {
      text-align: center;
      font-family: $font-family-serif;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.5rem;
      /* 131.818% */
      color: #1D3247;

      &:first-line {
        color: #778DA4;
      }
    }

    hr {
      margin-top: 0 !important;
    }

    h2 {
      font-size: .7vw;
      color: #AE7C2B;
      font-weight: 500;
    }

    .cont-txt {
      border-radius: 10px;
      background-color: #F4F7FA;
      color: #1D3247;
      padding: 0.5rem;
      padding-left: 1rem;
      font-weight: 500;
      font-size: 1.5rem;
      margin-top: 1rem;
    }

    .header-cont {
      border-radius: 0.9375rem 0.9375rem 0rem 0rem;
      background: #F5F5F5;
    }
  }

  .new-card {
    background-color: #fff;
    border-radius: 3rem;

    .card-user {
      border-right: 1px solid #A7B0D1;

      h3 {
        font-family: $font-family-sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
      }

      h4 {
        font-family: $font-family-sans-serif;
        font-weight: 300;
        font-size: 1.9rem;
        color: #AE7C2B;
        margin-top: 5rem;
        border-bottom: 1px solid #A7B0D1;
        padding-bottom: 1rem;
      }

      p {
        font-size: 1.9rem;
        display: flex;
        align-items: center;
        margin-top: 3rem;

        img {
          margin-right: 1rem;
        }
      }
    }
  }
}

.stage-title {
  font-family: $font-family-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.btn-edit-stage {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
  color: #0079FF;
}

.process-list li {
  font-family: $font-family-sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1D3247;
}

.add-process-btn {

  height: 40px;
  border-radius: 40px;
  border: 1px solid #CE9F54 !important;
  color: #CE9F54;
  margin-right: 0;
  text-align: center;
  background-color: transparent;
  font-size: 1vw;
  padding: 0 2rem;
}

.add-process-btn:hover {
  background-color: #FFEBCA;
  color: #CE9F54;
}

.add-subprocess-btn {
  border-radius: 10px;
  border: dotted 1px #A7B0D1;
  text-align: left;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  padding: 1rem;
  background: #C5CCDE1A 10%;
}

.ajs-genus-stages-add,
.btn-add {

  height: auto;
  border-radius: 40px;
  background-color: #DEE7EF !important;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
  padding: .7rem 2rem;
}

#tab-procesos {
  .btn-link {
    font-family: $font-family-serif;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D3247;
  }

  .card-header-etapas {
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    background-color: #19344E;
    color: white;
    border-radius: 20px 20px 0px 0px;
  }

  .card {
    border: 0px;
  }

  .card-etapa {
    .card-header {
      background-color: #FFFFFF;

      .stage-title {
        font-family: $font-family-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #1D3247;
      }
    }
  }

  .collection-item-wrap-process {
    span {
      position: absolute;
      right: 0;
    }

    .stage-title {
      a {
        position: absolute;
        right: 0;
      }
    }

    .item-list {
      border-radius: 10px;
    }
  }
}

.content-wrapper {
  .form-wrap {
    input {
      border-radius: 10px;
    }
  }

  form {
    margin-top: 1rem;
  }
}

.btn-footer-form {
  margin-top: 1rem;
  align-items: center;
  justify-content: right;
  display: flex;

  a {
    margin-right: 1rem;
  }
}

.subprocess-list,
.process-list {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  max-height: 150px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.text-blue {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 1px;
  text-align: left;
  color: #0079FF !important;
}

.w-fill {
  flex: 0 0 auto;
  width: 95.83333333% !important;
}

.card-campo-subproceso {
  border-radius: 10px;
  border: solid 1px #F1F2F6;
  background-color: #F7F8FA;

  textarea {
    border-radius: 7.41px;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.js-remove-fields {
  display: inline;
  right: 0;
  position: absolute;
  z-index: 99;
}

.document-name {
  font-family: $font-family-sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1D3247;
}

.js-remove-document {
  color: #BEC2CE;
  margin-bottom: 1rem;
  position: absolute;
  right: 0;
  margin-right: .5rem;
  font-size: 1.4rem;
}

.js-remove-document::after {
  content: url("../images/icons/delete_field.png");
  height: fit-content;
  display: inline-flex;
  margin-left: .5rem;
  vertical-align: middle;
}

.no-m {
  margin-bottom: unset !important;
  font-family: $font-family-sans-serif;
  font-size: 9px !important;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #0079FF !important;
}

.text-campo {
  font-family: $font-family-sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #AE7C2B;
}

.js-genus-document-add {
  width: 88.71px;
  height: 24.32px;
  border-radius: 39px;
  border: 1px solid #0079FF;
  color: #0079FF;
  font-family: $font-family-sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.08em;
  text-align: center;
  display: inline-block;
  padding: .5rem;
  margin-right: 1rem;
}

.js-genus-field-add {
  width: 76.46px;
  height: 24.32px;
  border-radius: 39px;
  background: #FFF6E7;
  font-family: $font-family-sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #AE7C2B;
  display: inline-block;
  padding: .5rem;
}

.b-l-b {
  border-bottom: 1px solid #A7B0D1;

  h3 {
    padding-bottom: 6px;
    border-bottom: unset;
  }
}

.document-group-item {
  border-bottom: 1px solid #E3E3E4;
}

.js-show-process {
  cursor: pointer;
}

.card-show-process {
  h4 {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 1px;
    text-align: left;
    color: #AE7C2B;
  }

  .btn-edit {
    width: auto;
    height: auto;
    border-radius: 40px;
    background-color: transparent;
    padding: 1rem;
    text-align: center;
    border: 1px solid #E3E3E4;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #778DA4;
    position: absolute;
    right: 0;
    top: 0;
  }

  li {
    border-bottom: 1px solid #E3E3E4 !important;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
    color: #778DA4;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.content-contact {
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #A7B0D1;
}

.btn-new {
  width: 150px;
  height: 45px;
  background-color: #CE9F54;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  min-width: 175px;
  ;

}

.document-row,
.field-row {
  border-bottom: 1px solid #E3E3E4;
  margin-bottom: 1rem;
}

.school-candidate-process {
  .header {
    background-color: #fff;
    border-radius: 2rem;
    padding: 2rem 3rem;
    box-shadow: 0px 10px 25px 0px rgba(152, 181, 203, 0.10);

    .user-img {
      border-radius: 50%;
      height: 4.5rem;
      width: 4.5rem;
      margin-left: 1rem;
    }

    h3 {
      color: #1D3247;
      font-size: 3rem;
      font-family: $font-family-serif;
      font-weight: 600;
      margin-bottom: 0;
      ;

      span {
        font-family: $font-family-sans-serif;
        color: #778DA4;
        font-weight: 300;
      }
    }

    h5 {
      color: #CE9F54;
      font-weight: 300;
      font-size: 1.5rem;
    }

    p {
      color: #BEC2CE;
      font-size: 1.4rem;
    }

    .border-right {
      border-right: 1px solid #BEC2CE;
    }

    .porcentaje {
      border-radius: 0.5rem;
      border: 3px solid #CE9F54;
      font-size: 2rem;
      text-align: center;
      color: #CE9F54;
      padding: 0rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-primary {
      background-color: #DEE7EF;
      color: #1D3247;
      border: none;
      padding: 1.3rem 3.5rem;
      border-radius: 2rem;
    }
  }

  .cont-process {
    box-shadow: 0px 10px 25px 0px rgba(152, 181, 203, 0.10);

    .cont {
      // height: 40vh;
      // overflow-x: hidden;
      // overflow-y: scroll;

      .section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;

        &:not(:first-child) {
          margin-top: 1.5rem;
        }

        h3 {
          margin: 0;
          color: $yellow;
          font-size: 1.8rem;
          font-weight: $font-weight-semi-bold;
        }
      }
    }

    .btn-editar {
      font-size: 1.3rem;
      position: absolute;
      right: 0;
      color: #6387AB;
      height: 100%;
    }

    .card-item {
      border: 1px solid $hiGrey;
      padding: 1rem 1rem;
      border-radius: 2rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;

      &:hover,
      &.active {
        border: 1px solid $yellow;
      }

      .info {
        display: flex;
        flex: 1;

        .info-text {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 1.5rem;
          color: $blue;

          h4 {
            font-size: 1.4rem;
            font-weight: $font-weight-semi-bold;
          }

          p {
            font-size: 1.2rem;
            margin-bottom: 0;
          }
        }
      }

      .accion {
        .go-stage {
          position: relative;


        }
      }

      &.validate {
        circle {
          fill: $green;
        }
      }
    }
  }
}

.inf-stage-process {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem 3rem;
  box-shadow: 0px 10px 25px 0px rgba(152, 181, 203, 0.10);
  height: 48vh;
  overflow-x: hidden;
  overflow-y: scroll;

  .information {
    p {
      font-size: 1.2rem;
      color: $grey;
    }
  }

  .etapa-name {
    margin-top: 1rem;
    color: #AE7C2B;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 30px;
      height: 30px;

      &:checked+.slider {
        background-color: #2196F3;
      }

      &:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
      }

      &:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
    }
  }

  .response-management {
    .title-section {
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 2rem;
        color: $blue;
        margin: 0 0 1rem 0;
        font-weight: $font-weight-semi-bold;
      }

      h4 {
        font-size: 1.6rem;
        color: $yellow;
        margin: 0;
        font-weight: $font-weight-semi-bold;
      }

      h5 {
        font-size: 1.4rem;
        font-weight: $font-weight-semi-bold;
      }
    }

    .actions-wrap {
      display: flex;
      flex-direction: column;
    }

    .btn-primary {
      border: 1px solid transparent;
      color: $white;
      background-color: $yellow;
      font-size: 1.4rem;
      padding: 1.2rem 2rem;
      border-radius: 3rem;

      &:hover {
        color: $yellow;
        background-color: #fff;
        border-color: $yellow;
      }
    }

    .update-document-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.switch-process {
  .switch {
    width: 30px;
    height: 17px;
  }

  .slider {
    height: 2rem !important;
    width: 4rem !important;
  }

  .slider::before {
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 2px;
  }
}

.stage-candidate {

  // .btn-delete {
  //     position: absolute;
  //     top: 1rem;
  //     right: 1rem;
  //     height: 2rem;
  //     width: 2rem;
  //     border-radius: 50%;
  //     background-color: #CE9F54;
  //     border: none;
  // }
  h5 {
    font-size: 2rem;
    color: #1D3247;
    text-decoration: underline;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.switch.new-candidate {
  .form-check {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  label {
    margin-bottom: 0;
  }
}

#message {
  p {
    font-size: 2rem;
  }
}

.cont-primary {
  height: 100vh;

  .menu-cont {
    height: 100vh;
  }

  .nav-header-cont {
    height: 10vh;
    margin-top: 2vh;
  }

  .cont-scroll {
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.hv-100 {
  max-height: 100vh;
}

.btn-group {
  svg {
    fill: #C4C4C4;
  }
}

.edit-stage {
  .btn-delete {
    right: 0;
    top: 0;
  }
}

.edit-stage .form-control,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single,
.form-wrap .form-control,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  display: block;
  width: 100%;
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 1.7rem;
  border-radius: 10px;
}

.select2-container .select2-selection--single {
  height: 40px;
}

.cont-scroll {
  padding: 2rem 3rem;
  border-radius: 1.25rem;
  background: #FFF;
  box-shadow: 0px 10px 25px 0px rgba(152, 181, 203, 0.10);
  height: 84vh;
  margin-top: 3vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.btn-delete,
.btn-delete-tt {
  background-color: transparent;
  color: #6387AB;
  border: none;
  position: absolute;
  width: auto;
  right: 1%;
  top: 1%;
  font-size: 1.3rem;

  &:hover {
    color: red;
  }
}

.basic-information-wrap {
  .btn-delete {
    font-size: 1.4rem;
  }
}

.border-1 {
  border: 2px solid blue;
}

.accordion-button:not(.collapsed),
.accordion-button:focus,
.accordion-button {
  background-color: #F5F5F5;
  color: #1D3247;
  font-size: 2.5rem;
  text-decoration: underline;
  font-family: $font-family-serif;
  font-weight: 700;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #A7B0D1;
}

.form-stages {
  btn btn-primary btn-sm m-y-2 add-process-btn float-end btn-stage .form-group {
    label {
      font-size: 0.7vw;
      color: #1D3247;
    }
  }

  .btn-delete {
    display: none;
  }

  .btn-delete-tt {
    position: absolute;
    top: 1rem;
    right: 0;
  }

  .add-process-btn {
    border-radius: 40px;
    border: 1px solid #E3E3E4 !important;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    background-color: transparent;
    color: #778DA4;
    padding: 1rem 3rem;
    font-weight: 600;

    &.btn-document {
      background-color: #DEE7EF;
      color: #1D3247;
    }

    &.btn-stage {
      background-color: #fff;
      color: #CE9F54;
      border: 1px solid #CE9F54;
    }
  }

  .foat-right {
    float: right;
  }

  .accordion-collapse {
    padding-right: 0;
  }
}

.card-info-user {
  height: 81vh;
  margin-top: 3vh;
}

.icon-f {
  max-width: 3.5rem;
  height: auto;
}

.invalid-feedback {
  display: none;
}

.go-stage {
  background-color: $hiGrey;
  color: $white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;

  &.xl {
    height: 5rem;
    width: 5rem;
  }

  &:hover {
    background-color: $yellow;
  }

  svg {
    path {
      fill: $white;
    }
  }
}

.data-school {

  label,
  p,
  li {
    font-weight: 500;
    font-size: 1.4rem;
    color: #1D3247;
    margin-top: 1rem;
  }

  .title {
    color: #1D3247 !important;
    font-family: $font-family-sans-serif;
    font-weight: 600 !important;
  }

  p {
    font-weight: 300;
  }

  li {
    list-style: none;
  }

  .img-data {
    max-width: 75%;
  }
}

.shadow-4 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15)
}

.shadow-5 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12)
}

.shadow-6 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11)
}

.shadow-sharp {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05)
}

.shadow-diffuse {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2)
}

.shadow-dreamy {
  box-shadow: 0 1px 2px rgba(128, 139, 121, 0.2), 0 2px 4px rgba(128, 139, 121, 0.2), 0 4px 8px rgba(128, 139, 121, 0.2), 0 8px 16px rgba(128, 139, 121, 0.2), 0 16px 32px rgba(128, 139, 121, 0.2), 0 32px 64px rgba(128, 139, 121, 0.2)
}

.shadow-shorter {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11)
}

.shadow-longer {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09)
}

/*# sourceMappingURL=shadow.css.map */
.bd-example {
  padding: 20px 0px;

  .btn-group {
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 15%;
    border-radius: 25px;
  }
}

.drop-roel {
  background: rgba(255, 255, 255);
  padding: 5px 15px;
  border-radius: 8px;
  vertical-align: middle;
  box-shadow: 0 1px 2px rgba(128, 139, 121, 0.2), 0 2px 4px rgba(128, 139, 121, 0.2), 0 4px 8px rgba(128, 139, 121, 0.2), 0 8px 16px rgba(128, 139, 121, 0.2), 0 16px 32px rgba(128, 139, 121, 0.2), 0 32px 64px rgba(128, 139, 121, 0.2);

  &.line-b-deco {
    li {
      border-bottom: 1px solid #E3E3E3;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .flex-select {
    display: flex;
    flex-wrap: wrap;

    .flex-select-body {
      display: inline-block;
      margin: 5px 5px;
      margin-top: 10px;
      border-radius: 5px;
      box-shadow: 0 1px 1px rgba(211, 218, 237, 0.4),
        0 2px 2px rgba(211, 218, 237, 0.4),
        0 4px 4px rgba(211, 218, 237, 0.4),
        0 8px 8px rgba(211, 218, 237, 0.4),
        0 16px 16px rgba(211, 218, 237, 0.4);

      &.box-none {
        box-shadow: none !important;
      }

      ;
    }
  }

  .checkbox {
    .layered.box {
      box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
    }
  }

  .checkbox {
    padding-left: 20px;
  }

  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
  }

  // .checkbox label::before {
  //     content: "";
  //     display: inline-block;
  //     position: absolute;
  //     width: 17px;
  //     height: 17px;
  //     left: 0;
  //     margin-left: -20px;
  //     border: 1px solid #cccccc;
  //     border-radius: 3px;
  //     background-color: #fff;
  //     -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  //     -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  //     transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  // }
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }

  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"] {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #778DA4
  }

  .checkbox input[type="checkbox"]:focus+label::before,
  .checkbox input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  // .checkbox input[type="checkbox"]:checked+label::after,
  // .checkbox input[type="radio"]:checked+label::after {
  //     font-family: "FontAwesome";
  //     content: "\f00c";
  // }
  .checkbox input[type="checkbox"]:disabled+label,
  .checkbox input[type="radio"]:disabled+label {
    opacity: 0.65;
  }

  // .checkbox input[type="checkbox"]:disabled+label::before,
  // .checkbox input[type="radio"]:disabled+label::before {
  //     background-color: #eeeeee;
  //     cursor: not-allowed;
  // }
  // .checkbox.checkbox-circle label::before {
  //     border-radius: 50%;
  // }
  // .checkbox.checkbox-inline {
  //     margin-top: 0;
  // }
  // .checkbox-primary input[type="checkbox"]:checked+label::before,
  // .checkbox-primary input[type="radio"]:checked+label::before {
  //     background-color: #337ab7;
  //     border-color: #337ab7;
  // }
  // .checkbox-primary input[type="checkbox"]:checked+label::after,
  // .checkbox-primary input[type="radio"]:checked+label::after {
  //     color: #fff;
  // }
  // .checkbox-danger input[type="checkbox"]:checked+label::before,
  // .checkbox-danger input[type="radio"]:checked+label::before {
  //     background-color: #d9534f;
  //     border-color: #d9534f;
  // }
  // .checkbox-danger input[type="checkbox"]:checked+label::after,
  // .checkbox-danger input[type="radio"]:checked+label::after {
  //     color: #fff;
  // }
  // .checkbox-info input[type="checkbox"]:checked+label::before,
  // .checkbox-info input[type="radio"]:checked+label::before {
  //     background-color: #5bc0de;
  //     border-color: #5bc0de;
  // }
  // .checkbox-info input[type="checkbox"]:checked+label::after,
  // .checkbox-info input[type="radio"]:checked+label::after {
  //     color: #fff;
  // }
  // .checkbox-warning input[type="checkbox"]:checked+label::before,
  // .checkbox-warning input[type="radio"]:checked+label::before {
  //     background-color: #f0ad4e;
  //     border-color: #f0ad4e;
  // }
  // .checkbox-warning input[type="checkbox"]:checked+label::after,
  // .checkbox-warning input[type="radio"]:checked+label::after {
  //     color: #fff;
  // }
  // .checkbox-success input[type="checkbox"]:checked+label::before,
  // .checkbox-success input[type="radio"]:checked+label::before {
  //     background-color: #CE9F54;
  //     border-color: #CE9F54;
  // }
  // .checkbox-success input[type="checkbox"]:checked+label::after,
  // .checkbox-success input[type="radio"]:checked+label::after {
  //     color: #fff;
  // }
  // .checkbox.checkbox-sm label::before {
  //     width: 30px;
  //     height: 30px;
  //     top: -13px;
  // }
  // .checkbox.checkbox-sm label::after {
  //     width: 30px;
  //     height: 30px;
  //     padding-left: 4px;
  //     font-size: 20px;
  //     left: 1px;
  //     top: -13px;
  // }
  // .checkbox.checkbox-sm label {
  //     padding-left: 18px;
  //     top: 13px;
  // }
  // .checkbox.checkbox-md label::before {
  //     width: 34px;
  //     height: 34px;
  //     top: -17px;
  // }
  // .checkbox.checkbox-md label::after {
  //     width: 34px;
  //     height: 34px;
  //     padding-left: 4px;
  //     font-size: 24px;
  //     left: 1px;
  //     top: -18px;
  // }
  // .checkbox.checkbox-md label {
  //     padding-left: 22px;
  //     top: 17px;
  // }
  // .checkbox.checkbox-lg label::before {
  //     width: 46px;
  //     height: 46px;
  //     top: -28px;
  // }
  // .checkbox.checkbox-lg label::after {
  //     width: 46px;
  //     height: 46px;
  //     padding-left: 4px;
  //     font-size: 36px;
  //     left: 1px;
  //     top: -31px;
  // }
  // .checkbox.checkbox-lg label {
  //     padding-left: 34px;
  //     top: 32px;
  // }
  .radio {
    padding-left: 20px;
  }

  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }

  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }

  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }

  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
  }

  .radio input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  .radio input[type="radio"]:disabled+label {
    opacity: 0.65;
  }

  .radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
  }

  .radio.radio-inline {
    margin-top: 0;
  }

  .radio-primary input[type="radio"]+label::after {
    background-color: #337ab7;
  }

  .radio-primary input[type="radio"]:checked+label::before {
    border-color: #337ab7;
  }

  .radio-primary input[type="radio"]:checked+label::after {
    background-color: #337ab7;
  }

  .radio-danger input[type="radio"]+label::after {
    background-color: #d9534f;
  }

  .radio-danger input[type="radio"]:checked+label::before {
    border-color: #d9534f;
  }

  .radio-danger input[type="radio"]:checked+label::after {
    background-color: #d9534f;
  }

  .radio-info input[type="radio"]+label::after {
    background-color: #5bc0de;
  }

  .radio-info input[type="radio"]:checked+label::before {
    border-color: #5bc0de;
  }

  .radio-info input[type="radio"]:checked+label::after {
    background-color: #5bc0de;
  }

  .radio-warning input[type="radio"]+label::after {
    background-color: #f0ad4e;
  }

  .radio-warning input[type="radio"]:checked+label::before {
    border-color: #f0ad4e;
  }

  .radio-warning input[type="radio"]:checked+label::after {
    background-color: #f0ad4e;
  }

  .radio-success input[type="radio"]+label::after {
    background-color: #5cb85c;
  }

  .radio-success input[type="radio"]:checked+label::before {
    border-color: #5cb85c;
  }

  .radio-success input[type="radio"]:checked+label::after {
    background-color: #5cb85c;
  }

  // input[type="checkbox"].styled:checked+label:after,
  // input[type="radio"].styled:checked+label:after {
  //     font-family: 'FontAwesome';
  //     content: "\f00c";
  // }
  input[type="checkbox"] .styled:checked+label::before,
  input[type="radio"] .styled:checked+label::before {
    color: #fff;
  }

  input[type="checkbox"] .styled:checked+label::after,
  input[type="radio"] .styled:checked+label::after {
    color: #fff;
  }

  .radio.radio-sm label::before {
    width: 30px;
    height: 30px;
    top: -13px;
  }

  .radio.radio-sm label::after {
    width: 22px;
    height: 22px;
    padding-left: 4px;
    font-size: 20px;
    left: 4px;
    top: -9px;
  }

  .radio.radio-sm label {
    padding-left: 18px;
    top: 13px;
  }

  .radio.radio-md label::before {
    width: 34px;
    height: 34px;
    top: -17px;
  }

  .radio.radio-md label::after {
    width: 26px;
    height: 26px;
    padding-left: 4px;
    font-size: 24px;
    left: 4px;
    top: -13px;
  }

  .radio.radio-md label {
    padding-left: 22px;
    top: 17px;
  }

  .radio.radio-lg label::before {
    width: 46px;
    height: 46px;
    top: -28px;
  }

  .radio.radio-lg label::after {
    width: 36px;
    height: 36px;
    padding-left: 4px;
    font-size: 36px;
    left: 5px;
    top: -23px;
  }

  .radio.radio-lg label {
    padding-left: 34px;
    top: 32px;
  }
}

.rs-container * {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.rs-container {
  font-family: Arial, Helvetica, sans-serif;
  height: 45px;
  position: relative
}

.rs-container .rs-bg,
.rs-container .rs-selected {
  background-color: #eee;
  border: 1px solid #ededed;
  height: 10px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 100%;
  border-radius: 3px
}

.rs-container .rs-selected {
  background-color: #CE9F54;
  border: 1px solid #CE9F59;
  transition: all .2s linear;
  width: 0
}

.rs-container.disabled .rs-selected {
  background-color: #ccc;
  border-color: #bbb
}

.rs-container .rs-pointer {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
  left: -10px;
  position: absolute;
  top: 0;
  transition: all .2s linear;
  width: 30px;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 6px #ebebeb, 1px 1px 4px rgba(0, 0, 0, .1)
}

.rs-container.disabled .rs-pointer {
  border-color: #ccc;
  cursor: default
}

.rs-container .rs-pointer::after,
.rs-container .rs-pointer::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 9px;
  background-color: #ddd;
  left: 12px;
  top: 5px
}

.rs-container .rs-pointer::after {
  left: auto;
  right: 12px
}

.rs-container.sliding .rs-pointer,
.rs-container.sliding .rs-selected {
  transition: none
}

.rs-container .rs-scale {
  left: 0;
  position: absolute;
  top: 5px;
  white-space: nowrap
}

.rs-container .rs-scale span {
  float: left;
  position: relative
}

.rs-container .rs-scale span::before {
  background-color: #ededed;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 1px
}

.rs-container.rs-noscale span::before {
  display: none
}

.rs-container.rs-noscale span:first-child::before,
.rs-container.rs-noscale span:last-child::before {
  display: block
}

.rs-container .rs-scale span:last-child {
  margin-left: -1px;
  width: 0
}

.rs-container .rs-scale span ins {
  color: #333;
  display: inline-block;
  font-size: 12px;
  margin-top: 20px;
  text-decoration: none
}

.rs-container.disabled .rs-scale span ins {
  color: #999
}

.rs-tooltip {
  color: #333;
  width: auto;
  min-width: 60px;
  height: 30px;
  background: #fff;
  border: 1px solid #00969b;
  border-radius: 3px;
  position: absolute;
  transform: translate(-50%, -35px);
  left: 13px;
  text-align: center;
  font-size: 13px;
  padding: 6px 10px 0
}

.rs-container.disabled .rs-tooltip {
  border-color: #ccc;
  color: #999
}

.filters-wrap {
  label {
    margin-bottom: 0;
  }

  .dropdown-menu {
    width: 200%;

    .title {
      font-size: 3rem;
      font-weight: 700;
      content: #1D3247;
      font-family: $font-family-serif;
      margin-top: 1rem;

      span {
        color: #6387AB;
        font-family: $font-family-sans-serif;
        font-size: 1.6rem;
        font-weight: 300;
      }
    }

    .sub-title,
    legend {
      font-size: 1.6rem;
      color: #1D3247;
      font-weight: 600;
      margin-top: 1rem;
    }
  }

  .filter-content-type {
    .btn-group {
      display: flex;
      align-items: center;
      padding: 1.3rem 3.5rem;
      font-size: 1.3rem;
      border: 1px solid #DEE7EF;

      &.show {
        background-color: #DEE7EF;
      }
    }

    .dropdown-toggle::after {
      display: none;
    }
  }

  .flex-select {
    .form-check {
      display: flex;
      align-items: center;
      padding: .7rem 1rem;
    }
  }

  // .form-check-input:checked[type="radio"] {
  //     --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  // }
  .form-check-input:checked {
    background-color: #CE9F54 !important;
    border-color: #CE9F54 !important;
  }

  .btn-secondary {
    border: none;
    font-size: 1.7rem;
    font-weight: 300;
  }
}

#sliderContainer {
  position: relative;
  height: 100px;
  width: 100%;
}

#sliderLabels {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

#sliderTrack {
  position: absolute;
  height: 8px;
  background-color: #1D3247;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
}

#sliderContainer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 8px;
  border: 2px solid #1D3247;
  border-radius: 5px;
  z-index: -2;
  box-sizing: border-box;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  position: relative;
  width: 100%;
  height: 8px;
  z-index: 1;
}

#minSlider {
  top: 46.6%;
}

#maxSlider {
  top: 31%;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #1D3247;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -8px;
}

input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  background: #1D3247;
  cursor: pointer;
  border-radius: 50%;
}

.scrol-y {
  height: 60rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

#sliderLabels {
  color: #778DA4;
}

.content {
  display: none;
}

.collapsible.active+.content {
  display: block;
}

.collapsible.active {
  .icon {
    transform: rotate(180deg);
  }
}

.seccion-tutor {
  label {
    font-weight: 600;
    font-size: 1.6rem;
  }

  .card-grado {
    border: 1px solid #CE9F54;
    padding: 1rem .5rem;
    border-radius: 1rem;

    img {
      max-width: 40%;
      height: auto;
    }

    p {
      color: #BEC2CE;
      margin-top: 0;
      font-size: 1.2rem;
      margin-top: .5rem;
      background-color: transparent !important;
    }
  }

  .data-school {
    ul {
      padding: 0;
      margin-top: 1rem;

      li {
        span:first-child {
          color: #778DA4;
          font-weight: 300;
        }

        span {
          color: #1D3247;
          font-weight: 200;
          font-size: 1.8rem;
        }

        padding-bottom: .5rem;
        border-bottom: 1px solid #E3E3E4;
      }
    }

    h2 {
      font-family: $font-family-serif;
      font-size: 3rem;
      color: #1D3247;
      font-weight: 600;
    }

    p {
      font-family: $font-family-sans-serif;
      color: #778DA4;
      font-size: 1.6rem;
    }

    label {
      color: #778DA4;
      font-weight: 300;
      font-size: 1.8rem;
    }
  }

  h3 {
    font-size: 1.4rem;

    &.auto-w {
      width: 50%;
    }
  }

  label.title {
    font-size: 1.4rem;
  }
}

.item-caracteristicas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E3E3E4;

  label {
    margin-top: 1rem;
  }

  label,
  p {
    font-size: 1.4rem;
  }

  label {
    color: #778DA4;
    font-weight: 500;
  }

  p {
    color: #1D3247;
    font-weight: 300;
  }
}

.slyder-item {
  img {
    border-radius: 1rem;
    max-height: 55vh;
  }
}

.slider-nav {

  // position: absolute;
  // width: 80%;
  // height: auto;
  // bottom: 0;
  // left: 10%;
  .slyder-item {
    padding: 1rem;

    img {
      max-height: 8rem;
    }
  }
}

.slick-track {
  display: flex;
  align-items: center;
}

.galery-inner {

  .slick-prev::before,
  .slick-next::before {
    opacity: .75;
    color: #000;
  }
}

.slick-prev-main,
.slick-next-main {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.slick-prev-main {
  left: 10px;
}

.slick-next-main {
  right: 10px;
}

.b-rad-1 {
  border-radius: 1rem;
}

.url-data {
  color: #0079FF;
  text-decoration: underline;

  &.btn {
    background-color: #CE9F54;
    width: auto;
    padding: 1rem 2rem;
    margin-top: 1rem;
    color: #FFF;
    border-radius: 2rem;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 600;
    font-family: $font-family-sans-serif;
  }
}

.description-cont {
  p {
    color: #1D3247 !important;
    margin-left: .5rem;

    a {
      text-decoration: underline;
    }
  }
}

.btn.btn-danger.registro {
  color: #FF2C32;
  background-color: #FFF5F6;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.7rem;
}

.top-notification-wrap {
  background-color: $brown;
  display: flex;
  padding: 3rem 0;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white;
  height: 13vh;
  margin-top: 1vh;

  h2 {
    font-weight: $font-weight-semi-bold;
    font-size: 2.8rem;
  }
}

.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: $blue;
    font-size: 2.8rem;
    font-weight: $font-weight-medium;
  }

  .img-wrap {
    img {
      max-height: 100px;
    }
  }
}

.card-wrap {
  background-color: $white;
  border-radius: 2rem;
  padding: 1.5rem;
  height: 81vh;
  overflow-y: scroll;
  margin-top: 2vh;

  &.h-school {
    height: auto;
    margin-top: 1vh;
  }

  &.cont-process,
  &.inf-stage-process {
    height: 38vh;
    margin-top: 1vh;

  }
}

.user-info-wrap {
  .user-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid $yellow;
    background-color: $yellow;
    display: block;
    margin: auto;
    margin-top: 3rem;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: $font-weight-semi-bold;
    text-align: center;

    &.xl {
      font-size: 2rem;
    }
  }

  h4 {
    color: $yellow;
    border-top: 1px solid $yellow;
    border-bottom: 1px solid $yellow;
    padding: 1.5rem;
    text-align: center;
    font-weight: $font-weight-semi-bold;
  }

  .list-details {
    p {
      display: flex;
      gap: 1rem;
      margin-bottom: 4rem;
      font-size: 1.8rem;
    }

    .ico {
      min-width: 2.2rem;
      height: 2.2rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: block;

      &.ico-cake {
        background-image: url('../images/ico/cake.svg');
      }

      &.ico-mail {
        background-image: url('../images/ico/mail.svg');
      }

      &.ico-phone {
        background-image: url('../images/ico/phone.svg');
      }

      &.ico-pin {
        background-image: url('../images/ico/pin.svg');
      }

      &.ico-scholl {
        background-image: url('../images/ico/institute.svg');
      }

      &.ico-book {
        background-image: url('../images/ico/grade.svg');
      }
    }
  }
}

.main-info-wrap {
  // height: 81vh;
  // overflow-y: scroll;
}

.icon-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem;

  .list-item {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    .item-text {
      display: flex;
      flex-direction: column;

      p {
        margin: 0;
        color: $grey;
        font-size: 1.5rem;
      }
    }
  }

  .ico {
    width: 4rem;
    height: 4rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;

    &.ico-bed {
      background-image: url('../images/badges/bed.svg');
    }

    &.ico-plane {
      background-image: url('../images/badges/plane.svg');
    }

    &.ico-book {
      background-image: url('../images/badges/book.svg');
    }

    &.ico-building {
      background-image: url('../images/badges/building.svg');
    }

    &.ico-flag {
      background-image: url('../images/badges/flag.svg');
    }

    &.ico-gender {
      background-image: url('../images/badges/gender.svg');
    }

    &.ico-group {
      background-image: url('../images/badges/group.svg');
    }

    &.ico-location {
      background-image: url('../images/badges/location.svg');
    }

    &.ico-money {
      background-image: url('../images/badges/money.svg');
    }
  }
}

.card-school-item {
  background-color: $white;
  border: 2px solid $hiGrey;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem;

  &:hover {
    border: 2px solid $yellow;
    background-color: $white;

    .go-stage {
      color: #fff;
      background-color: $yellow;

      svg {
        path {
          fill: $white;
        }
      }
    }

    .school-info-wrap {

      &:before,
      &:after {
        background-color: $yellow;
      }
    }
  }

  .image-wrap {
    aspect-ratio: 3/2;
    border-radius: 1rem;
    overflow: hidden;
    flex: 1 1 27%;

    &.small {
      flex: 1 1 22%;
    }

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

  .school-info-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 31%;
    padding: 0 3rem;
    justify-content: center;

    &:before,
    &:after {
      content: "";
      width: 1px;
      background-color: $hiGrey;
      height: 100%;
      position: absolute;
      top: 0;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    h3 {
      font-size: 2.7rem;
      font-weight: $font-weight-bold;
      color: $grey;
      text-align: center;
      margin-top: 0;
      margin-bottom: 2.5rem;
    }

    p {
      margin-bottom: 0;
      font-size: 1.4rem;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;

      .flag {
        max-width: 4rem;
      }
    }
  }

  .progress-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 31%;
    padding: 4rem;

    h3 {
      font-size: 1.6rem;
      font-weight: $font-weight-semi-bold;
      color: $yellow;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: $font-weight-semi-bold;
      color: $grey;
    }
  }
}

.barra-de-progreso {
  width: 100%;
  height: 19px;
  background-color: $aliceBlue;
  border-radius: 2rem;
  margin-bottom: 2rem;

  .progreso {
    height: 100%;
    background-color: $skyBlue;
    border-radius: 2rem;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .student-info-wrap {
    color: $blue;

    h2 {
      font-size: 2.5rem;
      font-weight: $font-weight-semi-bold;
      text-transform: uppercase;
    }

    h3 {
      font-size: 2.5rem;
    }
  }

  .img-wrap {
    img {
      max-height: 100px;
    }
  }
}

.basic-style {
  h2 {
    background-color: $blue;
    border-radius: 2rem;
    padding: 1rem;
    color: $white;
    font-weight: $font-weight-semi-bold;
    text-align: center;
    line-height: 1em;
    font-size: 2.5rem;
    line-height: 1.2em;
  }

  .links-list {
    margin: auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      background-image: url("../images/ico/link.svg");
      background-position: 1.5rem center;
      background-repeat: no-repeat;
      background-size: 2.5rem;
      background-color: $orange;
      color: $white;
      text-align: center;
      border-radius: 3rem;
      padding: 1rem 4.5rem;
      text-decoration: none;
      margin-bottom: 1rem;

      &:hover {
        background-color: $orange;
      }
    }
  }
}

.card-border-wrap {
  border: 2px solid $hiGrey;
  border-radius: 2rem;
  padding: 1.5rem;

  h2 {
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.accordion-wrap {
  margin-bottom: 1.5rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $blue;
    border-radius: 3rem;
    padding: 1rem 3.5rem;
    font-weight: $font-weight-semi-bold;
    font-size: 2.5rem;
    line-height: 1.2em;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: .7rem;
      background-image: url("../images/template/arrow-accordion.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 3rem;
      height: 3rem;
      transform: translate(0, -50%) rotate(0deg);
    }
  }

  &.active {
    border-bottom: none;

    .cont-items {
      height: auto;
      padding: 2rem 0;
    }

    svg {
      path {
        fill: #778DA4
      }
    }
  }

  svg {
    transform: rotate(180deg);
  }

  .cont-items {
    overflow: hidden;
    height: 0;
    display: flex;
    justify-content: center;

    .list-activities {
      padding: 0;

      li {
        list-style: none;
        font-size: 1.6rem;
        color: $grey;
        width: 100%;
        padding: .8rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;

        &:before {
          content: "";
          background-image: url("../images/template/right-chevron.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

}

.responsive-three-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.responsive-three-columns>* {
  width: calc((100% / 3) - 1rem);
}

.gallery-title {
  margin: auto;
  font-size: 2.3rem;
  font-weight: $font-weight-semi-bold;
  color: $yellow;
  padding-left: 5rem;
}

.gallery-wrap {
  .img-wrap {
    aspect-ratio: 1/1;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.menu-wrap .menu .nav-helper {
  margin-top: 5rem;

  li {
    background-color: $orange;
    border-radius: 3rem 0 0 3rem;
    padding: 1rem 1.5rem;

    a {
      color: $white;

      .ico-wrap {
        img {
          width: 2.5rem;
          height: 2.5rem;
          object-fit: contain;
        }
      }
    }
  }
}

.app_candidate_index_2 {
  .nav-helper {
    display: none !important;
  }
}

.btn-entrar {
  background-color: #CE9F54;
  color: #fff;
  padding: .4rem 0;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 1.7rem;
  width: 100%;

  svg {
    height: 1.2rem;
    width: auto;
    margin-left: 1rem;
  }

  &:hover {
    color: #492525 !important;
  }

  &:hover {
    path {
      // fill: #492525;
    }
  }
}

.cont-mail {

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;

}

.cont-logout {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 0rem;

  hr {
    background-color: #4A6B8B;
    height: .3rem;
  }

  a {
    font-family: $font-family-sans-serif;
    color: #94B4D2;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    font-family: $font-family-sans-serif;
    color: $aliceBlue;
  }

  .data-user {
    overflow-wrap: break-word;
    white-space: normal;
    width: 100%;
    
  }

  img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.actions-buttons {
  .dropdown-menu {
    background-color: transparent;
    border: 0px;
  }

  .btn-new {
    height: 45px;
    background-color: #CE9F54;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 40px;
    border: none;
  }
}


.modal-dialog-galeria {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert.alert-success {
  position: absolute;
  z-index: 1;
  left: 2%;
  border: 2px solid #182e0a;
  border-radius: 1rem;

  .delete-btn {
    right: 1rem;
    position: absolute;

    svg {
      path {
        fill: #182e0a;
      }
    }
  }
}

label .invalid-feedback {
  display: none !important;
}

@media screen and (max-height: 760px) {
  .cont-user-ima {
    display: none !important;
  }
}

.mail-max {
  max-width: 100%;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;

}







.movile-app {
  p {
    font-size: 3.5vw;
    font-family: $font-family-sans-serif;
  }

  h3,
  h2 {
    font-family: $font-family-cmu;
  }

  .header {
    background-color: #19344E;
    color: white;
    text-align: center;
    padding: 20px;
  }



  .header p {

    font-size: 16px;
  }

  .hero {
    text-align: center;
    background-color: #19344E;
    border-radius: 0 0 3rem 3rem;
    margin-bottom: 2rem;

    h2 {
      font-size: 7.4vw;
    }

    p,
    h2 {
      color: #fff;

    }



  }

  .hero-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  .hero-content {
    padding: 20px;
  }

  // .hero-content h2 {
  //   font-size: 20px;
  //   margin: 10px 0;
  //   color: #001b40;
  //   font-family: $font-family-cmu;
  // }



  .btn-primary {
    height: 40px;
    font-family: $font-family-sans-serif;
    border-radius: 40px;
    border: 1px solid #CE9F54 !important;
    margin-right: 0;
    text-align: center;
    padding: 0 2rem;
    background-color: #CE9F54;
    color: #fff;
    font-size: 1.7rem;
    width: 100%;
    display: block;
    align-content: center;
    margin-bottom: 3rem;
    font-weight: 500;
  }

  .benefits {
    padding: 20px;
    text-align: center;
  }

  .benefits h3 {
    font-size: 8vw;
    margin-bottom: 20px;
    color: #001b40;
  }

  .benefit {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .benefit img {
    max-width: 50px;
    margin-right: 2rem;
  }

  .benefit p {
    text-align: left;
    color: #19344E;
    font-family: $font-family-sans-serif;
  }


  .app {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
  }

  .app-preview {
    max-width: 100%;

  }

  .store-links {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 150px;
      margin: 10px;
    }
  }


  .footer {

    text-align: center;
    padding: 20px;
  }

  .footer-logo img {

    margin: 10px 0;
  }
}

.h-proces {
  height: 82vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.scrol-none {
  overflow: hidden;
}

.icon-video {
  position: absolute;
  height: 10rem;
  width: 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.palo {
  height: 4rem;
  width: 1px;
  border: 1px solid #19364e;
}

.logo-galery {
  position: absolute;
  height: auto;
  width: 7rem;
  top: 0;
  right: 0;
}



.ww-coontact {
  list-style: none;
  padding-left: 3rem;
  justify-content: end;


  li {
    color: #94B4D2;
    margin-top: 0.5rem;
    padding: 2.2rem;
    padding-right: 2vw;
    border-radius: 20% 0 0 20%;
    display: flex;
    align-items: end;
    border-radius: 3rem 0 0 3rem;
    padding: 1rem 1.5rem;
    border: 1px solid #96C2F6;

    a {
      font-family: "Montserrat", system-ui, -apple-system, sans-serif;
      font-size: 0.9vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1rem;
      letter-spacing: 0.0375rem;

    }

    img {
      margin-right: .5rem;
      width: 2.5rem;
      height: 2.5rem;
      object-fit: contain;

    }
  }

}


.sliding-panel-wrap {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  right: -100%;
  top: 0;
  transition: right 1s;

  .sliding-panel-content {
    position: relative;
    width: 100vw;
    max-width: 700px;
    border: 1px solid #E1E1E1;
    background-color: #fff;
    color: #333333;
  }

  hr {
    margin: 2rem 0;
    border-top: 1.5px solid #F3F3F3;
  }

  &.slide {
    right: 0;
  }
}