<form method="post" action="{{ path('app_process_field_delete', {'id': process_field.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ process_field.id) }}">
    <button class="btn">Delete</button>
</form>
