{% extends 'base.html.twig' %}

{% block title %}Edit ProcessField{% endblock %}

{% block body %}
    <h1>Edit ProcessField</h1>

    {{ include('process_field/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_process_field_index') }}">back to list</a>

    {{ include('process_field/_delete_form.html.twig') }}
{% endblock %}
