{% extends 'base.html.twig' %}

{% block title %}ProcessField index{% endblock %}

{% block body %}
    <h1>ProcessField index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for process_field in process_fields %}
            <tr>
                <td>{{ process_field.id }}</td>
                <td>{{ process_field.name }}</td>
                <td>{{ process_field.description }}</td>
                <td>{{ process_field.type }}</td>
                <td>{{ process_field.created ? process_field.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ process_field.updated ? process_field.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_process_field_show', {'id': process_field.id}) }}">show</a>
                    <a href="{{ path('app_process_field_edit', {'id': process_field.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No se encontró ningún registro</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_process_field_new') }}">Create new</a>
{% endblock %}
