{% extends 'base.html.twig' %}

{% block title %}New ProcessField{% endblock %}

{% block body %}
    <h1>Create new ProcessField</h1>

    {{ include('process_field/_form.html.twig') }}

    <a href="{{ path('app_process_field_index') }}">back to list</a>
{% endblock %}
