{% extends 'base.html.twig' %}

{% block title %}ProcessField{% endblock %}

{% block body %}
    <h1>ProcessField</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ process_field.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ process_field.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ process_field.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ process_field.type }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ process_field.created ? process_field.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ process_field.updated ? process_field.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_process_field_index') }}">back to list</a>

    <a href="{{ path('app_process_field_edit', {'id': process_field.id}) }}">edit</a>

    {{ include('process_field/_delete_form.html.twig') }}
{% endblock %}
