@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-BoldItalic.woff2') format('woff2'),
        url('CMUSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-Roman.woff2') format('woff2'),
        url('CMUSerif-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-Bold.woff2') format('woff2'),
        url('CMUSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-Italic.woff2') format('woff2'),
        url('CMUSerif-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

