<!DOCTYPE html>
<html data-turbo="false">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}ROEL EDUCATION
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('build/images/icons/favicon-fs.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('build/images/icons/TI-SA.png') }}">
    <link rel="javascritp" href="{{ asset('javascripts/jscolor.min.js') }}">
    {% block stylesheets %}
        <link href="https://fonts.cdnfonts.com/css/sf-ui-display" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
        <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% block headerAnalytics %}{% endblock %}
</head>
<body>
<div class=" container-fluid  cont-flashes">
    <div class="row">
        <div class="col-md-20 offset-4">
            {% for flashMessage in app.flashes('success') %}
                <div class="row">
                    <div class="alert alert-success col-md-23 m-t-1">
                        {{ flashMessage }}
                        <a href="#" class="delete-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewbox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/>
                                    <path fill="white"
                                          d="m12 13.414l5.657 5.657a1 1 0 0 0 1.414-1.414L13.414 12l5.657-5.657a1 1 0 0 0-1.414-1.414L12 10.586L6.343 4.929A1 1 0 0 0 4.93 6.343L10.586 12l-5.657 5.657a1 1 0 1 0 1.414 1.414z"/>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% set currentRoute = app.request.attributes.get('_route') %}
<div class="container-fluid cont-primary">
    {% set current_path = app.request.attributes.get('_route') %}
    <div class="row menu-active {{ currentRoute }}" data-path="{{ current_path }}">
        {% block menu %}
            {{ render(controller('App\\Controller\\HomeController::menu' )) }}
        {% endblock %}
        {% block body %}{% endblock %}
    </div>
</div>
{% set parameters =  { id: 'mainSlidingPanel' } %}
<div {{ stimulus_controller('sliding-panel') }} >
    {{ include('turbo/_sliding_frame.html.twig',parameters) }}
</div>
</body>
{% block footer %}{% endblock %}
</html>
