<div class="row">
    <div class="col-24">
        <div class="top-notification-wrap">
            <h3>¡HOLA!</h3>
            <h2>{{ app.user.name|upper }} {{ app.user.lastname|upper }}</h2>
        </div>
    </div>
</div>

{# <div class="row nav-header-cont"> #}
{#    <div class="col-23 mx-auto  notification-wrap"> #}
{#        <div class="row "> #}

{#            <div class="col-md-11 user d-flex align-items-center "> #}
{#                <div class=" line-deco m-r-2"> #}
{#                    <h4> #}
{#                        ¡Bienvenido de nuevo, #}

{#                    </h4> #}
{#                    <h2 class="name "> #}
{#                        {{ app.user.name }} #}
{#                        {{ app.user.lastname }}! #}
{#                    </h2> #}
{#                </div> #}
{#                <div class=""> #}
{#                    <h3 class="m-b-1"></h3> #}
{#                    <h4> #}
{#                        #}{# <small>Última actualización hace 4 hrs.</small> #}
{#                    </h4> #}
{#                </div> #}
{#            </div> #}
{#            {% if not is_granted('ROLE_TUTOR') %} #}
{#                <div class="col-md-7 search" style="visibility: hidden"> #}
{#                    <input class="" type="text" id="search" name="search" required minlength="4" placeholder="Realizar búsqueda"  /> #}
{#                    <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewbox="0 0 20 20" fill="currentColor"> #}
{#                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/> #}
{#                    </svg> #}
{#                </div> #}
{#                <div class="col-md-6 notification d-flex justify-content-end align-items-center"> #}
{#                    <p class="status-ready">EN LÍNEA #}
{#                    </p> #}
{#                    <span class="icon-ready m-x-2"> #}
{#                        <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewbox="0 0 51 51" fill="none"> #}
{#                            <circle cx="25.6092" cy="25.4388" r="25.1302" fill="#EDFFF8"/> #}
{#                            <path d="M35.2063 16.8401C35.305 16.1641 35.6475 15.6418 36.3653 15.4189C37.3361 15.1182 38.3957 15.8288 38.4134 16.8433C38.4402 18.4331 38.4336 20.0242 38.4153 21.6147C38.4055 22.439 37.7087 23.1071 36.8242 23.1215C35.2998 23.1463 33.774 23.1463 32.2489 23.1215C31.39 23.1078 30.748 22.492 30.6532 21.6781C30.5663 20.9316 31.0651 20.1798 31.8005 19.985C32.0182 19.9275 32.2522 19.9262 32.4797 19.9177C32.7811 19.9072 33.0831 19.9151 33.438 19.9151C33.3655 19.7909 33.3315 19.7137 33.2818 19.6497C31.5717 17.4473 29.3439 16.1478 26.5571 15.8954C22.1715 15.498 18.4336 17.7742 16.696 21.8559C16.377 22.6057 15.8063 22.9881 15.0526 22.9574C14.4185 22.9313 13.8086 22.4913 13.6485 21.8291C13.5668 21.4911 13.5687 21.0715 13.6962 20.7538C15.1579 17.1087 17.7374 14.558 21.4628 13.3362C26.3525 11.7327 30.7323 12.7766 34.5362 16.24C34.7598 16.4433 34.9866 16.6439 35.2063 16.8401Z" fill="#00CAA5"/> #}
{#                            <path d="M16.0812 33.9846C15.9897 34.6154 15.7766 35.1194 15.2484 35.445C14.7352 35.7614 14.1933 35.7869 13.6612 35.5117C13.116 35.2299 12.8035 34.7632 12.7977 34.1467C12.7826 32.5889 12.7852 31.0305 12.7957 29.4721C12.8016 28.6314 13.4971 27.9313 14.3424 27.9235C15.8897 27.9097 17.437 27.9097 18.9843 27.9228C19.8635 27.93 20.561 28.6478 20.5682 29.5113C20.5754 30.3932 19.8812 31.1037 18.9791 31.1273C18.6339 31.1364 18.2881 31.1286 17.871 31.1286C17.9815 31.2815 18.0502 31.3861 18.1286 31.4829C22.6934 37.1518 31.7557 35.8254 34.4927 29.0851C34.7464 28.4602 35.1563 28.0333 35.8341 27.9352C36.4421 27.8476 36.9539 28.0647 37.3266 28.5562C37.6822 29.025 37.7652 29.5545 37.5442 30.1003C36.0812 33.7166 33.5403 36.2909 29.8417 37.512C24.6251 39.2338 20.0407 38.0258 16.1753 34.1166C16.1374 34.08 16.1126 34.0297 16.0812 33.9846Z" fill="#00CAA5"/> #}
{#                        </svg> #}
{#                    </span> #}
{#                    <a href="#"> #}
{#                        <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewbox="0 0 51 51" fill="none"> #}
{#                            <circle cx="25.8695" cy="25.4388" r="25.1302" fill="#FFF5E6"/> #}
{#                            <path d="M25.3394 38.5537C22.9135 38.5537 20.938 36.5795 20.938 34.1523C20.938 33.6663 21.3324 33.272 21.8183 33.272C22.3042 33.272 22.6986 33.6663 22.6986 34.1523C22.6986 35.6089 23.884 36.7931 25.3394 36.7931C26.7948 36.7931 27.9803 35.6089 27.9803 34.1523C27.9803 33.6663 28.3746 33.272 28.8606 33.272C29.3465 33.272 29.7409 33.6663 29.7409 34.1523C29.7409 36.5795 27.7656 38.5537 25.3394 38.5537Z" fill="#CE9F54"/> #}
{#                            <path d="M35.0223 35.0326H15.656C14.5234 35.0326 13.6021 34.1113 13.6021 32.9787C13.6021 32.3776 13.8638 31.8085 14.3203 31.4176C14.3497 31.3918 14.3813 31.3684 14.4142 31.3471C16.1372 29.8436 17.1232 27.6804 17.1232 25.3963V22.1217C17.1232 17.5913 20.8098 13.9058 25.3391 13.9058C25.527 13.9058 25.7301 13.9092 25.9179 13.941C26.3978 14.0207 26.7219 14.4751 26.6419 14.9539C26.5622 15.4327 26.0997 15.7568 25.6291 15.6769C25.5351 15.6616 25.432 15.6663 25.3391 15.6663C21.7806 15.6663 18.8838 18.5619 18.8838 22.1217V25.3963C18.8838 28.2321 17.6407 30.9153 15.4765 32.7567C15.4589 32.7709 15.4436 32.7838 15.4247 32.7967C15.3931 32.8367 15.3626 32.8977 15.3626 32.9787C15.3626 33.1382 15.4965 33.2721 15.656 33.2721H35.0223C35.182 33.2721 35.3159 33.1382 35.3159 32.9787C35.3159 32.8964 35.2853 32.8367 35.2525 32.7967C35.2348 32.7838 35.2196 32.7709 35.202 32.7567C33.0365 30.914 31.7947 28.2321 31.7947 25.3963V24.1172C31.7947 23.6313 32.1891 23.2369 32.675 23.2369C33.1609 23.2369 33.5553 23.6313 33.5553 24.1172V25.3963C33.5553 27.6817 34.5424 29.8459 36.2677 31.3507C36.2993 31.3718 36.3298 31.3942 36.358 31.4189C36.8147 31.8085 37.0764 32.3776 37.0764 32.9787C37.0764 34.1113 36.1551 35.0326 35.0223 35.0326Z" fill="#CE9F54"/> #}
{#                            <g filter="url(#filter0_d_2_42302)"> #}
{#                                <circle cx="33.5607" cy="16.1874" r="4.63391" fill="#FF2C32"/> #}
{#                            </g> #}
{#                            <defs> #}
{#                                <filter id="filter0_d_2_42302" x="24.9268" y="7.55347" width="17.2676" height="17.2678" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB"> #}
{#                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/> #}
{#                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/> #}
{#                                    <feOffset/> #}
{#                                    <feGaussianBlur stddeviation="2"/> #}
{#                                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0.239216 0 0 0 0.6 0"/> #}
{#                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_42302"/> #}
{#                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_42302" result="shape"/> #}
{#                                </filter> #}
{#                            </defs> #}
{#                        </svg> #}
{#                    </a> #}

{#                </div> #}

{#            {% endif %} #}
{#        </div> #}
{#    </div> #}
{# </div> #}
