{% import _self as formMacros %}  
{% macro printProcesosRow(procesoRow) %}
	<div class="col-md-24">
		{{ form_row(procesoRow.name, { attr: {required: 'true'} }) }}
		<h5 class="mb-0">
			Subprocesos
		</h5>
		<div class="row">
			<div class="col-md-23 offset-1" data-entry-add-label="Agregar subproceso" data-prototype="{{ formMacros.printSubProcesosRow(procesoRow.children.vars.prototype)|e('html_attr') }}">
				{% for proceso in procesoRow.children %}
					{{ formMacros.printSubProcesosRow(proceso) }}
				{% endfor %}
			</div>
		</div>
		
	</div>
{% endmacro %}

{% macro printSubProcesosRow(procesoRow) %}
	<div class="col-md-24">
		{{ form_row(procesoRow.name, { attr: {required: 'true'} }) }}
		<h5>
			Documentos
		</h5>
		<div class="row">
			<div class="col-md-23 offset-1 "data-entry-add-label="Agregar documento" data-prototype="{{ formMacros.printDocumentsRow(procesoRow.documents.vars.prototype)|e('html_attr') }}">
				{% for document in procesoRow.documents %}
					{{ formMacros.printDocumentsRow(document) }}
				{% endfor %}

			</div>
		</div>
		<h5 class="mb-0">
			Campos
		</h5>
		<div class="row">
			<div class="col-md-23 offset-1" data-entry-add-label="Agregar campo" data-prototype="{{ formMacros.printFieldesRow(procesoRow.fields.vars.prototype)|e('html_attr') }}">
				{% for field in procesoRow.fields %}
					{{ formMacros.printFieldesRow(field) }}
				{% endfor %}
			</div>
		</div>
	</div>
{% endmacro %}

{% macro printDocumentsRow(documentRow) %}
	<div class="row">
		<div class="col-md-24">
			{{ form_row(documentRow.name,{ attr: {required: 'true'} }) }}
		</div>
		<div class="col-md-24">
			{{ form_row(documentRow.description) }}
		</div>
	</div>
{% endmacro %}

{% macro printFieldesRow(fieldRow) %}
	<div class="row">
		<div class="col-md-15">
			{{ form_row(fieldRow.name, { attr: {required: 'true'} }) }}
		</div>
		<div class="col-md-8">
			{{ form_row(fieldRow.type, { attr: {required: 'true'} }) }}
		</div>
		<div class="col-md-23">
			{{ form_row(fieldRow.description, { attr: {required: 'true'} }) }}
		</div>
	</div>
{% endmacro %}


{{ form_start(form) }}
<div class="row stage-candidate">
	<div class="col-md-12">
		{{ form_row(form.name) }}
	</div>
	<div class="col-md-12">
		{{ form_row(form.color) }}
	</div>
	<div class="col-md-23 offset-1">
		<div class="row" data-entry-add-label="Agregar proceso"  data-index="{{ form.processes|length > 0 ? form.processes|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.printProcesosRow(form.processes.vars.prototype)|e('html_attr') }}">
			{% for processe in form.processes %}
				{{ formMacros.printProcesosRow(processe) }}
			{% endfor %}
		</div>
	</div>
</div>
<div class="btn-footer-form">
	<a class="btn-return" href="{{ path('app_school_index') }}">Volver al listado</a>
	<button class="btn btn-save">Guardar</button>
</div>

<div class="d-none">{{ form_widget(form._token) }}</div>
{{ form_end(form, {'render_rest': false}) }}
