{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <h1>Document</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ document.name }}</td>
            </tr>
            <tr>
                <th>TypeDocument</th>
                <td>{{ document.typeDocument }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ document.created ? document.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ document.updated ? document.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_document_index') }}">back to list</a>

    <a href="{{ path('app_document_edit', {'id': document.id}) }}">edit</a>

    {{ include('document/_delete_form.html.twig') }}
{% endblock %}
