<div class="sliding-panel-wrap {{ defaultFrameSrc is defined ? 'slide':'' }}" data-sliding-panel-target="slidingFrame">
    {% if defaultFrameSrc is defined %}
        {% set frameSrc = defaultFrameSrc %}
    {% endif %}
    <div class="sliding-panel-content">
        <div class="p-t-1 p-l-1 sliding-panel-header">
            <button class="btn btn-border btn-action mb-0" data-action="sliding-panel#slideOut">
                x
            </button>
        </div>
        <turbo-frame id="{{ id }}" src="{{ frameSrc ?? '' }}" loading="lazy" data-turbo-form-redirect="true">
            {{ modalContent|default('Loading...') }}
        </turbo-frame>
    </div>
</div>
