<div class="modal fade" id="modalLot" tabindex="-1" aria-hidden="true" data-modal-form-target="modal">
    <div class="modal-dialog {{ modalDialogClasses ?? '' }}">
        <div class="modal-content ">
            <div class="modal-header">
                <h3 class="modal-title">{{ modalTitle }}</h3>
            </div>
            <turbo-frame id="{{ id }}" class="modal-body" src="{{ modalSrc }}" loading="lazy" data-turbo-form-redirect="true">
                {{ modalContent|default('Loading...') }}
            </turbo-frame>
        </div>
    </div>
</div>
