<turbo-frame id="mainSlidingPanel">
    {{ form_start(form, {'action': path('app_school_edit_stage', {'id': stage.id})}) }}
    <div class="col-md-12">
        <h3 class="m-t-1">INFORMACIÓN GENERAL</h3>
        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="col-md-12">
                {{ form_label(form.color) }}
                {{ form_widget(form.color, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.color) }}
            </div>
        </div>
        
    </div>
    {{ form_end(form) }}
</turbo-frame>
