{% import _self as formMacro %}
{% macro printProcess(processForm) %}
	<div class="collection-item-wrap">
		<div class="row">
			<div class="col-md-22">
				<div class="form-group">
					{{ form_label(processForm.name) }}
					{{ form_widget(processForm.name, {'attr':{'required':true}}) }}
					{{ form_errors(processForm.name) }}
				</div>
			</div>
			<div class="col-md-2 d-flex align-items-center">
				<a href="#" class="js-remove-new pull-right">
					<span class="fa fa-close">X</span>
				</a>
			</div>
		</div>
		<div class="d-none">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(processForm.position) }}
					{{ form_widget(processForm.position) }}
					{{ form_errors(processForm.position) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(processForm.type) }}
					{{ form_widget(processForm.type) }}
					{{ form_errors(processForm.type) }}
				</div>
			</div>
			<div class="col-md-12 ">
				<div class="form-group">
					{{ form_label(processForm.documents) }}
					{{ form_widget(processForm.documents) }}
					{{ form_errors(processForm.documents) }}
				</div>
			</div>
			<div class="col-md-12 ">
				<div class="form-group">
					{{ form_label(processForm.stage) }}
					{{ form_widget(processForm.stage) }}
					{{ form_errors(processForm.stage) }}
				</div>
			</div>
			<div class="col-md-12 ">
				<div class="form-group">
					{{ form_label(processForm.children) }}
					{{ form_widget(processForm.children) }}
					{{ form_errors(processForm.children) }}
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
<turbo-frame
	id="mainSlidingPanel">
	{# {{ form_start(form) }} #}
	<div data-turbo="true">
		{{ form_start(form, {'attr': {'action': path('app_school_add_stage', {'id': school.id})}}) }}
		<div class="col-md-12 " >
			<h3 class="m-t-1">INFORMACIÓN GENERAL</h3>
			<div class="row">
				<div class="col-md-12">
					{{ form_label(form.name) }}
					{{ form_widget(form.name) }}
					{{ form_errors(form.name) }}
				</div>
				<div
					class="col-md-12">
					{# <input data-jscolor="{ format: 'rgba', required: false, palette: '#C00 #0C0 #00C', previewPosition: 'right' }" id="color-picker"> #}
					{{ form_label(form.color) }}
					{{ form_widget(form.color) }}
					{{ form_errors(form.color) }}
				</div>
				{{ form_widget(form.enviar) }}
			</div>
		</div>
		{# <button type="submit" class="btn btn-primary">Guardar</button> #}
		{{ form_end(form) }}
	</div>
</div>
