<h3 class="m-t-1">PROCESOS RELACIONADOS</h3>

<div class="collection-wrap-process" data-index="{{ form.processes|length > 0 ? form.processes|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacro.printProcess(form.processes.vars.prototype)|e('html_attr') }}">
    <ul class="list-group list-group-flush process-list">
        {% if form.processes|length > 0 %}
            {% for process in form.processes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ process.vars["value"].name }}
                    <div>

                        {% set idStage = process.vars["value"].id != null ? process.vars["value"].id : 0 %}
                        <a href="{{ path('app_process_edit',{'id': idStage }) }}">
                            <img class="icon" src="{{ asset('build/images/icons/edit_process.png') }}"/>
                        </a>
                        <a href="#" class="js-remove-process">
                            <img class="icon" src="{{ asset('build/images/icons/delete_process.png') }}"/>
                        </a>
                    </div>
                    <div class="d-none">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                {{ form_label(process.name) }}
                                {{ form_widget(process.name) }}
                                {{ form_errors(process.name) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(process.position) }}
                                {{ form_widget(process.position) }}
                                {{ form_errors(process.position) }}
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                {{ form_label(process.type) }}
                                {{ form_widget(process.type) }}
                                {{ form_errors(process.type) }}
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                {{ form_label(process.documents) }}
                                {{ form_widget(process.documents) }}
                                {{ form_errors(process.documents) }}
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                {{ form_label(process.stage) }}
                                {{ form_widget(process.stage) }}
                                {{ form_errors(process.stage) }}
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                {{ form_label(process.children) }}
                                {{ form_widget(process.children) }}
                                {{ form_errors(process.children) }}
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <div class="d-none">
                {{ form_widget(form.processes)}}
            </div>
        {% endif %}
    </ul>

</div>

<div class="btn-footer-form m-t-3">
    <button href="#" class="js-genus-process-add add-process-btn">
        Agregar proceso
    </button>
    <button class="btn btn-save">Guardar</button>
</div>