{% extends 'base.html.twig' %}

{% block title %}Stage index{% endblock %}

{% block body %}
    <h1>Stage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Order</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Color</th>
                <th>Template</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.id }}</td>
                <td>{{ stage.name }}</td>
                <td>{{ stage.order }}</td>
                <td>{{ stage.created ? stage.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ stage.updated ? stage.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ stage.color }}</td>
                <td>{{ stage.template ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_stage_show', {'id': stage.id}) }}">show</a>
                    <a href="{{ path('app_stage_edit', {'id': stage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se encontró ningún registro</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stage_new') }}">Create new</a>
{% endblock %}
