{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ stage.name }}</td>
            </tr>
            <tr>
                <th>Order</th>
                <td>{{ stage.order }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ stage.created ? stage.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ stage.updated ? stage.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ stage.color }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ stage.template ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stage_index') }}">back to list</a>

    <a href="{{ path('app_stage_edit', {'id': stage.id}) }}">edit</a>

    {{ include('stage/_delete_form.html.twig') }}
{% endblock %}
