{% import _self as formMacro %}
{% macro printChild(childForm) %}
	<div class="collection-item-wrap">
		<div class="row">
			<div class="col-md-22">
				<div class="form-group">
					{{ form_label(childForm.name) }}
						{{ form_widget(childForm.name, {'attr':{'required':true}}) }}
						{{ form_errors(childForm.name) }}
				</div>
			</div>
			<div class="col-md-2 d-flex align-items-center">
				<a href="#" class="js-remove-new pull-right">
					<span class="fa fa-close">X</span>
				</a>
			</div>
		</div>
		<div class="row d-none">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(childForm.position) }}
					{{ form_widget(childForm.position) }}
					{{ form_errors(childForm.position) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(childForm.type) }}
					{{ form_widget(childForm.type) }}
					{{ form_errors(childForm.type) }}
				</div>
			</div>
			<div class="col-md-6 ">
				<div class="form-group">
					{{ form_label(childForm.documents) }}
					{{ form_widget(childForm.documents) }}
					{{ form_errors(childForm.documents) }}
				</div>
			</div>
			<div class="col-md-6 ">
				<div class="form-group">
					{{ form_label(childForm.process) }}
					{{ form_widget(childForm.process) }}
					{{ form_errors(childForm.process) }}
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro printField(fieldForm) %}
	<div class="collection-item-wrap">
		<div class="row">
			<div class="col-md-24 ">
				<div class="form-group">
					{{ form_label(fieldForm.name) }}
					{{ form_widget(fieldForm.name) }}
					{{ form_errors(fieldForm.name) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-24 ">
				<div class="form-group">
					{{ form_label(fieldForm.description) }}
					{{ form_widget(fieldForm.description) }}
					{{ form_errors(fieldForm.description) }}
				</div>
			</div>
		</div>
		<div class="row d-none">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(fieldForm.type) }}
					{{ form_widget(fieldForm.type) }}
					{{ form_errors(fieldForm.type) }}
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
{% macro printDocument(documentForm) %}
	<div class="collection-item-wrap">
		<div class="row">
			<div class="col-md-20">
				<div class="form-group">
					{{ form_label(documentForm.name) }}
					{{ form_widget(documentForm.name) }}
					{{ form_errors(documentForm.name) }}
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					{{ form_label(documentForm.typeDocument) }}
					{{ form_widget(documentForm.typeDocument) }}
					{{ form_errors(documentForm.typeDocument) }}
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{{ form_start(form) }}
<div class="col-md-12 p-x-2 m-t-1">
	<div class="row">
		<h3 class="text-blue">PROCESO</h3>
		<div class="col-md-24">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			{{ form_errors(form.name) }}
		</div>
		<div class="col-md-12 d-none">
			{{ form_row(form.position) }}
			{{ form_row(form.type) }}
			{{ form_row(form.documents) }}
			{{ form_row(form.stage) }}
		</div>
	</div>
	<div class="row m-t-1">
		<h3 class="text-blue">SUBPROCESOS</h3>
		<div class="row d-flex m-t-1 m-b-1">
			<a href="#" class="js-genus-subprocess-add add-subprocess-btn">
				<i class="bi bi-plus-circle"></i>
				Agregar subproceso
			</a>
		</div>
		<ul class="list-group list-group-flush subprocess-list">
			{% for child in form.children %}
				<li class="list-group-item d-flex justify-content-between align-items-center p-1">
					{{ child.vars["value"].name }}
					<div>
						<a href="#" class="js-edit-children" data-id="{{child.vars["value"].id}}">
							<img class="icon" src="{{ asset('build/images/icons/edit_process.png') }}"/>
						</a>
						<a href="#" class="js-remove-children" data-id="{{child.vars["value"].id}}">
							<img class="icon" src="{{ asset('build/images/icons/delete_process.png') }}"/>
						</a>
					</div>
				</li>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-12 p-x-2">
		<div class="row b-l-b">
			<div class="col-md-14">
				<h3>CAMPOS E INFORMACION</h3>
			</div>
			<div class="col-md-10 d-flex">
				<a href="#" class="js-genus-document-add add-document-btn" data-id="0">
					Archivo +
				</a>
				<a href="#" class="js-genus-field-add add-field-btn" data-id="0">
					Campo +
				</a>
			</div>
		</div>
		<div class="col-md-24 collection-wrap-subprocess" data-index="{{ form.children|length > 0 ? form.children|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacro.printChild(form.children.vars.prototype)|e('html_attr') }}">
			{% for child in form.children %}
				<div class="container-child-{{child.vars["value"].id}} container-hidden d-none">
					<div class="col-md-24 ">
						<div class="form-group">
							{{ form_label(child.name) }}
							{{ form_widget(child.name) }}
							{{ form_errors(child.name) }}
						</div>
					</div>
					<div class="card card-campo-subproceso m-t-1">
						<div class="card-body">
							<h6 class="text-campo">CAMPO</h6>
							<div class="collection-wrap-fields-{{child.vars["value"].id}}" data-index="{{ child.fields|length > 0 ? child.fields|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacro.printField(child.fields.vars.prototype)|e('html_attr') }}">
								{% if child.documents|length > 0 %}
									{% for field in child.fields %}
										<div class="row field-group-item m-t-1">
											<div class="form-group">
												{{ form_label(field.description) }}
												
												{{ form_widget(field.description) }}
												{{ form_errors(field.description) }}
											</div>
											<div class="d-none">
												<div class="row">
													<div class="form-group">
														{{ form_label(field.name) }}
														{{ form_widget(field.name) }}
														{{ form_errors(field.name) }}
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														{{ form_label(field.type) }}
														{{ form_widget(field.type) }}
														{{ form_errors(field.type) }}
													</div>
												</div>
												
											</div>
										</div>
									{% endfor %}
								{% else %}
									<div class="row d-none">
										<div class="col-md-12">
											<div class="form-group">
												{{ form_row(child.fields) }}
											</div>
										</div>
									</div>
								{% endif %}
							</div>
							<div class="collection-wrap-documents-{{child.vars["value"].id}}" data-index="{{ child.documents|length > 0 ? child.documents|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacro.printDocument(child.documents.vars.prototype)|e('html_attr') }}">
							{% if child.documents|length > 0 %}
								{% for document in child.documents %}
									<div class="col-md-24 document-group-item">
										<div class="row">
											<div class="col-md-12">
												<label for="document_name" class="required no-m">Archivo</label>
												<p id="document_name" class="document-name">{{ document.vars["value"].name }}</p>
											</div>
											<div class="col-md-12 d-inline-flex align-items-end">
												<a href="#" class="js-remove-document">Recepción de archivo</a>
											</div>
										</div>
										<div class="row d-none">
											<div class="col-md-12">
												<div class="form-group">
													{{ form_label(document.name) }}
													{{ form_widget(document.name) }}
													{{ form_errors(document.name) }}
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													{{ form_label(document.typeDocument) }}
													{{ form_widget(document.typeDocument) }}
													{{ form_errors(document.typeDocument) }}
												</div>
											</div>
										</div>
									</div>

								{% endfor %}
								{% else %}
									<div class="row d-none">
										<div class="col-md-12">
											<div class="form-group">
												{{ form_row(child.documents) }}
											</div>
										</div>
									</div>
								{% endif %}
							</div>
							<div class="d-none">
								<div class="col-md-12">
									<div class="form-group">
										{{ form_label(child.position) }}
										{{ form_widget(child.position) }}
										{{ form_errors(child.position) }}
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										{{ form_label(child.type) }}
										{{ form_widget(child.type) }}
										{{ form_errors(child.type) }}
									</div>
								</div>
								<div class="col-md-24">
									<div class="form-group">
										{{ form_label(child.process) }}
										{{ form_widget(child.process) }}
										{{ form_errors(child.process) }}
									</div>
								</div>
								<div class="col-md-24">
									<div class="form-group">
										{{ form_label(child.stage) }}
										{{ form_widget(child.stage) }}
										{{ form_errors(child.stage) }}
									</div>
								</div>
								 
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="d-none extra">
			
				{# {% if form.children is null %}
				{{ form_row(form.children) }}
				{% endif %} #}
				{# {{ form_end(form, {'render_rest': false}) }} #}
			</div>

		</div>
	</div>
</div>
<div class="col-md-12"></div>
<div>
	<button class="btn btn-save m-t-2">Guardar</button>
</div>
{{ form_end(form) }}
