<turbo-frame id="mainSlidingPanel">
    {{ form_start(form, {
        'action': path('app_school_edit_subprocess', {'id': processe.id})
    }) }}

    <div class="col-md-12">
        <h3 class="m-t-1">Editar Subproceso</h3>
        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Actualizar</button>
    </div>

    {{ form_end(form) }}
</turbo-frame>
