{% extends 'base.html.twig' %}

{% block title %}Process index
{% endblock %}

{% block body %}
	<div class="col-md-19 ">

		{{ render(controller('App\\Controller\\NotificationBarController::index' )) }}

		<div class="content-list">
			<div class="col-23 mx-auto m-t-7">
				<div class="row">
					<div class="txt-header m-t-2">
						<h1>SEGUIMIENTO DE PROCESO y ETAPAS </h1>
						<h3>Consulta. creación y modificación de las procesos y etapas disponibles</h3>
					</div>
					{# <div class="d-flex justify-content-end actions-buttons m-t-2 btn-new">
						<a href="{{ path('app_school_new') }}">Nueva oferta</a>
					</div> #}
				</div>

				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Position</th>
							<th>Type</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for process in processes %}
							<tr>
								<td>{{ process.id }}</td>
								<td>{{ process.name }}</td>
								<td>{{ process.position }}</td>
								<td>{{ process.type }}</td>
								<td>
									<a href="{{ path('app_process_show', {'id': process.id}) }}">show</a>
									<a href="{{ path('app_process_edit', {'id': process.id}) }}">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">No se encontró ningún registro</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<a href="{{ path('app_process_new') }}">Create new</a>
			</div>
		</div>
	</div>
    

{% endblock %}
