<turbo-frame id="mainSlidingPanel">
    {{ form_start(form, {
        'action': path(
            processe is defined ? 'app_school_edit_processe' : 'app_school_add_processe',
            processe is defined ? {'id': processe.id} : {'stageId': stageId}
        )
    }) }}
    
    <div class="col-md-12">
        <h3 class="m-t-1">{{ processe is defined ? 'Editar' : 'Nuevo' }} Proceso</h3>
        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>

    {{ form_end(form) }}
</turbo-frame>
