{% for description in form.descriptions %}
	<div class='row'>
		<div class="col-md-12">
			{{ form_row(description.period) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.cost) }}
		</div>

		<div class="col-md-12">
			{{ form_row(description.capacity) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.dormitoriesCapacity) }}
		</div>
		{# <div class="col-md-12">
			{{ form_row(description.currency) }}
		</div> #}
		<div class="col-md-12">
			{{ form_row(description.typeSchool) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.dresscode) }}
		</div>


		<div class="col-md-12">
			{{ form_row(description.tourVirtual) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.airport) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.founded) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.totalMexicans) }}
		</div>
		<div class="col-md-24">
			{{ form_row(description.closestCity) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.esl) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.military) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.religion) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.advancesClasses) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.learningDifferences) }}
		</div>
		<div class="col-md-12">
			{{ form_row(description.ib) }}
		</div>
        <div class="col-md-12">
			{{ form_row(description.saturdayClasses) }}
		</div>
        <div class="col-md-12">
			{{ form_row(description.iGSCE) }}
		</div>
        <div class="col-md-12">
			{{ form_row(description.aLevel) }}
		</div>
        <div class="col-md-12">
			{{ form_row(description.requiereGuardian) }}
		</div>
        <div class="col-md-12">
			{{ form_row(description.applicationDeadline) }}
		</div>
        <div class="col-md-12">
			{{ form_row(description.rollingAdmission) }}
		</div>
	</div>
{% endfor %}
