{% import _self as formMacros %}
<div class="col-md-24 p-x-1 default">
	<nav>
		<div id="message" class="m-t-2"></div>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link active" id="btn-tab-general" data-bs-toggle="tab" data-bs-target="#tab-general" type="button" role="tab" aria-controls="tab-general" aria-selected="true">
				Información General</button>
			<button class="nav-link" id="btn-tab-caracteristicas" data-bs-toggle="tab" data-bs-target="#tab-caracteristicas" type="button" role="tab" aria-controls="tab-caracteristicas" aria-selected="false">
				Características</button>
			<button class="nav-link" id="btn-tab-galeria" data-bs-toggle="tab" data-bs-target="#tab-galeria" type="button" role="tab" aria-controls="tab-galeria" aria-selected="false">
				Galería</button>
			<button class="nav-link" id="btn-tab-procesos" data-bs-toggle="tab" data-bs-target="#tab-procesos" type="button" role="tab" aria-controls="tab-procesos" aria-selected="false">
				Etapas y procesos</button>
		</div>
	</nav>
	{{ form_start(form) }}
	{%  include 'school/tab/data_school.html.twig' %}
	{%  include 'school/tab/characteristic_school.html.twig' %}
	{%  include 'school/tab/gallery_school.html.twig' %}
	<div class="btn-footer-form w-100 border-top m-t-2">
		<a class="btn-return m-t-2" href="{{ path('app_school_index') }}">Volver al listado</a>
		<button class="btn btn-save m-t-2 form-cked">Guardar</button>
	</div>
	<div class="d-none">{{ form_widget(form._token) }}</div>
	{{ form_end(form, {'render_rest': false}) }}

	<turbo-frame id="stagesContainer" data-turbo="true">
		{% include 'school/tab/stage_school_2.html.twig' %}
	</turbo-frame>
</div>


{% block success_stream %}
	<turbo-stream action="replace" targets="#stagesContainer">
		<template>
			<turbo-frame id="stagesContainer">
				<div>
					{% include 'school/tab/stage_school_2.html.twig' %}
				</div>
			</turbo-frame>
		</template>
	</turbo-stream>
{% endblock %}
