{% extends 'base.html.twig' %}
{% block title %}Ofertas
{% endblock %}
{% block body %}
<div class="col-md-20 ">
    <div class="row">
        <div class="col-23 mx-auto">
            {{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
            <div class="content-list">

                <div class="row title-wrap">
                    <div class="txt-header m-t-1">
                        <h2 class="fw-bold text-uppercase">Ofertas</h2>
                        <h3>Consulta. creación y modificación de las ofertas disponibles</h3>
                    </div>
                    <div class="d-flex btn-cont justify-content-end actions-buttons m-y-2">
                        <a style="margin-right: 20px;padding-left: 20px;padding-right: 20px; font-weight: normal"
                           class="btn btn-outline-primary " href="{{ path('app_school_export') }}">Exportar</a>
                        <a class="btn btn-secondary btn-new btn-operator" href="{{ path('app_school_new') }}">Nueva
                            Oferta</a>
                    </div>
                </div>
                <div class="filters-wrap form-wrap row">
                    {{ form_start(filterForm,{'action': path('filters',{'filterName': 'school','routeName': 'app_school_index'})}) }}
                    <div class="container-fluid">
                        <div class=" row bd-example filter-content-type  justify-content-end">
                            <div class=" w-auto">
                                <button class=" btn-group btn btn-lg dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Ubicación
                                    <img class="icon m-l-1" src="{{ asset('build/images/icons/down.svg') }}"/>
                                </button>
                                <ul class="dropdown-menu no-close drop-roel">
                                    <div class='title d-flex align-items-center justify-content-between'>Filtros<span>
												<a href="#" class="js-limpiar">
													Limpiar
												</a>
											</span>
                                    </div>
                                    <p class='sub-title'>Ubicación de la Escuela</p>
                                    <li>
                                        <div class="flex-select">
                                            {% for countr in  filterForm.country %}
                                                <div class="checkbox checkbox-inline checkbox-success checkbox-sm flex-select-body checkbox-circle">
                                                    {{ form_widget(countr,{'attr': {'class': 'styled '}}) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class=" w-auto m-x-1">
                                <button class=" btn-group btn btn-lg dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Clubes y actividades
                                    <img class="icon m-l-1" src="{{ asset('build/images/icons/down.svg') }}"/>
                                </button>
                                <ul class="dropdown-menu no-close drop-roel" style="">
                                    <div class='title d-flex align-items-center justify-content-between'>Filtros<span>
												<a href="#" class="js-limpiar">
													Limpiar
												</a>
											</span>
                                    </div>
                                    <p class='sub-title'>Clubes y actividades de la Escuela</p>
                                    <li>
                                        <div class="flex-select">
                                            {% for activity in  filterForm.activities %}
                                                <div class="checkbox checkbox-inline checkbox-success checkbox-sm flex-select-body checkbox-circle">
                                                    {{ form_widget(activity,{'attr': {'class': 'styled'}}) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="w-auto">
                                <button class="btn-group btn btn-lg dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="icon m-r-1" src="{{ asset('build/images/icons/more-f.svg') }}"/>
                                    Otros filtros
                                </button>

                                <ul class="dropdown-menu no-close drop-roel line-b-deco scrol-y" id="filtroDropdown">
                                    <div class="title d-flex align-items-center justify-content-between">
                                        Filtros<span>
												<a href="#" class="js-limpiar">
													Limpiar
												</a>
											</span>
                                    </div>

                                    <li>
                                        <div class="flex-select">
                                            <legend class="collapsible">
                                                <div class="d-flex  justify-content-between align-items-center">
                                                    Deportes
                                                    <img class="icon m-l-1"
                                                         src="{{ asset('build/images/icons/down.svg') }}"/>
                                                </div>
                                            </legend>
                                            <div class="content">
                                                <p>
                                                <div class="flex-select">
                                                    {% for item in filterForm.sports %}
                                                        <div class="checkbox checkbox-inline checkbox-success checkbox-sm flex-select-body checkbox-circle">
                                                            {{ form_widget(item, {'attr': {'class': 'styled '}}) }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="flex-select">
                                            <legend class="collapsible">
                                                <div class="d-flex  justify-content-between align-items-center">
                                                    Religión
                                                    <img class="icon m-l-1"
                                                         src="{{ asset('build/images/icons/down.svg') }}"/>
                                                </div>
                                            </legend>
                                            <div class="content">
                                                {% for item in filterForm.religion %}
                                                    <div class="checkbox checkbox-inline checkbox-success checkbox-sm flex-select-body box-none checkbox-circle">
                                                        {{ form_widget(item, {'attr': {'class': 'styled '}}) }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex-select">
                                            <legend class="collapsible">
                                                <div class="d-flex  justify-content-between align-items-center">
                                                    Dresscode
                                                    <img class="icon m-l-1"
                                                         src="{{ asset('build/images/icons/down.svg') }}"/>
                                                </div>
                                            </legend>
                                            <div class="content ">
                                                <p>
                                                    {% for item in filterForm.dresscode %}
                                                <div class="checkbox checkbox-inline checkbox-success checkbox-sm flex-select-body  solid checkbox-circle">
                                                    {{ form_widget(item, {'attr': {'class': 'styled '}}) }}
                                                </div>
                                                {% endfor %}
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="flex-select">
                                            <legend class="collapsible">
                                                <div class="d-flex  justify-content-between align-items-center">
                                                    Militar
                                                    <img class="icon m-l-1"
                                                         src="{{ asset('build/images/icons/down.svg') }}"/>
                                                </div>
                                            </legend>
                                            <div class="content">
                                                <p>
                                                    {% for item in filterForm.military %}
                                                <div class="checkbox checkbox-inline checkbox-success checkbox-sm flex-select-body box-none checkbox-circle">
                                                    {{ form_widget(item, {'attr': {'class': 'styled '}}) }}
                                                </div>
                                                {% endfor %}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex-select">
                                            <legend class="collapsible">
                                                <div class="d-flex  justify-content-between align-items-center">
                                                    Tipo de escuela
                                                    <img class="icon m-l-1"
                                                         src="{{ asset('build/images/icons/down.svg') }}"/>
                                                </div>
                                            </legend>
                                            <div class="content">
                                                <div class="flex-select">
                                                    {% for item in filterForm.typeSchool %}
                                                        <div class="checkbox checkbox-inline checkbox-success checkbox-sm flex-select-body box-none checkbox-circle">
                                                            {{ form_widget(item, {'attr': {'class': 'styled '}}) }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="flex-select">
                                            <legend class="collapsible">
                                                <div class="d-flex  justify-content-between align-items-center">
                                                    Nivel
                                                    <img class="icon m-l-1"
                                                         src="{{ asset('build/images/icons/down.svg') }}"/>
                                                </div>
                                            </legend>
                                            <div class="content">
                                                <p>
                                                <div class="flex-select">
                                                    {% for item in filterForm.levels %}
                                                        <div class="checkbox checkbox-inline checkbox-success checkbox-sm flex-select-body checkbox-circle">
                                                            {{ form_widget(item, {'attr': {'class': 'styled '}}) }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="flex-select">
                                            <legend class="collapsible">
                                                <div class="d-flex  justify-content-between align-items-center">
                                                    Otros
                                                    <img class="icon m-l-1"
                                                         src="{{ asset('build/images/icons/down.svg') }}"/>
                                                </div>
                                            </legend>
                                            <div class="content">
                                                <p>
                                                <div class="flex-select">
                                                    {% for item in filterForm.others %}
                                                        <div class="checkbox checkbox-inline checkbox-success checkbox-sm flex-select-body checkbox-circle">
                                                            {{ form_widget(item, {'attr': {'class': 'styled '}}) }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    </li>
                                </ul>
                            </div>

                            <div class=" w-auto m-l-1">
                                {{ form_rest(filterForm) }}
                                <button class="btn btn-secondary btn-new btn-operator h-100" style="padding=10px"
                                        type="submit">Filtrar
                                </button>
                            </div>
                        </div>

                    </div>
                    {{ form_end(filterForm) }}
                </div>


                <div class="row header-list">
                    <div class="col-1 d-flex align-items-center">
                        ID
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        Foto
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        Nombre
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        País
                    </div>
                    <div class="col-5 d-flex align-items-center">
                        Dirección
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        Web
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        Etapas
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        Procesos
                    </div>
                    <div class="col-1 d-flex align-items-center"></div>
                </div>
                {# {{dump(process)}} #}
                {% for school in schools %}

                    <div class="row item-list">

                        <div class="col-1 d-flex align-items-center">
                            {{ school.id }}
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <img class="img-fluid user-img"
                                 src="{{ asset(school.image is defined and school.image ? ('uploads/media/' ~ school.image)|imagine_filter('square_thumbnail') : 'build/images/icons/def/academy.svg') }}"
                                 alt="">
                        </div>
                        <div class="col-4 d-flex align-items-center">
                            {{ school.name }}
                        </div>
                        <div class="col-4 d-flex align-items-center item-secondary">
                            {{ school.country }}
                        </div>
                        <div class="col-5 d-flex align-items-center item-secondary">
                            {{ school.address }}
                        </div>
                        <div class="col-3 d-flex align-items-center item-mail">
                            <a href="{{ school.website }}">
                                {{ school.website|length > 20 ? school.website|slice(0, 20) ~ '...' : school.website }}
                            </a>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            {{ school.stages|length }}
                            etapas
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            {% set con = 0 %}
                            {% set newArray = [] %}
                            {% for pp in school.stages %}
                                {% set con = con + pp.processes|length %}
                            {% endfor %}
                            {{ con }}
                            {# {{ school.processes|length }} #}
                            procesos
                        </div>
                        {# <div class="col-1 d-flex align-items-center">
												</div> #}
                        <div class="col-2 d-flex align-items-center justify-content-end">
                            <div class="dropdown">
                                <div class="btn-group dropstart">
                                    <button type="button" class="btn " data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                                             viewbox="0 0 512 512">
                                            <path d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"/>
                                        </svg>
                                    </button>
                                    <ul
                                            class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                        <!-- Dropdown menu links -->
                                        <li>
                                            <a href="{{ path('app_school_edit', {'id': school.id}) }}"
                                               class="dropdown-item" type="button">
                                                <img class="icon" src="{{ asset('build/images/icons/edit.svg') }}"/>
                                                Editar
                                            </a>
                                            <hr>
                                            <a href="{{ path('app_school_show', {'id': school.id}) }}"
                                               class="dropdown-item" type="button">
                                                <img class="icon" src="{{ asset('build/images/icons/info.svg') }}"/>
                                                Ver oferta

                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="8">No se encontró ningún registro</td>
                    </tr>
                {% endfor %}
            </div>

        </div>
    </div>
    {% endblock %}
