{% extends 'base.html.twig' %}
{% block title %}Nueva oferta
{% endblock %}
{% block body %}
	<div class="col-md-20">
		<div class="row">
			<div class="col-23 mx-auto">
				{{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
				<div class=" content-list">
					<div class="row title-wrap">

						<div class="txt-header ">
							<h2 class="fw-bold text-uppercase">Nueva oferta</h2>
							<h3>Visualiza los detalles de las ofertas disponibles en la plataforma</h3>
						</div>

						<div class="row form-wrap">
							{{ include('school/_form.html.twig') }}
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
