{% extends 'base.html.twig' %}

{% block title %}Detalles oferta
{% endblock %}

{% block body %}
	{# MAIN CONTAINER #}
	<div class="col-md-20">
		<div class="row">
			<div class="col-23 mx-auto">
				{{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
				<div class="row m-t-1">
					<div class="col-md-24">
						<div class="card-wrap">
							<nav>
								<div id="message" class="m-t-2"></div>
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									<button class="nav-link active" id="btn-tab-general" data-bs-toggle="tab" data-bs-target="#tab-general" type="button" role="tab" aria-controls="tab-general" aria-selected="true">
										Información General
									</button>
									{% if school.Gallery is not empty %}
										<button class="nav-link" id="btn-tab-galeria" data-bs-toggle="tab" data-bs-target="#tab-galeria" type="button" role="tab" aria-controls="tab-galeria" aria-selected="false">
											Galería
										</button>
									{% endif %}
								</div>
							</nav>

							<div class="tab-content" id="ex1-content">
								<div class="tab-pane fade show active" id="tab-general" role="tabpanel" aria-labelledby="btn-tab-general" tabindex="0">

									<div class="card-school-item m-b-2">
										<div class="image-wrap">
											<img class="img-fluid" src="{{ asset(school.image is defined and school.image ? ('/uploads/media/' ~ school.image)|imagine_filter('school_large_thumbnail') : 'build/images/icons/def/academy-2.svg') }}" alt="{{ school.name }}">
										</div>
										<div class="school-info-wrap">
											<h3>{{ school.name }}</h3>
											<div class="">
												<img class="img-fluid flag" src="{{ vich_uploader_asset(school.country, 'imageFile') }}"/>
												<p>{{ school.fullAddress }}</p>
											</div>
										</div>
										<div class="progress-wrap">
											<h3 class="m-b-1">Ubicación</h3>
											{% if school.address %}
												<iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{ school.address }}&key=AIzaSyA_W9xA55Tu14FQye1yAaxB1ZSJr82WhLQ" allowfullscreen></iframe>
											{% endif %}
										</div>
									</div>

									<div class='row'>
										<div class="col-12 basic-style">
											<div class="card-border-wrap">
												<h2>CARACTERÍSTICAS</h2>

												<div class="icon-list">
													<div class="list-item">
														<span class="ico ico-location"></span>
														<div class="item-text">
															<p>
																<strong>Ubicación:</strong>
															</p>
															<p>{{ school.address }}</p>
														</div>
													</div>

													<div class="list-item">
														<span class="ico ico-gender"></span>
														<div class="item-text">
															<p>
																<strong>Tipo de Colegio:</strong>
															</p>
															{% for descriptions in school.descriptions %}
																<p>{{ descriptions.typeSchool|default('-') }}</p>
															{% endfor %}
														</div>
													</div>

													<div class="list-item">
														<span class="ico ico-book"></span>
														<div class="item-text">
															<p>
																<strong>Grados:</strong>
															</p>
															<p>
																{% for level in school.levels %}
																	{{ level.name }}
																	{% if not(loop.last) %},
																	{% endif %}
																{% endfor %}
															</p>
														</div>
													</div>

													<div class="list-item">
														<span class="ico ico-group"></span>
														<div class="item-text">
															<p>
																<strong>Número de estudiantes:</strong>
															</p>
															{% for descriptions in school.descriptions %}
																<p>{{ descriptions.capacity| default('-') }}</p>
															{% endfor %}
														</div>
													</div>

													<div class="list-item">
														<span class="ico ico-bed"></span>
														<div class="item-text">
															<p>
																<strong>Número de estudiantes internos:</strong>
															</p>
															{% for descriptions in school.descriptions %}
																<p>{{ descriptions.dormitoriesCapacity|default('-') }}</p>
															{% endfor %}
														</div>
													</div>

													<div class="list-item">
														<span class="ico ico-flag"></span>
														<div class="item-text">


															<p>
																<strong>Número de Mexicanos:</strong>
															</p>
															{% for descriptions in school.descriptions %}
																<p>{{ descriptions.totalMexicans }}</p>
															{% endfor %}

														</div>
													</div>

													<div class="list-item">
														<span class="ico ico-building"></span>
														<div class="item-text">
															<p>
																<strong>Ciudad más cercana:</strong>
															</p>
															{% for descriptions in school.descriptions %}
																<p>{{ descriptions.closestCity }}</p>
															{% endfor %}
														</div>
													</div>
													<div class="list-item">
														<span class="ico ico-plane"></span>
														<div class="item-text">
															<p>
																<strong>Aeropuerto internacional más cercano:</strong>
															</p>
															<p>
																{% for descriptions in school.descriptions %}
																	{{ descriptions.airport|default('-') }}
																{% endfor %}
															</p>
														</div>
													</div>

													<div class="list-item">
														<span class="ico ico-money"></span>
														<div class="item-text">
															<p>
																<strong>Costos
																	{% for descriptions in school.descriptions %}
																		{{ descriptions.period|default('-') }}
																	{% endfor %}:</strong>
															</p>
															<p>
																{% for descriptions in school.descriptions %}
																	{{ descriptions.cost is defined ? '$' ~ descriptions.cost|number_format(0) : '-' }}
																{% endfor %}
															</p>
														</div>
													</div>

													<div class="list-item">
														<span class="ico ico-group"></span>
														<div class="item-text">
															<p>
																<strong>Dresscode</strong>
															</p>
															{% for descriptions in school.descriptions %}
																<p>{{ descriptions.dresscode| default('-') }}</p>
															{% endfor %}
														</div>
													</div>

													<div class="list-item">
														<span class="ico ico-building"></span>
														<div class="item-text">
															<p>
																<strong>Fundada en</strong>
															</p>
															{% for descriptions in school.descriptions %}
																<p>{{ descriptions.founded| default('-') }}</p>
															{% endfor %}
														</div>
													</div>

												</div>
											</div>
										</div>

										<div class="col-12 basic-style">
											<div class="card-border-wrap m-b-2">
												<h2>LINKS</h2>
												<div class="links-list">
													{% if school.website %}
														<a href="{{ school.website }}" target="_blank" class="url-data">Página
																																													                                                        web</a>
													{% endif %}
													{% if school.academics %}
														<a href="{{ school.academics }}" target="_blank" class="url-data">Academics</a>
													{% endif %}
													{% if school.deportes %}
														<a href="{{ school.deportes }}" target="_blank" class="url-data">Deportes</a>
													{% endif %}
													{% if school.artes %}
														<a href="{{ school.artes }}" target="_blank" class="url-data">Artes</a>
													{% endif %}
													{% if school.boarding %}
														<a href="{{ school.boarding }}" target="_blank" class="url-data">Boarding
																																													                                                        Life</a>
													{% endif %}
													{% for descriptions in school.descriptions %}
														<a href="{{ descriptions.tourVirtual }}" target="_blank" class="url-data xl">
															Campus Tour Virtual Link
														</a>
													{% endfor %}
												</div>
											</div>
											{% if school.sports is not empty %}
												<div class="card-border-wrap">
													<div class="accordion-wrap">
														<a href="#">
															DEPORTES
														</a>
														<div class="cont-items">
															<ul class="list-activities">
																{% for actv in school.sports %}
																	<li class="item">
																		{{ actv.name| default('-') }}
																	</li>
																{% endfor %}
															</ul>
														</div>
													</div>
												{% endif %}
												{% if school.activities is not empty %}
													<div class="accordion-wrap">
														<a href="#">
															CLUBS & ACTIVIDADES
														</a>
														<div class="cont-items">
															<ul class="list-activities">
																{% for actv in school.activities %}
																	<li class="item">
																		{{ actv.name| default('-') }}
																	</li>
																{% endfor %}
															</ul>
														</div>
													</div>
												{% endif %}


												{% set hasExtras = false %}
												{% for descriptions in school.descriptions %}
													{% if descriptions.esl or descriptions.military or descriptions.religion or descriptions.advancesClasses or
                                                    descriptions.ib or descriptions.saturdayClasses or descriptions.iGSCE or descriptions.aLevel or
                                                    descriptions.requiereGuardian or descriptions.applicationDeadline or descriptions.rollingAdmission %}
														{% set hasExtras = true %}
													{% endif %}
												{% endfor %}


												{% if hasExtras %}
													<div class="accordion-wrap">
														<a href="#">
															EXTRAS
														</a>
														<div class="cont-items">
															<ul class="list-activities">
																{% for descriptions in school.descriptions %}
																	{% if descriptions.esl %}
																		<li class="item">ESL (English Second Language)</li>
																	{% endif %}
																	{% if descriptions.military %}
																		<li class="item">Militar</li>
																	{% endif %}
																	{% if descriptions.religion %}
																		<li class="item">Religión</li>
																	{% endif %}
																	{% if descriptions.advancesClasses %}
																		<li class="item">AP/Gifted/Advances classes</li>
																	{% endif %}
																	{% if descriptions.ib %}
																		<li class="item">IB Prog (International
																																																									                                                                        Baccalaureate)
																		</li>
																	{% endif %}
																	{% if descriptions.saturdayClasses %}
																		<li class="item">Saturday Classes</li>
																	{% endif %}
																	{% if descriptions.iGSCE %}
																		<li class="item">iGSCE o GSCE</li>
																	{% endif %}
																	{% if descriptions.aLevel %}
																		<li class="item">A Level</li>
																	{% endif %}
																	{% if descriptions.requiereGuardian %}
																		<li class="item">Requiere Guardian</li>
																	{% endif %}
																	{% if descriptions.applicationDeadline %}
																		<li class="item">Application Deadline</li>
																	{% endif %}
																	{% if descriptions.rollingAdmission %}
																		<li class="item">Rolling Admission</li>
																	{% endif %}
																{% endfor %}
															</ul>
														</div>
													</div>
												{% endif %}
											</div>
										</div>
									</div>

								</div>

								<div class="tab-content" id="ex1-content">
									<div class="tab-pane fade" id="tab-galeria" role="tabpanel" aria-labelledby="btn-tab-galeria" tabindex="0">
										<div class='row'>
											{% set videos = school.Gallery|filter((v, k) => v.type == "video"  and v.url is not empty) %}
											{% set pictures = school.Gallery|filter((v, k) => v.type == "image") %}
											<div class="tab-container">
												<div class="col-24 basic-style">
													<div class="card-border-wrap">
														<div class="row">
															<div class="col-20 offset-2">
																<ul class="nav nav-tabs d-flex align-items-center justify-content-center" id="galleryTabs">
																	<li class="nav-item m-x-1">
																		<a class="nav-link active" id="tab-pictures" data-bs-toggle="tab" href="#content-pictures" role="tab">
																			Fotografías
																		</a>
																	</li>
																	<li class="nav-item d-flex align-items-center justify-content-center">
																		<div class="palo"></div>
																	</li>
																	<li class="nav-item m-x-1">
																		<a class="nav-link" id="tab-videos" data-bs-toggle="tab" href="#content-videos" role="tab">
																			Videos
																		</a>
																	</li>
                                                                    <img src="{{ asset('build/images/template/b-left.png') }}" alt="Roel Education Logo" class=" img-fluid logo-galery">
																</ul>
																<div class="tab-content">
																	<div class="tab-pane fade show active" id="content-pictures" role="tabpanel">
																		{% include 'school/tab/_pictures.html.twig' %}
																	</div>


																	<div class="tab-pane fade" id="content-videos" role="tabpanel">
																		{% include 'school/tab/_videos.html.twig' %}
																	</div>
																</div>
                                                                
															</div>
														</div>
													</div>
												</div>

											</div>

										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
