{% extends 'base.html.twig' %}

{% block title %}
  Oferta
{% endblock %}

{% block body %}
   <div class="content-wrapper">
        {{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
        <div class="form-wrap main-form-style m-y-2 m-t-2">
            <div class="row">
                <div class="col-md-24 p-x-1">
                    <div class="row">
                        <div class="col-22 d-flex align-items-center">
                            <a href="{{ path('app_school_index') }}" class='m-r-1'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                                    <circle cx="19.3569" cy="18.7383" r="18.4819" transform="rotate(-180 19.3569 18.7383)" fill="#F4F7FA"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8022 25.899C21.2087 26.3055 21.8678 26.3055 22.2742 25.899C22.6807 25.4925 22.6807 24.8335 22.2742 24.427L16.5853 18.7381L22.2733 13.05C22.6798 12.6436 22.6798 11.9845 22.2733 11.578C21.8668 11.1716 21.2078 11.1716 20.8013 11.578L14.4227 17.9567C14.2051 18.1742 14.104 18.4642 14.1193 18.749C14.1099 19.027 14.2114 19.3081 14.4236 19.5204L20.8022 25.899Z" fill="#355389"/>
                                </svg>
                            </a>
                            <h1>{{ school.name }}</h1>
                        </div>
                        <div class="col-22">
                            <p class="subtitle">Visualiza los detalles de las ofertas disponibles en la plataforma</p>
                        </div>
                    </div>
                    <div class="row">
                        {{ include('school/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
