<div class="col-3 d-flex align-items-center justify-content-end">
    <div class="dropdown">
        <div class="btn-group dropstart">
            <button type="button" class="btn " data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                     viewbox="0 0 512 512">
                    <path d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"/>
                </svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li>
                    <a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}"
                       class="dropdown-item" type="button">
                        <img class="icon" src="{{ asset('build/images/icons/edit.svg') }}"/>
                        Editar
                    </a>
                    <hr>

                </li>
                <li>
                    <a href="{{ path('app_candidate_process', {'id': candidate.id}) }}"
                       class="dropdown-item" type="button">
                        <img class="icon" src="{{ asset('build/images/icons/info.svg') }}"/>
                        Ver procesos
                    </a>
                    <hr>
                </li>
                <li>
                    <a href="{{ path('app_candidate_update_delete', {'id': candidate.id}) }}"
                       class="dropdown-item" type="button">
                        <img class="icon" src="{{ asset('build/images/icons/delet.svg') }}"/>
                        Eliminar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>