{% extends 'base.html.twig' %}
{% block title %}Editar candidato
{% endblock %}
{% block body %}
    <div class="col-md-20">
        <div class="row">
            <div class="col-23 mx-auto">
                {{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
                <div class=" content-list">
                    <div class="row">
                        <div class="form-wrap main-form-style">
                            <div class="row title-wrap">
                                <div class="txt-header ">
                                    <h2 class="fw-bold text-uppercase">Editar candidato</h2>
                                </div>
                                {{ include('candidate/_form.html.twig', {'button_label': 'Update'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}