{% extends 'base.html.twig' %}
{% block title %}Aspirantes
{% endblock %}
{% block body %}
	<div
		class="col-md-20">
		{# MAIN CONTAINER #}
		<div class="row">
			<div class="col-23 mx-auto">
				{{ render(controller('App\\Controller\\NotificationBarController::index' )) }}

				<div class=" content-list">
					<div class="row">
						<div class="title-wrap">
							<div>
								<h2 class="fw-bold">ASPIRANTES</h2>
								{% if is_granted('ROLE_OPERADOR') %}
									<h3>Consulta, creación y modificación de tus aspírantes y sus procesos.</h3>
								{% endif %}
							</div>
							<div class="img-wrap">
								<img class="img-fluid" src="{{ asset('build/images/template/b-left.png') }}" alt="">
							</div>
							{% if is_granted('ROLE_OPERADOR') %}
								<div class="d-flex btn-cont justify-content-end actions-buttons m-y-2"></a>


								<a class="btn btn-secondary btn-new" href="{{ path('app_candidate_new') }}">
									Nuevo aspirante
								</a>


							</div>
						{% endif %}
					</div>
				</div>
				<div class="row header-list text-cente">
					<div class="col-1 d-flex align-items-center justify-content-center ">
						ID
					</div>
					<div class="col-1 d-flex align-items-center justify-content-center ">
						Foto
					</div>
					<div class="col-3 d-flex align-items-center justify-content-center ">
						Nombre
					</div>
					<div class="col-3 d-flex align-items-center justify-content-center ">
						Apellidos
					</div>
					<div class="col-3 d-flex align-items-center justify-content-center ">
						Fecha de N.
					</div>
					<div class="col-4 d-flex align-items-center justify-content-center ">
						Email
					</div>
					<div class="col-2 d-flex align-items-center justify-content-center ">
						Teléfono
					</div>
					{# <div class="col-3 d-flex align-items-center">
									                    Dirección
									                </div> #}
					<div class="col-4 d-flex align-items-center justify-content-center ">
						Tutor(a)
					</div>
					<div class="col-2 d-flex align-items-center justify-content-center ">
						Procesos:
					</div>
				</div>
				{% for candidate in candidates %}
					<div class="row item-list text-center">
						<div class="col-1 d-flex align-items-center justify-content-center ">
							{{ candidate.id }}
						</div>
						<div class="col-1 d-flex align-items-center  justify-content-center ">
							<img class="img-fluid user-img" src="{{ asset(candidate.image is defined and candidate.image ? ('uploads/media/' ~ candidate.image)|imagine_filter('square_thumbnail') : 'build/images/icons/def/user.svg') }}" alt="">
						</div>
						<div class="col-3 item-primary d-flex align-items-center justify-content-center ">
							{{ candidate.name }}
						</div>
						<div class="col-3 item-primary d-flex align-items-center justify-content-center ">
							{{ candidate.lastname }}
						</div>
						<div class="col-3 item-secondary d-flex align-items-center justify-content-center ">
							{% if candidate.birthday is defined and  candidate.birthday is not null %}
								{{ candidate.birthday|date('d-m-Y') }}
							{% endif %}
						</div>
						<div class="col-4 item-mail d-flex align-items-center justify-content-center ">
							<div class="cont-mail">
								{{ candidate.email }}
							</div>
						</div>

						<div class="col-2 item-secondary d-flex align-items-center justify-content-center ">
							{{ candidate.phoneNumber }}
						</div>
						{# <div class="col-3 item-secondary d-flex align-items-center">
											                        {{ candidate.street }}
											                    </div> #}
						<div class="col-4 item-primary d-flex align-items-center justify-content-center ">
							{% if candidate.owner is not null %}
								{{ candidate.owner.name }}
								{{ candidate.owner.lastName }}
							{% else %}
								--
							{% endif %}
						</div>
						{% if is_granted('ROLE_OPERADOR') %}
							{% include 'candidate/_item_actions.html.twig' %}
						{% else %}
							<div class="col-3 item-proces d-flex align-items-center p-x-2">
								<a href="{{ path('app_candidate_process', {'id': candidate.id}) }}" class="btn-entrar d-flex justify-content-center align-items-center">
									Entrar
									<svg width="102" height="102" viewbox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M23.7716 98.8041C22.3656 97.3976 21.5757 95.4903 21.5757 93.5016C21.5757 91.5129 22.3656 89.6056 23.7716 88.1991L60.8966 51.0741L23.7716 13.9491C22.4054 12.5346 21.6495 10.6401 21.6666 8.67358C21.6836 6.70711 22.4724 4.82601 23.863 3.43545C25.2535 2.04489 27.1346 1.25613 29.1011 1.23904C31.0676 1.22196 32.9621 1.97791 34.3766 3.3441L76.8041 45.7716C78.2101 47.1781 79 49.0854 79 51.0741C79 53.0628 78.2101 54.9701 76.8041 56.3766L34.3766 98.8041C32.9701 100.21 31.0628 101 29.0741 101C27.0854 101 25.1781 100.21 23.7716 98.8041Z" fill="white"/>
									</svg>

								</a>
							</div>
						{% endif %}
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
	<div class="col-md-19 ">
		<div class="row">
			<div class="col-23 mx-auto"></div>
		</div>
		<!-- Modal -->
		<div class="modal" id="modalClave" tabindex="-1" aria-labelledby="modalClave" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header d-block">
						<div class="modal-title">
							<h1 class="modal-title" id="exampleModalLabel">Nuevo aspirante con clave</h1>
							<h6>Ingresa la clave de usuario para cofirmar el registro</h6>
						</div>
						<p>Clave de usuario</p>
					</div>
					<div class="modal-body">
						<label class="mb-3">
							Clave de X dígitos
						</label>
						<div class="d-flex align-items-center justify-content-between cont-acction">
							<input type="text">
							<button type="button" class="btn btn-return" data-bs-dismiss="modal">Volver al
															                            listado
							</button>
							<button type="button" class="btn modal-btn-anadir btn-orange">Añadir</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
