{% extends 'base.html.twig' %}

{% block title %}Nuevo aspirante
{% endblock %}

{% block body %}
	<div class="col-md-20">
		<div class="row">
			<div class="col-23 mx-auto">
				{{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
				<div class=" content-list">
					<div class="row">
						<div class=" main-form-style">
							<div class="row title-wrap">

								<div class="txt-header ">
									<h2 class="fw-bold text-uppercase">Nuevo aspirante</h2>
									<h3 class="">Agrega un nuevo aspirante indica su información personal y otros detalles.</h3>
								</div>
								<div class="row form-wrap">
									{{ include('candidate/_form.html.twig') }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
