<div class="row response-management">
    <div class="col-24">
        <div class="title-section">
            <div class="info-wrap">
                <h3 class="etapa-name">ETAPA - {{ process.stage.name }}</h3>
                <h4>{{ process.name }}</h4>
            </div>
            <div class="actions-wrap">
                {% if is_granted('ROLE_OPERADOR') %}
                    <div>
                        <label for="switchApproved" class="m-r-1">Validar etapa</label>
                        <label class="switch">
                            <input type="checkbox" id="switchApproved" data-type="Stage" {% if process.stage.approved %} checked {% endif %} data-id="{{ process.stage.id }}" data-route="{{ path('update_stage_approved') }}">
                            <span class="slider"></span>
                        </label>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_OPERADOR') %}
                    <div>
                        <label for="switchApproved" class="m-r-1">Validar Proceso</label>
                        <label class="switch">
                            <input type="checkbox" data-type="Process" id="switchApproved" {% if process.approved %} checked {% endif %} data-id="{{ process.id }}" data-route="{{ path('update_stage_approved') }}">
                            <span class="slider"></span>
                        </label>
                    </div>
                {% endif %}
            </div>
        </div>

        <hr>
        {% for item in process.children %}
            <div class="title-section">
                <div class="info-wrap">
                    <h5>{{ item.name }}</h5>
                </div>
                <div class="actions-wrap">
                    {% if is_granted('ROLE_OPERADOR') %}
                        <label for="switchApproved" class="m-r-1">Validar Proceso</label>
                        <label class="switch">
                            <input type="checkbox" data-type="Process" id="switchApproved" {% if item.approved %} checked {% endif %} data-id="{{ item.id }}" data-route="{{ path('update_stage_approved') }}">
                            <span class="slider"></span>
                        </label>
                    {% endif %}
                </div>
            </div>

            {% for documento in item.documents %}
                <div class="row information">
                    <div class="col-md-12 m-y-1">
                        <p>{{ documento.name }}</p>
                    </div>
                    <div class="col-md-12 text-end m-y-1">
                        {% set file = false %}
                        {% if documento.candidateDocuments is not empty %}
                            {% set file = true %}
                            {% for file in documento.candidateDocuments %}
                                {% set fileExtension = file.file|split('.')|last|lower %}
                                {% if fileExtension == 'pdf' %}
                                    <a href="{{ vich_uploader_asset(file, 'documentFile') }}" target="_blank">
                                        <i class="fas fa-file-pdf"></i>
                                        {{ file.file }}
                                    </a>
                                {% elseif fileExtension in ['jpg', 'jpeg', 'png', 'gif'] %}
                                    <a href="{{ vich_uploader_asset(file, 'documentFile') }}" download>
                                        <i class="fas fa-image"></i>
                                        {{ file.file }}
                                    </a>
                                {% else %}
                                    <a href="{{ vich_uploader_asset(file, 'documentFile') }}" download>
                                        {{ file.file }}</a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>Pendiente</p>
                        {% endif %}
                    </div>
                    <div class="form-fiele m-y-2">
                        <form class="update-document-form" data-document-id="{{ documento.id }}" action="{{ path('upload_document', {'id': process.candidate.id, 'documentId': documento.id}) }}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <button type="submit" class="btn btn-primary">Actualizar documento</button>
                        </form>
                    </div>
                    <hr>
                </div>
            {% endfor %}

            {% for documento in item.fields %}
            <div class="row information ">
                <div class="col-md-12 m-y-1">
                    <p class="{{ documento.type == 1 ? 'js-generate-form' : '' }}" data-id={{ documento.id }}>{{ documento.name }}</p>
                    {% if documento.description is not empty %}
                        <div class="description-cont">
                            {{ documento.description|raw }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-12 text-end m-y-1">
                    {% set answer = '' %}
                    {% set accept = 0 %}
                    {% if documento.candidateFields is not empty %}
                        {% for file in documento.candidateFields %}
                            {% if documento.type == 2 %}
                                {% set accept = file.accept %}
                            {% else %}
                                {% set answer = file.answer %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if documento.type == 2 %}
                        <input type="checkbox" id="scales" name="scales" {{ accept == 1 ? 'checked' : '' }} class="js-update-answer-approved" data-url="{{ path('update_answer_approved', {'id': process.candidate.id, 'fieldId': documento.id}) }}"/>
                    {% else %}
                        <p>Pendiente</p>
                    {% endif %}


                </div>
                {# {% if documento.type == 1 %}
                    <div class="col-md-24">
                        <textarea id="story" name="answer" class="w-100">{{ answer }}</textarea>
                        <a href="{{ path('app_candidate_process_answer', {'id': process.candidate.id, 'fieldId': documento.id}) }}" class="js-update-answer btn btn-primary m-t-1 m-b-2">
                            Aceptar
                        </a>
                    </div>
                {% endif %} #}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
