{% extends 'base.html.twig' %}
{% block title %}Aspirantes
{% endblock %}
{% block body %}
	<div
		class="col-md-20">
		{# MAIN CONTAINER #}
		<div class="row">
			<div class="col-23 mx-auto">
				{{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
				<div class=" card-wrap">
					<div class="row m-t-1">
						<div class="col-6">
							<div class="user-info-wrap">
								<div class="img-wrap m-b-3">
									<img class="img-fluid user-img" src="{{ asset(candidate.image is defined and candidate.image ? ('uploads/media/' ~ candidate.image)|imagine_filter('square_large_thumbnail') : 'build/images/icons/def/user.svg') }}" alt="">
								</div>

								<h3 class="m-b-3 xl">
									{{ candidate.name }}
									{{ candidate.lastName }}
								</h3>
								<h4 class="m-b-3">Información Personal</h4>
								<div class="list-details p-l-4">
									<p>
										<span class="ico ico-cake"></span>
										{{ candidate.birthday|date('d-m-Y') }}
									</p>
									<p class="mail-max">
										<span class="ico ico-mail"></span>
										{{ candidate.email }}
									</p>
									<p>
										<span class="ico ico-phone"></span>
										{{ candidate.phoneNumber }}
									</p>
									<p>
										<span class="ico ico-pin"></span>
										{{ candidate.street }}
										{{ candidate.outNumber }},
										{{ candidate.state }}
									</p>

									{% if candidate.currentSchool %}
										<p>
											<span class="ico ico-scholl"></span>
											{{ candidate.currentSchool }}
										</p>
									{% endif %}
									{% if candidate.currentGrade %}
										<p>
											<span class="ico ico-book"></span>
											{{ candidate.currentGrade }}
										</p>
									{% endif %}

								</div>
							</div>
						</div>
						<div class="col-18 p-x-4">
							<div class="main-info-wrap">
								<div class="title-wrap actions-buttons">
									<h2 class="fw-bold">ESCUELAS Y PROCESOS</h2>

									{% if is_granted('ROLE_OPERADOR') %}
										<div class="col-md-6 d-flex justify-center align-items-center justify-content-end ">
											<a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}" class="btn  btn btn-secondary btn-new m-y-2">
												Agregar oferta
											</a>
										</div>
									{% else %}
										<div class="img-wrap">
											<img class="img-fluid" src="{{ asset('build/images/template/b-left.png') }}" alt="">
										</div>

									{% endif %}
								</div>
								<div>

									{% for escuela in schools %}
										<div class="card-school-item m-b-2">
											<div class="image-wrap">
												<img class="img-fluid" src="{{ asset(escuela.school.image is defined and escuela.school.image ? ('/uploads/media/' ~ escuela.school.image)|imagine_filter('school_large_thumbnail') : 'build/images/icons/def/academy-2.svg') }}" alt="{{ escuela.school.name }}">
											</div>
											<div class="school-info-wrap">
												<h3>{{ escuela.school.name }}</h3>
												<div class="">
													<img class="img-fluid flag" src="{{ vich_uploader_asset(escuela.school.country, 'imageFile') }}"/>
													<p>{{ escuela.school.fullAddress }}</p>
												</div>
											</div>
											<div class="progress-wrap">
												<h3 class="m-b-1">Progreso de la Aplicación</h3>
												{% set porcentaje = escuela.approvedStagesPercentage %}
												<div class="barra-de-progreso">
													<div class="progreso" style="width: {{ porcentaje }}%;"></div>
												</div>
												<h2>{{ (porcentaje + 0.999)|round(0, 'floor') }}%</h2>
												<h5>Etapa
													{{ escuela.approvedStagesCount }}
													de
													{{ escuela.stage|length }}</h5>
												<a href="{{ path('app_candidate_school_process', {'id': candidate.id, 'school': escuela.school.id}) }}" class="go-stage">
													<svg width="9" height="16" viewbox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M2.27344 1.11541C1.86696 0.708927 1.20792 0.708927 0.801442 1.11541C0.394962 1.52189 0.394962 2.18092 0.801442 2.5874L6.49038 8.27634L0.802358 13.9644C0.395878 14.3708 0.395878 15.0299 0.802358 15.4364C1.20884 15.8428 1.86787 15.8428 2.27435 15.4364L8.653 9.05772C8.87056 8.84016 8.97167 8.55024 8.95634 8.26543C8.96574 7.98738 8.86432 7.70629 8.65208 7.49405L2.27344 1.11541Z" fill="#BEC2CE"/>
													</svg>
												</a>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
