{% extends 'base.html.twig' %}
{% block title %}Aspirantes
{% endblock %}
{% block body %}
	<div class="col-md-20">
		<div class="row">
			<div class="col-23 mx-auto">
				{{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
				<div class="h-proces">
					<div class="row m-t-1">
						<div class="col-md-24">
							<div class="card-wrap h-school h-100 scrol-none">
								<div class="header-wrap">
									<div class="student-info-wrap">
										<h2 class="fw-bold">
											{{ candidate.name }}
											{{ candidate.lastName }}
										</h2>
										<h4>
											{{ candidate.processes|length }}
											PROCESOS
										</h4>
									</div>
									<div class="img-wrap">
										<img class="img-fluid" src="{{ asset('build/images/template/b-left.png') }}" alt="">
									</div>

									{% if  is_granted('ROLE_ADMIN') %}
										<a href="{{ path('candidate_delete_record', {'id': candidate.id, 'schoolId': escuela.id}) }}" class="btn btn-danger registro">Eliminar registro</a>
									{% endif %}
								</div>
								<div class="card-school-item m-b-1">
									<div class="image-wrap small">
										<img class="img-fluid" src="{{ asset(escuela.image is defined and escuela.image ? ('/uploads/media/' ~ escuela.image)|imagine_filter('school_large_thumbnail') : 'build/images/icons/def/academy-2.svg') }}" alt="{{ escuela.name }}">
									</div>
									<div class="school-info-wrap">
										<h3>{{ escuela.name }}</h3>
										<div class="">
											<img class="img-fluid flag" src="{{ vich_uploader_asset(escuela.country, 'imageFile') }}"/>
											<p>{{ escuela.city }},
												{{ escuela.state }},
												{{ escuela.country.name }}</p>
										</div>
									</div>
									<div class="progress-wrap">
										<h3 class="m-b-1">Progreso de la Aplicación</h3>
										{% set porcentaje = info.approvedStagesPercentage %}
										<div class="barra-de-progreso">
											<div class="progreso" style="width: {{ porcentaje }}%;"></div>
										</div>
										<h2>
										{{ (porcentaje + 0.999)|round(0, 'floor') }}%
										</h2>
										<h5>Etapa
											{{ info.approvedStagesCount }}
											de
											{{ stage|length }}</h5>
										{% if  is_granted('ROLE_TUTOR') %}
											<a href="{{ path('app_school_show', {'id': escuela.id}) }}" class="go-stage xl">
												<svg width="10.8" height="19.2" viewbox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M2.27344 1.11541C1.86696 0.708927 1.20792 0.708927 0.801442 1.11541C0.394962 1.52189 0.394962 2.18092 0.801442 2.5874L6.49038 8.27634L0.802358 13.9644C0.395878 14.3708 0.395878 15.0299 0.802358 15.4364C1.20884 15.8428 1.86787 15.8428 2.27435 15.4364L8.653 9.05772C8.87056 8.84016 8.97167 8.55024 8.95634 8.26543C8.96574 7.98738 8.86432 7.70629 8.65208 7.49405L2.27344 1.11541Z" fill="#BEC2CE"/>
												</svg>

											</a>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row m-t-1 school-candidate-process">
						<div class="col-md-10">
							<div class="card-wrap  cont-process basic-style h-auto scrol-none">
								<h2>HISTORIAL DEL PROCESO</h2>
								<div class="cont p-3 js-inical">
									{% for item in process %}
										<div class="section-title">
											<h3>
												{{ item.name }}
											</h3>
											{% if is_granted('ROLE_OPERADOR') %}
												<a class="btn-editar d-flex align-items-center" href="{{ path('app_candidate_stage', {'id': item.id, 'candidate': candidate.id}) }}">
													Editar
												</a>
											{% endif %}
										</div>
										{% for itemPro in item.processes %}

											<div class="card-item js-scroll {{ itemPro.approved ? 'validate' : '' }}">
												<div class="info">
													<div class="estatus-{{ itemPro.status }} ">
														<svg width="39" height="40" viewbox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
															<circle cx="19.4995" cy="20.4458" r="19.4995" fill="#DEE7EF"/>
															<path fill-rule="evenodd" clip-rule="evenodd" d="M29.5428 14.6564C28.6624 13.776 27.2349 13.776 26.3545 14.6564L18.0263 22.9846L14.6445 19.6029C13.7641 18.7225 12.3366 18.7225 11.4562 19.6029C10.5758 20.4833 10.5758 21.9107 11.4562 22.7912L16.4184 27.7533C16.8594 28.1944 17.4378 28.4145 18.0159 28.4136C18.6008 28.4198 19.1877 28.1998 19.634 27.7535L29.5428 17.8447C30.4232 16.9643 30.4232 15.5368 29.5428 14.6564Z" fill="white"/>
														</svg>
													</div>
													<div class="info-text">
														<h4>
															{{ itemPro.name }}
														</h4>
														<p>
															{% if itemPro.approved == 1 %}
																Concluido
															{% elseif itemPro.approved == 0 %}
																Pendiente
															{% endif %}
														</p>
													</div>
												</div>
												<div class="accion d-flex align-items-center js-switch-active">
													<a href="{{ path('consulta_process', {'processId': itemPro.id}) }}" class="go-stage">
														<svg width="9" height="16" viewbox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path fill-rule="evenodd" clip-rule="evenodd" d="M2.27344 1.11541C1.86696 0.708927 1.20792 0.708927 0.801442 1.11541C0.394962 1.52189 0.394962 2.18092 0.801442 2.5874L6.49038 8.27634L0.802358 13.9644C0.395878 14.3708 0.395878 15.0299 0.802358 15.4364C1.20884 15.8428 1.86787 15.8428 2.27435 15.4364L8.653 9.05772C8.87056 8.84016 8.97167 8.55024 8.95634 8.26543C8.96574 7.98738 8.86432 7.70629 8.65208 7.49405L2.27344 1.11541Z" fill="#BEC2CE"/>
														</svg>
													</a>
												</div>
											</div>
										{% endfor %}
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="col-md-14 js-top">
							<div class="card-wrap  inf-stage-process basic-style p-y-3 p-x-5 scrol-none h-auto" id='form-stage'></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
