{% extends 'base.html.twig' %}

{% block title %}Editar operador
{% endblock %}

{% block body %}
	<div class="col-md-20">
		<div class="row">
			<div class="col-23 mx-auto">
				{{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
				<div class=" content-list">
					<div class="row m-t-2">
						<div class="form-wrap main-form-style">

							<h2 class="fw-bold text-uppercase">Editar operador</h2>
							{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
