{% extends 'base.html.twig' %}
{% block title %}Operadores
{% endblock %}
{% block body %}
	{% set estados = {1:'activo', 2:'pausado', 3:'suspendido'} %}
	<div class="col-md-20">
		<div class="row">
			<div class="col-23 mx-auto">
				{{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
				<div class=" content-list">
					<div class="row title-wrap m-t-2">
						<div class="txt-header ">
							<h2 class="fw-bold text-uppercase">Operadores</h2>
							<h3>Consulta. creación y modificación de tus aspírantes y sus procesos.</h3>
						</div>
						<div class="d-flex btn-cont justify-content-end actions-buttons ">
							<a class="btn btn-secondary btn-new btn-operator" href="{{ path('app_user_new') }}">Nuevo operador</a>
						</div>
					</div>
					<div class="row header-list">
						<div class="col-1 d-flex align-items-center justify-content-center ">
							ID
						</div>
						<div class="col-1 d-flex align-items-center justify-content-center ">
							Foto
						</div>
						<div class="col-2 d-flex align-items-center justify-content-center ">
							Nombre
						</div>
						<div class="col-3 d-flex align-items-center justify-content-center ">
							Apellidos
						</div>
						<div class="col-6 d-flex align-items-center justify-content-center ">
							Email
						</div>
						<div class="col-3 d-flex align-items-center justify-content-center ">
							Teléfono
						</div>
						<div class="col-2 d-flex align-items-center justify-content-center ">
							Asignados
						</div>
						<div class="col-3 d-flex align-items-center justify-content-center ">
							Estado
						</div>
						<div class="col-1 d-flex align-items-center justify-content-center "></div>
					</div>

					{% for user in users %}
						<div class="row item-list">

							<div class="col-1 d-flex align-items-center">
								{{ user.id }}
							</div>
							<div
								class="col-1 d-flex align-items-center justify-content-center ">
								{# <img class="img-fluid user-img" src="{{ vich_uploader_asset(user, 'imageFile') }}"/> #}
								<img class="img-fluid user-img" src="{{ asset(user.image is defined and user.image ? ('uploads/media/' ~ user.image)|imagine_filter('square_thumbnail') : 'build/images/icons/def/user.svg') }}" alt="">
							</div>
							<div class="col-2 item-primary d-flex align-items-center justify-content-center ">
								{{ user.name }}
							</div>
							<div class="col-3 item-primary d-flex align-items-center justify-content-center ">
								{{ user.lastname }}
							</div>
							<div class="col-6 item-mail d-flex align-items-center justify-content-center ">
								{{ user.email }}
							</div>
							<div class="col-3 item-secondary d-flex align-items-center justify-content-center ">
								{{ user.phoneNumber }}
							</div>
							<div class="col-2 item-proces d-flex align-items-center justify-content-center ">
								{{ user.operatorCandidates|length }}
								aspirantes
							</div>
							<div class="col-3  d-flex align-items-center justify-content-center ">
								{% if user.status is not null %}
									<span class="estado {{estados[user.status]}}">{{estados[user.status]|upper}}</span>
								{% else %}
									--
								{% endif %}
							</div>
							<div class="col-1 d-flex align-items-center justify-content-center ">
								<div class="dropdown">
									<div class="btn-group dropstart">
										<button type="button" class="btn " data-bs-toggle="dropdown" aria-expanded="false">
											<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewbox="0 0 512 512">
												<path d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"/>
											</svg>
										</button>
										<ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
											<li>
												<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="dropdown-item" type="button">
													<img class="icon" src="{{ asset('build/images/icons/edit.svg') }}"/>
													Editar
												</a>
											</li>
											{% if user.status != 2 %}
												<li>
													<a href="{{ path('app_user_pause', {'id': user.id}) }}" class="dropdown-item" type="button">
														<img class="icon" src="{{ asset('build/images/icons/Vector.svg') }}"/>
														Pausar
													</a>
												</li>
											{%endif %}
											{% if user.status != 3 %}
												<li>
													<a href="{{ path('app_user_suspendido', {'id': user.id}) }}" class="dropdown-item" type="button">
														<img class="icon" src="{{ asset('build/images/icons/Vector-1.svg') }}"/>
														Suspender
													</a>
												</li>
											{%endif %}
											{% if user.status != 1 %}
												<li>
													<a href="{{ path('app_user_activo', {'id': user.id}) }}" class="dropdown-item" type="button">
														<img class="icon" src="{{ asset('build/images/icons/activar.svg') }}"/>
														Activar
													</a>
												</li>
											{%endif %}

										</ul>
									</div>
								</div>
							</div>
						</div>

					{% else %}
						<tr>
							<td colspan="13">No se encontró ningún registro</td>
						</tr>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
