{% extends 'base.html.twig' %}

{% block title %}Nuevo operador
{% endblock %}

{% block body %}
	<div class="col-md-20">
		<div class="row">
			<div class="col-23 mx-auto">
				{{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
				<div class=" content-list">
					<div class="row title-wrap">
						<div class="form-wrap main-form-style">

							<h2 class="fw-bold text-uppercase">Nuevo operador</h1>
							{{ include('user/_form.html.twig') }}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
