{% extends 'base.html.twig' %}

{% block title %}
  Operador
{% endblock %}

{% block body %}
  <div class="content-wrapper">
    {{ render(controller('App\\Controller\\NotificationBarController::index' )) }}
    <div class="form-wrap main-form-style m-y-2 m-t-2">
        <div class="row">
            <div class="col-md-24 p-x-1">
                <h1>Operador</h1>
                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
